

/* Learn CSS */
@import url(https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css);
@import url(../fonts/montserrat-font.css);

/* SN */
html{cursor:default;font-family:system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Oxygen, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";font-size:62.5%;line-height:1.15;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;word-break:break-word;}
*{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
b{font-weight:700;}
h3{font-size:18px;font-weight:600;line-height:1.142;font-family: "Montserrat", Arial, sans-serif;}
h2{font-size:24px;font-weight:600;line-height:1.1;font-family: "Montserrat", Arial, sans-serif;}
h1{font-size:40px;font-weight:700;line-height:1.1;font-family: "Montserrat", Arial, sans-serif;}

/* byte of bootsrap */
.row {clear:both;display: flex;}
[class*="col-"] {}
.col-12 {width: 100%;clear: both;}
.col-11 {width: calc((100% / 12) * 11);}
.col-10 {width: calc((100% / 12) * 10);}
.col-9 {width: calc((100% / 12) * 9);}
.col-8 {width: calc((100% / 12) * 8);}
.col-7 {width: calc((100% / 12) * 7);}
.col-6 {width: calc((100% / 12) * 6);}
.col-5 {width: calc((100% / 12) * 5);}
.col-4 {width: calc((100% / 12) * 4);}
.col-3 {width: calc((100% / 12) * 3);}
.col-2 {width: calc((100% / 12) * 2);}
.col-1 {width: calc((100% / 12) * 1);}
.text-center {text-align: center;}

/* paddings */
.pt-10 {padding-top: 10px;}
.pr-10 {padding-right: 10px;}
.pb-10 {padding-bottom: 10px;}
.pl-10 {padding-left: 10px;}
.pt-15 {padding-top: 15px;}
.pr-15 {padding-right: 15px;}
.pb-15 {padding-bottom: 15px;}
.pl-15 {padding-left: 15px;}
.pt-20 {padding-top: 20px;}
.pr-20 {padding-right: 20px;}
.pb-20 {padding-bottom: 20px;}
.pl-20 {padding-left: 20px;}
.pt-30 {padding-top: 30px;}
.pr-30 {padding-right: 30px;}
.pb-30 {padding-bottom: 30px;}
.pl-30 {padding-left: 30px;}

/* margins */
.mt-30 {padding-top: 30px;}
.mr-30 {padding-right: 30px;}
.mb-30 {padding-bottom: 30px;}
.ml-30 {padding-left: 30px;}

/* cinnamon fixes */
#moderationCounter .fa {margin-top: 0;}

/* body */
html body {font-family: "Montserrat", Arial, sans-serif;font-size: 16px;font-weight: 400;line-height: 1.375;color: #303030;}

/* barries */
.berries-footer {width: calc(100% - 112px);margin:0 56px 30px;background:#ff006c;color:white;min-height: 78px;}
.berries-footer {background: #ff006c url(../graphic/footer_barries.jpg) no-repeat left center;background-size: contain;}
.berries-footer:after {content:'';height:48px;width:48px;background: url(../graphic/footer_barries_button.jpg) no-repeat left center;background-size: contain;float: right;margin: 15px 32px 0 0;}

/* widget filters topic */
.wrapwidg.learn-search-widget {margin-bottom: 30px;}

/* tabs */
.learn-tabs {text-align:center;text-transform:uppercase;position: relative;margin:0 0 30px 0;width: calc(100% - 112px);margin:0 56px;}
.learn-tabs .centered {display: flex;justify-content: center;}
.learn-tabs .tab {display:inline-block;height: 38px;line-height: 38px;padding: 0 30px;color: #ccc;border-bottom: 1px solid #aaa;font-weight: bold;min-width: 120px;text-align: center;}
.learn-tabs .tab.active, .learn-tabs .tab:hover {color: #623EE9;border-bottom: 3px solid #623EE9;text-decoration:none;}

/* filters */
.filters-toggle {cursor:pointer;height: 32px;width: 32px;position: absolute;top:0;right:0;text-indent: -9999px;background: url(../graphic/filter.svg) no-repeat center center;background-size: 24px;}
.filters {padding: 30px 56px 0;background: #fefefe;margin: 0 0 30px 0;justify-content: space-between;flex-wrap: wrap;}
.filter.column {width: calc(20% - 15px);margin:0 0 30px;}
.filter.column > input {background: #eee;border: none;width: 100%;padding: 10px;font-size: 12px;}
.filter.column h3 {font-size: 12px;font-weight: bold;text-transform: uppercase;color: #666;border-bottom: 1px solid #ddd;padding: 10px 0;margin: 0 0 10px 0;}
.filter > .scroll {max-height: 230px;overflow: auto;}
.filter > .scroll >  div {padding: 5px 0;font-size: 12px;font-weight: bold;color: #666;display: block;}
.filter > .scroll > div:before {content:'';height: 24px;width: 24px;background: #fff;border: 1px solid #ddd;display: inline-block;vertical-align: middle;margin: 0 10px 0 0;}
.filter > .scroll >  div.active:before {background: #623EE9;border-color: #623EE9;}
.filter > .scroll >  div > input {height: 24px;width: 24px;opacity: 0;vertical-align: middle;margin-left: -34px;cursor: pointer;}
.filter.column:nth-child(2) h3 {margin: 0;}

/* topics */
.topics{display:flex;flex-direction:row;flex-wrap: wrap;width: calc(100% - 112px);margin:0 56px 30px;}
.topics .topic {padding: 26px 10px 10px;border-radius: 3px;background: rgba(0,0,0,0.5);display: inline-block;margin: 0 8px 8px 0;color: #fff;font-size: 16px;height: 56px;line-height: 20px;font-weight: bold;}
.topics .topic:nth-child(2) {background: url(../graphic/topic_1.png) no-repeat center center;background-size: cover;}
.topics .topic:nth-child(3) {background: url(../graphic/topic_2.png) no-repeat center center;background-size: cover;}
.topics .topic:nth-child(4) {background: url(../graphic/topic_3.png) no-repeat center center;background-size: cover;}
.topics .topic:nth-child(5) {background: url(../graphic/topic_4.png) no-repeat center center;background-size: cover;}
.topics .topic:nth-child(6) {background: url(../graphic/topic_5.png) no-repeat center center;background-size: cover;}
.topics .topic:nth-child(7) {background: url(../graphic/topic_6.png) no-repeat center center;background-size: cover;}
.topics .topic:nth-child(8) {background: url(../graphic/topic_7.png) no-repeat center center;background-size: cover;}
.topics .topic:nth-child(9) {background: url(../graphic/topic_8.png) no-repeat center center;background-size: cover;}
.topics .topic {opacity: 0.7;cursor: pointer;}
.topics .topic:hover, .topics .topic.active {opacity: 1;}

/* buttons */
.btn-learn, .btn-learn:visited, .btn-learn:hover {border-radius: 5px;background: #623EE9;color: #fff;display: inline-block;padding: 4px 12px;line-height:24px;font-size: 14px;font-weight: bold;text-decoration: none;}
.btn-learn:hover {background: #6f55d3;}

/* tabber */
.tab-panel {display: flex;justify-content: center;}
.btn-tab {line-height: 32px;padding: 0 30px;color: #ccc;border-bottom: 1px solid #aaa;font-weight: bold;min-width: 120px;text-align: center;}
.btn-tab.active, .btn-tab:hover {color: #623EE9;border-bottom: 3px solid #623EE9;}

/* widgets */
.wrapwidg {background: none !important;}
h2.widget_title {border: none;font-size: 15px;font-weight: bold;text-transform: uppercase;color: #000;}
h2.widget_title .fa {display: none !important;}

/* header */
#header {padding: 0 56px;}
#header .logo {background: none !important;text-indent: 0;width: auto;line-height: 56px;height: 56px;font-size: 18px;text-align: left;}
.learn-canvas {display:flex;flex-direction:row;justify-content:center;align-items:center;}
.learn-canvas {height:184px;background: url(../graphic/sliderimage.jpg) no-repeat center top;background-size: cover;margin:0 0 30px 0;padding: 0 56px;}
.learn-canvas {text-transform: uppercase;color: #fff;font-size: 40px;font-weight: 700;}

/* my learn */
.wrapwidg.my-learn {margin: 0 56px 30px !important;width: calc(100% - 112px);background: none;}
.wrapwidg.my-learn .contents_wrapper  {width: 100%;display: flex;justify-content:space-between;padding: 0;margin:0 0 30px 0;}
.template-learnMyLearn.content-list-element {min-height: 80px;background: #fff;width: calc((100% - 60px) / 3);padding: 16px;flex-grow: 0;flex-basis: auto;}
.my_learn-card .item-header {margin-bottom: 10px;}
.my_learn-card .item-header .collection {font-size: 12px;text-transform: uppercase;display: block;font-weight: bold;}
.my_learn-card .item-header .level {font-size: 12px;text-transform: uppercase;display: block;}
.my_learn-card .item-title {font-size: 16px;font-weight: bold;line-height: 20px;margin-bottom: 5px;}
.wrapwidg.my-learn .pager {clear: both;text-align: center;margin:0 0 30px 0;}
.wrapwidg.my-learn .pager a {display:inline-block;height: 12px;width: 12px;text-indent: -9999px;border-radius: 50%;background: #eee;margin: 0 4px;}
.wrapwidg.my-learn .pager a:hover, .wrapwidg.my-learn .pager a.on {background: #623EE9;}

/* search */
.freetext-wrapper {position: relative;z-index: 99;height:46px;margin: -55px 0 30px;width: 100%;background: #fff;box-shadow: 0 2px 2px rgba(0,0,0,0.15);border-radius: 3px;}
.freetext-wrapper input {outline:none;border:none;margin:4px 0;height: 38px;width: calc(100% - 46px);float: left;padding:0 20px;}
.freetext-wrapper button {height: 46px;width: 46px;float: left;text-align: center;line-height: 46px;text-indent: -9999px;border:none;background: none;}
.autocompleter {background: #fff;z-index: 999;padding: 20px;box-shadow: 0 2px 2px rgba(0,0,0,0.15);border-radius: 3px;min-height: 48px;}
.autocompleter > div {padding: 4px 0;cursor: pointer;}

/* nested */
.homePage #main .wrapwidg.nestedPage.dotpager {margin: 0 56px 30px;width: calc(100% - 112px);background: none;}

/* catalog */
.learnCatalogue .widget_padding {padding: 0 15px 0 0 !important;}
.learnCatalogue .contents_wrapper {padding:0;display: flex;flex-wrap: wrap;justify-content: space-between;flex-grow: 0;}
.template-learnCatalogue {flex-basis:auto !important;width: calc(50% - 15px);border: none;background: #fff;margin:0 0 30px 0;}
.template-learnCatalogue .catalogue-content {padding: 16px;}

.catalogue-content {height:100%;color:#fff;position:relative;background-size: cover !important;background-position: center center !important;background-repeat: no-repeat !important;}
.catalogue-content:before {content:'';position: absolute;left: 0;top: 0;height: 100%;width: 100%;z-index: 0;background: rgba(0,0,0,0.2)}
.catalogue-content > div {position: relative;}
.catalogue-content .item-header {margin-bottom: 10px;}
.catalogue-content .item-header button {float: right;height: 32px;width: 24px;}
.catalogue-content .item-header .status {float: right;color: #623EE9;background: #fff;border-radius: 32px;display: inline-block;padding: 4px 12px;font-size: 14px;font-weight: bold;}
.catalogue-content .item-header .collection {font-size: 12px;text-transform: uppercase;display: block;font-weight: bold;}
.catalogue-content .item-header .level {font-size: 12px;text-transform: uppercase;display: block;}
.catalogue-content .item-header .status {float: right;color: #623EE9;background: #fff;border-radius: 32px;display: inline-block;padding: 4px 12px;font-size: 14px;font-weight: bold;}
.catalogue-content .item-header .floater {float: right;height: 32px;width: 32px;font-size: 30px;text-align: right;line-height: 32px;}
.catalogue-content .item-header .floater i {cursor: pointer;width: 100%;}
.catalogue-content .item-title {font-size: 23px;font-weight: bold;line-height: 20px;margin-bottom: 5px;}
.catalogue-content .item-category {font-size: 12px;text-transform: uppercase;font-weight: bold;}
.catalogue-content .item-info {min-height: 260px;}
.catalogue-content .item-specs {font-size: 12px;}
.catalogue-content .item-footer {clear: both;overflow: hidden;}
.catalogue-content .item-footer .btn-learn {float: right;}
.catalogue-content .item-footer .user {font-size: 12px;}
.catalogue-content .item-footer img {float: left;border-radius: 50%;width: 32px;height: 32px;margin: 0 8px 0 0;}
.catalogue-content .item-footer span {display:block;overflow: hidden;}
.catalogue-content .item-footer b {display:block;overflow: hidden;}

/* events */
.learnEvent .widget_padding {padding: 0 0 0 15px !important;}
.learnEvent .contents_wrapper {padding: 0;}
.learn-event {display:flex;position: relative;color: black;}
.learn-event:hover {text-decoration: none;}
.learn-event .calendar {text-align: center;min-width: 64px;margin: 0 16px 0 0;}
.learn-event .calendar .month {color: #D0021B;font-size: 18px;display: block;font-weight: 700;text-transform: uppercase;}
.learn-event .calendar .day {font-size: 30px;display: block;font-weight: 700;}
.learn-event .event-info {overflow: hidden;}
.learn-event .event-category {font-size: 12px;color: #909090;text-transform: uppercase;font-weight: bold;}
.learn-event .event-location {font-size: 12px;color: #909090;text-transform: uppercase;font-weight: bold;}
.learn-event .event-title {font-size: 16px;font-weight: bold;line-height: 20px;min-height:40px;margin-bottom: 5px;}
.template-learnEvent {margin: 0 0 30px 0;background: #fff;padding: 16px;min-height: 110px;}

/* mylearn */
.mylearn-item .item-header {margin-bottom: 10px;}
.mylearn-item .item-header .collection {font-size: 12px;text-transform: uppercase;display: block;font-weight: bold;}
.mylearn-item .item-header .level {font-size: 12px;text-transform: uppercase;display: block;}
.mylearn-item .item-header .floater {float: right;height: 32px;width: 32px;font-size: 30px;text-align: right;line-height: 32px;}
.mylearn-item .item-title {font-size: 16px;font-weight: bold;line-height: 20px;margin-bottom: 5px;}
.mylearn-item .item-category {font-size: 12px;text-transform: uppercase;font-weight: bold;}
.mylearn-item .item-footer {clear: both;overflow: hidden;}
.mylearn-item .item-footer .btn-learn {float: right;}

/* expanded */
.expanded .learnCatalogue .widget_padding {padding: 0 0 0 0 !important;}
.expanded .template-learnCatalogue {flex-basis:auto !important;width: calc((100% / 3) - 20px);border: none;background: #fff;margin:0 0 30px 0;}
.expanded .learnEvent .widget_padding {padding: 0 0 0 0 !important;}
.expanded .template-learnEvent {flex-basis:auto !important;width: calc((100% / 3) - 20px);border: none;background: #fff;margin:0 0 30px 0;}

/* more */
div.more {text-align: center;}
.btn.pager-more {border:none;width: auto;display: inline-block;margin: 0 auto 30px;padding:0;}
.btn.pager-more {border-radius: 5px;background: #623EE9;color: #fff;display: inline-block;padding: 4px 12px;line-height:24px;font-size: 14px;font-weight: bold;}
.btn.pager-more::before {content: 'more';}
.btn.pager-more .fa.fa-chevron-down {display: none;}

/* search page */
body[class*="search"] #home-wrapcontent {background: none;}
body[class*="search"] .learn-canvas {margin-left: calc((100vw - 100%) / -2);width: 100vw;height: 60px;}
body[class*="search"] .learn-tabs {margin-bottom: 30px;}
body[class*="search"] input.search {outline:none;border:none;margin:4px 0;height: 38px;width: calc(100%);float: left;padding:0 20px;border-radius: 3px;}
body[class*="search"] .content_search .catalogue-content {padding: 16px;margin:0 0 30px 0;}
body[class*="search"] .content_search .list-group.col-md-12 {padding: 0 15px 0 0;display: flex;flex-wrap: wrap;justify-content: space-between;}
body[class*="search"] .content_search .list-group .catalogue-content {width: calc(50% - 15px);}
body[class*="search"] .events .content_search .list-group .catalogue-content {width: 100%;}
body[class*="search"] .events .content_search .list-group.col-md-12 {padding: 0 0 0 15px;}


/* RESPONSIVE */
@media (max-width:768px) {

    .filter.column {width: calc((100% / 3) - 15px);}

    .learnCatalogue .widget_padding,
    .learnEvent .widget_padding {padding: 0 !important;}

    /* expanded */
    .expanded .learnCatalogue .widget_padding {padding: 0 0 0 0 !important;}
    .expanded .template-learnCatalogue {flex-basis:auto !important;width: calc((100% / 2) - 15px);border: none;background: #fff;margin:0 0 30px 0;}
    .expanded .learnEvent .widget_padding {padding: 0 0 0 0 !important;}
    .expanded .template-learnEvent {flex-basis:auto !important;width: calc((100% / 2) - 15px);border: none;background: #fff;margin:0 0 30px 0;}

}

/* RESPONSIVE */
@media (max-width:640px) {

    #header {padding: 0 15px;}
    .topics, .learn-tabs, .filters {width: calc(100% - 30px);margin: 0 15px 30px;}
    .homePage #main .wrapwidg.nestedPage.dotpager {margin: 0 15px 30px;width: calc(100% - 30px);}
    .wrapwidg.my-learn {margin: 0 15px 30px !important;width: calc(100% - 30px);}

    .learnCatalogue .widget_padding,
    .learnEvent .widget_padding {padding: 0 !important;}
    .column_generico+.column_generico>.wrapwidg {margin:0 !important;}
    body #header .logo {width: 100% !important;}
    .learn-canvas {font-size: 24px;line-height: 26px;padding:0 30px;}

    .wrapwidg.my-learn .contents_wrapper {flex-wrap: wrap;}
    .template-learnMyLearn.content-list-element {width: 100%;margin: 0 0 30px 0;}

    .filter.column {width: 100%;}
    .learn-tabs .tab {padding: 0 10px;min-width: 0;}


    .template-learnCatalogue {width: 100%;}
    .catalogue-content .item-info {min-height: 180px;}
    /* expanded */
    .expanded .learnCatalogue .widget_padding {padding: 0 0 0 0 !important;}
    .expanded .template-learnCatalogue {flex-basis:auto !important;width: 100%;border: none;background: #fff;margin:0 0 30px 0;}
    .expanded .learnEvent .widget_padding {padding: 0 0 0 0 !important;}
    .expanded .template-learnEvent {flex-basis:auto !important;width: 100%;border: none;background: #fff;margin:0 0 30px 0;}

    .berries-footer {width: calc(100% - 30px);margin: 0 15px 30px;}
    .berries-footer {background-size: auto 40%;}

}