/* @import url(https://giovalife.bitbucket.io/bae/css/skin.css); */

/* login */
div#wraplog {padding: 20px;}

/* desktop */
.section-link-list-table {height: 100%;}
.vjs-poster {width: 100%!important;}
.vid_wrapper>div {    border: 1px solid #c1c1c1;}
#header .wrapwidg.search_box {margin-left: calc((100vw - (((100% / 12) * 10) - 68px)) / -2) !important;}
.news-continuous-slider {height: 103px;}

/* nav */
.nav>li.menu-logout {display: none;}
.nav-title {display: none;}

@media (max-width: 576px) {

		body {width:100vw;}
		#home-wrapcontent {margin-top: 66px;max-width: 100%;overflow: hidden;}
		.wrapwidg{margin-left: 0px;} 
		.user-name{background-color: #ffffff;}
		.top-header {display: none;}
		.estedDepth1{display: flex;flex-wrap: wrap-reverse;}

		#header {width:100vw;padding-left: 0px;overflow: hidden;position: fixed;top: 0;left: 0;background: #fff;}
		#header .column_generico:first-child {padding:0;}
		#header .column_generico:last-child {padding:0;}
		#header .logo {margin:0 auto;max-width: 120px;}
		#header .logo a {text-indent: -9999px;}
		#header .logo:after {width: 100%;text-align: center;font-size: 12px;top:35px;}
		#header .navbar-toggle {float: left;margin-left:15px;position: absolute;top: -40px;left: 0px;border: none;}
		#header .navbar-nav {float: none;max-height: none;}

		/* search */
		#header .wrapwidg.search_box {margin: 0 !important;}
		#header .wrapwidg.search_box.top {width: 100%;position: relative;}
		#header .wrapwidg.search_box .widget_padding {width: 100%;}
		.search_box .form-group input {font: 15px "BLKFortExtraBold",Arial,sans-serif;padding: 0px;width: 100%;}
		.navbar-default .navbar-toggle .icon-bar {background: black;}
		#header .wrapwidg.search_box .widget_padding {padding: 20px;}
		#header .wrapwidg.search_box.top {height:80px;}

		/* navbar */
		.nav>li.menu-logout {display: block;background: #FF4713;}
		.collapse {display: block !important;height:0 !important;}
		.collapse, .collapsing {-webkit-transition: all 0.3s ease-in-out;  -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;}
		.collapse .navbar-nav {display: none;}
		.collapsing {overflow: visible;height: 0 !important;}
		.collapse.in {height: auto;height: calc(100vh - 50px) !important;}
		.collapse.in .navbar-nav {display: block;}
		.icon-search-menu {position: absolute;top:-55px;right: 20px;}
		.navbar-nav>li {padding: 0px 15px;}
		.navbar-nav>li>a {text-transform: none;padding: 0;line-height:50px;height:50px;border:none;}
		.navbar {min-height: 15px;}
		.navbar-default .navbar-brand {display: none;}
		.navbar-default .navbar-collapse, .navbar-default .navbar-form {border:none;padding: 0;}

		.nav>li {width: 100%;clear: both;}
		.navbar-nav>li>a {float: left;}
		.navbar-nav>li:after {content: '';display: block;width: 100%;clear: both;}
		.navbar-nav ul.child-level.dropdown-menu {display: block;top: 65px;left: 100%;box-shadow: none;padding: 20px 0;opacity: 0;border:none;width: 100vw;}
		.navbar-nav .open ul.child-level.dropdown-menu {left: 0;background: #fff;opacity: 1;padding: 20px 0;height: calc(100vh - 50px) !important;}
		.navbar-nav>li>a.child-menu-item:hover {background: none;}
		.navbar-nav>li>a.child-menu-item.dropdown-toggle {opacity: 1;position: relative;float: right;margin: 0;margin: 0;height: 50px;width:50px;line-height: 50px;}
		.navbar-nav>li>a.child-menu-item.dropdown-toggle:after {display: block;font-family: 'Font Awesome 5 Pro';content: "\f054";float: right;height: 42px;width: 50px;text-align: right;line-height: 50px;font-weight: bold;}
		.navbar-nav>li>a.child-menu-item.dropdown-toggle .caret {display: none;}
		.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {border-color: transparent;}
		.navbar-default .navbar-nav .open .dropdown-menu>li>a {color: #000;}
		.navbar-nav .dropdown-menu li.child.depth2.leaf {width: 100%;}
		.nav-title {display:block;padding: 0 25px;font-size: 16px;font-weight: bold;line-height: 42px;font-family: "BLKFortExtraBold";}
		.nav-title:before {display: block;font-family: 'Font Awesome 5 Pro';content: "\f053";float: left;height: 42px;width: 24px;text-align: left;line-height: 42px;}
		
		/* widget */
		.wrapwidg.clean .widget_padding {padding: 0 !important;}
		.wrapwidg.full-width {margin-left: 0;overflow: hidden;width: 100%;}
		.wrapwidg.full-width .row {margin: 0;}
		#home-wrapcontent .wrapwidg .widget_padding {padding: 0 15px;}
		#home-wrapcontent .wrapwidg .widget_padding .widget_padding {padding: 0;}
		.wrapwidg.full-width .widget_padding {padding: 0 !important;}
		.box-padding {padding: 30px 0;}
		.body-limit-width .widget_title {width: 100%;}

		/* hero */
		.hero-content-outer-wrapper {margin-left: 0;}
		.hero-content-outer-wrapper .list-group {padding: 0;}
		.section-link-list-table {width: 100%;margin: 0;padding: 15px;height: auto;float: none;clear: both;}
		.hp-middle-hero .hero-content-wrapper {width: 100%;}
		.hp-middle-hero .hero-content h2 {font-size: 48px;}
		.hp-middle-hero .hero-content-wrapper .description {width: 100%;}

		/* news */
		.news-continuous-slider h2.widget_title {border-right: 1px solid #eee;text-align: center;padding: 0px 15px;margin: 10px 0;font-size: 16px;}

		/* sections */
		.section-box-header {width: 100%;left: 0;}
		.selected-tools-list {display: flex;flex-wrap: wrap;justify-content: space-between;padding-top: 24px;}
		.selected-tools-list .tool {width: 48%;margin:0 0 24px;font-size: 18px;}
		.selected-tools-list .tool a {padding-right: 20px;white-space: normal;display: block;}
		.widget_ms {margin: 0;}
		.hero-content-outer-wrapper {width: 100%;}
		.article-list-hp .template-custom {min-height: 0;flex-basis: auto;}
		.article-list-hp .contents_wrapper {display: flex;flex-wrap:wrap;flex-flow: column;}
		.article-list-hp .attribution {position: relative;margin: 0 0 16px 0;float: left;}
		.article-list-hp .title {clear: both;}
		.image-cta-hero .content-block {display: flex;justify-content: center;height: auto;flex-wrap: wrap-reverse;}
		.image-cta-hero.img-border .img-block {padding: 40px 0 0 0;width: 100%;}
		.image-cta-hero.img-border .img-block img {height: 320px;max-width: none;width: 100%;object-fit: cover;}
		.image-cta-hero.img-on-right .content-block .txt-block {padding-right: 0;width: 100%;margin:0;}

		/* chatbot */
		[data-tt-widget-widget='chatbot'] {right: 0 !important;}

		/*footer*/
		#footer .logo a {text-indent: -9999px;}
		#footer .site-nav>li {display: block;}
		#footer .layout_width, .bottom_links {margin-left: 15px;}
		#footer .disclaimer {padding: 20px 20px 100px;}

		/* mercati */
		.videos h2.widget_title {padding-bottom: 20px;margin: 0;}

		/* calendar */
		.content_calendar_widget .widget_padding.row {flex-wrap: wrap;}
		.content_calendar_widget .widget_padding.row>div {width: 100%;margin: 0 0 30px 0;}
		.content_calendar_widget .list-unstyled .col-xs-7>div {width: 100%;text-align: left;}
		.content_calendar_widget .list-unstyled .col-xs-2 {text-align: center;}
		.content_calendar_widget .list-unstyled .col-xs-7>a {width: auto;float: left;}
		.list-unstyled .col-xs-3 span {font-size: 18px;}
		.content_calendar_widget .list-unstyled h5 {margin-top: 0;}

		.favourite-content-user-widget {position: absolute;top: 35px;left: auto;right: 10%;}
		.ct-image {display: flex;flex-wrap: wrap;padding: 0 15px;}
		.ct-image > div {padding:0 0 20px;width: 100%;clear: both;}

		.asset_class_tab_header {display: flex;}
		.asset_class_tab_wrapper.row {margin-bottom: 0;}
		.asset_class_tab_header .asset_class_tab {padding: 10px;min-width: calc(100% / 3);margin: 0;}
		.tb-header.row {display: flex;}
		.asset_class_tab_header .asset_class_tab {margin: 0;}
		.tb-header.row .tb-h-cell {margin: 0;padding: 20px 10px;}
		.tb-header.row .tb-h-cell, .tb-row.row .tb-cell {padding: 10px;}
		.tb-row.row .tb-cell.col-md-6 {font-size: 12px;text-align: left;}
		.tb-header.row .tb-h-cell.col-md-4, .tb-row.row .tb-cell.col-md-4 {width: 30%;}
		.tb-header.row .tb-h-cell.col-md-2, .tb-row.row .tb-cell.col-md-2 {width: 30%;}
		.tb-header.row .tb-h-cell.col-md-6, .tb-row.row .tb-cell.col-md-6 {width: 40%;}

		h1.heading.blue.solutions_blackrock_title {margin:0;font-size: 42px;line-height: 42px;padding: 80px 10px 0;}
		.solutions-grid-list.animated {padding: 15px;overflow: auto;}
		.solutions-grid-list.animated .solutions-col {width: 1100px;}
		.w-620, .component-heading {width: 100%;}
		.w-620 .row {margin: 0;}
		.justify-content-center .intro, .topic-row .topic {width: 100%;}
		.banner-img-wrapper h1.title {line-height: 42px;font-size: 42px;padding: 0 10px;}
		.wrapwidg.full-width#page_title .widget_padding {padding: 0;}

		/* preferiti */
		.preferiti-2019 .wrapwidg.nestedPage.clean > .widget_padding {padding: 0 15px !important;}
		.wrapwidg .ull-width.border-bottom {border-bottom: none;}
		.border-bottom:before {display: none;}
		.wrapwidg .ull-width.border-bottom .widget_padding {padding: 0;}
		.tabs-panel {flex-direction: column;}
		.tabs-panel .tab {position:relative;min-height:52px;line-height:40px;display: block;width: 100%;border:none; border-top:1px solid #000;margin:0;padding:6px 20px 6px 52px;}
		.tabs-panel .tab:before {content: "\f105";font: normal normal normal 20px/1 'Font Awesome 5 Pro';width:52px;height:52px;line-height:52px;text-align: center;position: absolute;left: 0;top: 0;color: #ff4713;}
		.tabs-panel .tab.active:before {content: "\f107";}
		.tabs-panel .tab.active, .tabs-panel .tab:hover {border:none; border-top:1px solid #000;padding:6px 20px 6px 52px;}
		.tabs-panel .tab:last-child {border-bottom: 1px solid #000;}
		.tab_title {line-height: 40px;text-align: left;}

		/* more */
		.card-grid .template-custom {width: 100%;float: none;}
		.table-yield-wrapper {padding:0 15px;}
		.fund-yield-box {width: 100%;}
		[data-tt-widget-widget="yieldTable"] .btn-group span:first-child {display: block;}
		.article-list .template-custom, .article-list .eventList-widget {margin: 24px 15px;}
		.display-grid .generic_contact_list > .contact_item {width: 100%;}
		div[data-tt-widget-widget="userWizard"] {padding: 0 15px;}
		div[data-tt-widget-widget="userWizard"] > div {padding: 0;}
		div[data-tt-widget-widget="userWizard"] .row,
		div[data-tt-widget-widget="userWizard"] .row > div {padding: 0;margin: 0;}
		div[data-tt-widget-widget="userWizard"] span.twitter-typeahead {width: 100%;}
	}
