/* @import url(https://giovalife.bitbucket.io/vendorshub/css/skin.css) */

#home-wrapcontent #main, #main {min-height: 480px;}
.no-menu-left .mobile_menu {display: none;}


@media (max-width: 1024px) {
#header h1 {top:0;width: 170px;}
#header .tim_logo {height: 75px;width: 90px;}
#menuRoleBasedLeft.collapsed .menucolumn_generico > .wrapwidg:first-child {
    width: calc((100% * 9) - 25px) !important;
    left: calc(100% + 15px) !important;
}
#header ul#globalNavBar.show .tim_logo {top:20px;}
.close_nav {top: 43px;}

}

@media (max-width: 640px) {
    #header .tim_logo {width: 70px;top: 0;}
    #menuRoleBasedLeft.collapsed .menucolumn_generico > .wrapwidg:first-child {
        width: calc(100vw - 20px) !important;
        left: 5px !important;
    }
    .col_full_divider, .inner_col_full_divider {border: none;}
    .tachimetro_left {width: 100%;text-align: center;padding: 0;}
    .pressure {float: none;margin: 10px auto;}
    .supporto_right {width: 100%;}
    .centered_pie {padding: 0;}
    .centered_pie_2 {padding: 0;}
    .centered_pie_2 .pressure2 {margin: 10px auto;}
    .pressure.no_value {margin: 10px auto;}
}

@media (min-width:640px) {
    .dataMessaggio {white-space: normal;min-width: 100px;}
    .fav_group_list {width: calc((100% / 2) - 5px);padding: 0;}
}