@font-face {
  font-family: 'DKPisang';
  src: url('DKPisang.eot');
  src: url('DKPisang.woff2') format('woff2'),
       url('DKPisang.woff') format('woff'),
       url('DKPisang.ttf') format('truetype'),
       url('DKPisang.svg#DKPisang') format('svg'),
       url('DKPisang.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

