/*
@import url(https://giovalife.bitbucket.io/KERING/css/style.css);
*/


/* 2 JUNE patch */

/* general */
body {background-size: 25% auto!important;}
/* dedicated */
.dedicated_side .dc-thumbnail {max-height: calc(7rem -4px);border:1px solid #cacaca;margin-bottom:4px;}
body.c-agenda-montblanc .dedicated_side .dc-thumbnail img {border:none;}
/* dropdown */
.flexi-dropdown section {background: #fff;color: #000;box-shadow: 0 4px 16px rgba(0,0,0,0.1);}
/* modal */
.modal-dialog .modal-content {display: flex;flex-direction: column;background: white;}
.modal-dialog .modal-body {max-height: 70vh;overflow: auto;}
.modal-dialog .modal-body img {max-height: calc(70vh - 2rem);}
.modal-dialog .text-center [src$=".svg"] {margin: 0 auto;}
/* agenda */
.break .agenda_current .agenda-item {color: #fff;}
/* useronline slider */
body.c-agenda-chloe .simplebar-track.simplebar-horizontal,
body.c-agenda-dunhill .simplebar-track.simplebar-horizontal,
body.c-agenda-montblanc .simplebar-track.simplebar-horizontal,
body.c-agenda-puma .simplebar-track.simplebar-horizontal,
body.c-agenda-saint_laurent .simplebar-track.simplebar-horizontal,
body.c-agenda-alaia .simplebar-track.simplebar-horizontal,
body.c-agenda-boucheron .simplebar-track.simplebar-horizontal,
body.c-agenda-cartier .simplebar-track.simplebar-horizontal,
body.c-agenda-brioni .simplebar-track.simplebar-horizontal {border-color: #000;}
body .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {width: 2.4rem;bottom:-8.5px;}
body.c-agenda-dunhill .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before,
body.c-agenda-montblanc .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before,
body.c-agenda-puma .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before,
body.c-agenda-saint_laurent .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before,
body.c-agenda-alaia .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before,
body.c-agenda-boucheron .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before,
body.c-agenda-cartier .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before,
body.c-agenda-brioni .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {background: #000;}
.online_user .users-online-container .users-online-details {min-width:4.375rem;}
/* products list */
.c-agenda-bottega_veneta .streaming-content-item,
.c-agenda-bottega_veneta .favourite-product-box {color:#000;}
.streaming-content-item .image-container {height:auto !important;min-height:64px;}
/* event to start */
.event-to-start.break .agenda {color: #fff;}
.event-to-start.break .agenda .agenda-item .ag-number {border:1px solid #fff;}
.event-to-start.break .agenda .slick-dots li button {border-color: #fff;}
.event-to-start.break .agenda .slick-dots li.slick-active button {background: #fff;}
/* countdown ipad */
@media (max-width:1024) {
    .countdown-wrapper {width: 15%;}
    .event-to-start.break .countdown-wrapper {width:35%;}
}
@media (orientation: portrait) {
    .event-to-start.break .countdown-wrapper {width:25%;}
}