/*
@import url(https://giovalife.bitbucket.io/KERING/css/style.css);
*/

/* fonts */
@import url(../fonts/gotham/stylesheet.css);
@import url(../icons/style.css);

:root, body {font-size:16px;}
.btn {font-size:16px;}

/* body */
html, body {min-height:100%;}
body {position:relative;background: url(../images/bg_top_left.png) no-repeat left top, url(../images/bg_bottom.png) no-repeat right bottom;background-color:#FCEDC9;font-family: 'Gotham',"Helvetica Neue",Helvetica,Arial,sans-serif !important;color:#464646;}
body {background-size: 35% auto !important;}
#home-wrapcontent, #wrapcontent, .toolbarPanel {background: none;padding: 0 0 80px 0;min-height:calc(100vh - 120px);z-index: initial;position: relative;}
#mainwrap {min-height:100%;}
#main {padding: 11.25rem 7.5rem 0;}
.eventRegistration #main {padding: 0;}

/* general */
h1, h2, h3, h4, h5 {font-family: 'Gotham',"Helvetica Neue",Helvetica,Arial,sans-serif !important;}
label {font-weight: 300;}
.messagge {background: none;}
.btn-block+.btn-block {margin:0;}
.buttons_wrapper {border-top:1px solid #D4D4D4;}
.d-flex {height:auto;}
.btn-toolbar {margin:0;}
.no_content, .no_content_message {background: rgba(255, 255, 255, 0.5);border: none;color: #464646;text-transform: uppercase;margin: 0;}

/* hide */
.room-brand:first-child {display: none !important;}

/* errors */
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {color: red;background: rgba(255,255,255,0.5);}
.has-error * ,
.has-error .radio label span:before,
.has-error .checkbox label span:before {border-color: red !important;}
[id="myElement"].jw-error {margin-bottom:1rem;}

/* toaster */
.toast,
.toast.toast-success,
.toast .toast-fail,
.toast .toast-error {background: rgba(0, 0, 0, 0.8);}

/* service */
.notFound .widget_logo .logo a {background: url(../images/kering_eyewear.svg) no-repeat center center;background-size: contain;}
.notFound .widget_logo .logo a img {opacity:0;}
#notfoundBody {text-align: center;}
#notfoundBody h2 {font-size: 3.75rem;font-weight: 300;text-transform: uppercase;}
.notFound #home-wrapcontent {display: flex;justify-content: center;align-items: center;}
.reg-layout #wraplog #mainwrap {padding:0;display:flex;flex-direction: column;justify-content: center;align-items: center;height:100vh;}

/* login.css */
#wraplog {width:100vw;margin:0 auto;}
#wraplog .background-wrapper {height:100%;width:100%;position: fixed;left:0;top:0;z-index:0;overflow:hidden;}
#wraplog .header-login {height:117px;width:100%;background: rgba(0,0,0,0.2);position: absolute;top:0;left: 0;z-index:10;display:flex;align-items:center;justify-content: center;}
#wraplog h1 {height:65px;background: url(../images/kering_eyewear_white.svg) no-repeat center center;background-size: contain;border:none;}
#wraplog .top_menu {z-index:10;position: absolute;right:7.5rem;top:37px;}
#wraplog h2 {font-family: 'Gotham',"Helvetica Neue",Helvetica,Arial,sans-serif !important;color:#fff;border:none;}
#wraplog #mainwrap {z-index:10;position:relative;border: none;padding: 0;color: #fff;width:43rem;margin:0 auto;padding:200px 0 0 0;}
#wraplog a, #wraplog a:visited {color:#fff;text-decoration: underline;}
#wraplog .panel-body {padding:0;}
#wraplog #mainwrap h2.panel-title {font-size:81px;text-align:center;}
#resetPassword br {display:none;}
#resetPassword #formwrap input#username {min-height: 2rem;border-radius: 4px;border: 1px solid #fff;padding: 10px;width: 100%;background: none;}
#resetPassword .btn.btn-default {color:#fff;border-color: #fff;background:none;}
#resetPassword .btn.btn-default:hover {color:#fff;text-shadow:0 0 4px rgba(255,255,255,0.8);}
#resetPassword #formwrap .btn.btn-default {margin-bottom:20px;}

/* login kering */
.login {font-size:17px;}
.login #main {padding:0;}
.login #home-wrapcontent {min-height: 0;padding:0;}
.login .background-wrapper {z-index:0;position: fixed;height: 100%;width: 100%;overflow:hidden;top:0;left:0;}
.login .body-wrapper {overflow:hidden;width:448px;position: relative;text-align:center;color:#fff;}
.login .body-wrapper h1 {font-size:81px;}
.login .body-wrapper h4 {font-size:27px;font-weight: 300;}
.login #wraplog-kering {display:flex;justify-content: center;height: 100vh;align-items: center;}
.btn-group-welcome {display:flex;justify-content: space-around;padding: 1.25rem 0 0 0;}
.login .welcome-login a.btn {min-width:200px;padding:1.25rem 0;}
.login a.btn.btn-primary {color:#fff;border-color: #fff;background:none;}
.login a.btn.btn-primary:hover {color:#fff;text-shadow:0 0 4px rgba(255,255,255,0.8);}
#tamtamyLoginBox .form-group {border-bottom:1px solid #fff;display:flex;align-items: center;margin-bottom:1.25rem;}
#tamtamyLoginBox .form-group label {height:2rem;width:2rem;padding:0;margin:0;}
#tamtamyLoginBox .form-group:nth-child(1) label i:before {font-family: 'kering' !important;content: "\e91d";font-size:20px;font-weight: normal;}
#tamtamyLoginBox .form-group:nth-child(2) label i:before {font-family: 'kering' !important;content: "\e910";font-size:20px;font-weight: normal;}
#signIn #tamtamyLoginBox .form-group label {text-indent:-9999px;position: relative;}
#signIn #tamtamyLoginBox .form-group:nth-child(1) label:before {position:absolute;left: 0;display:inline-block;font-family: 'kering' !important;content: "\e91d";font-size:20px;font-weight: normal;text-indent:0;}
#signIn #tamtamyLoginBox .form-group:nth-child(2) label:before {position:absolute;left: 0;display:inline-block;font-family: 'kering' !important;content: "\e910";font-size:20px;font-weight: normal;text-indent:0;}
#tamtamyLoginBox .form-group input {background:none !important;border:none;color: #fff !important;box-shadow:none;border-radius:0;-webkit-text-fill-color:#fff;}
::-webkit-input-placeholder {color: #fff;}
::-moz-placeholder {color: #fff;}
:-ms-input-placeholder {color: #fff;}
:-moz-placeholder {color: #fff;}
.login .wwFormTable {width:100%;}
.login .tdCheckboxInput {text-align: left;}
.login .formButton {padding-top:1.25rem;}
.login-actions {padding:1.25rem 0 0 0;}
.login-actions a {text-decoration: underline;}
.login-actions a:hover {color:#fff;text-shadow:0 0 4px rgba(255,255,255,0.8);}
.login a {color:#fff;}
.login label {font-weight:300;}

/* registration */
.box_register input {font-size:17px;}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {background: none;opacity: 1;color: #fff;border: none;box-shadow: none;padding: 0;}
.box_register label[for="firstname "] {height:2.125rem;width:2.5rem;margin:0;float:left;overflow:hidden;padding: 0;}
.box_register label[for="firstname "]:before {content:'';display:block;height:2.125rem;width:1.5rem;line-height:2.125rem;font-size:22px;font-family: 'kering' !important;content: "\e91d";font-weight: normal;}
.box_register label[for="firstname "] + input {width:calc(100% - 3rem);}
.box_register label[for="lastname"] {height:2.125rem;width:2.5rem;margin:0;float:left;overflow:hidden;padding: 0;}
.box_register label[for="lastname"]:before {content:'';display:block;height:2.125rem;width:1.5rem;line-height:2.125rem;font-size:22px;font-family: 'kering' !important;content: "\e91d";font-weight: normal;}
.box_register label[for="lastname"] + input {width:calc(100% - 3rem);}
.box_register label[for="mail"] {height:2.125rem;width:2.5rem;margin:0;float:left;overflow:hidden;padding: 0;}
.box_register label[for="mail"]:before {content:'';display:block;height:2.125rem;width:1.5rem;line-height:2.125rem;font-size:22px;font-family: 'kering' !important;content: "\e911";font-weight: normal;}
.box_register label[for="mail"] + input {width:calc(100% - 3rem);}
.box_register label[for="password"] {height:2.125rem;width:2.5rem;margin:0;float:left;overflow:hidden;padding: 0;}
.box_register label[for="password"]:before {content:'';display:block;height:2.125rem;width:1.5rem;line-height:2.125rem;font-size:22px;font-family: 'kering' !important;content: "\e910";font-weight: normal;}
.box_register label[for="password"] + input {width:calc(100% - 3rem);}
.box_register input[type="password"] {border:none;border-bottom:1px solid #fff;border-radius:0;background:none;box-shadow: none;color:#fff;}
.box_register .buttons_wrapper {padding:1.25rem 0;margin:0;text-align:center;border:none;}
.box_register .btn {width:210px;padding:1.25rem 0;}
.box_register .btn.btn-primary, .box_register .btn.btn-primary:visited {color:#fff;border-color: #fff;background:none;}
.box_register .btn.btn-primary:hover {color:#fff;text-shadow:0 0 4px rgba(255,255,255,0.8);}
.box_register .btn.btn-default, .box_register .btn.btn-default:visited  {color:#fff;border-color: #fff;background:none;}
.box_register .btn.btn-default:hover {color:#fff;text-shadow:0 0 4px rgba(255,255,255,0.8);}
#contact {text-align: center;}
.lead {font-size: 1rem;text-align: center;}

/* header */
#header {height:7.313rem;width:100%;background: rgba(0,0,0,0.1);position: absolute;top:0;left: 0;z-index:10;}
#header .container {width:100%;padding:0;}
#header .wrapwidg.nestedPage {position: relative;}
#header-navbar {background:none;box-shadow:none;}
.wrapwidg.widget_logo {width:100% !important;text-align: center;}
#header .logo img {height: 4rem;cursor: pointer;}
#header .logo a {display: inline-block;vertical-align: top;cursor:pointer;}
#user {position: absolute;right: 0;top:0;}
.go_back {position: absolute;z-index:15;}
.go_back .top_menu .pull-left > div {margin: 0;}

/* top menu */
.top_menu .pull-left > div {margin:0 0 0 1rem;}
.top_menu .btn.btn-default,
.top_menu .btn.btn-default:visited {height:2.688rem;line-height:2.688rem;padding:0 1.25rem;border-radius: 4px;font-size:1rem;font-weight:bold;border-width:2px;}
.top_menu .btn.btn-default:hover {background:rgba(0,0,0,0.5);color:#fff;border: 2px solid rgba(0,0,0,0) !important;}
.dropdown.faq_menu, .dropdown.user_menu {height: 2.688rem;margin: 0 auto;padding: 0;width: 2.688rem;border-radius: 50%;}
.top_menu .faq_menu .btn.btn-default {background: none;padding:0;width:2.688rem;border:none !important;}
.top_menu .faq_menu .btn.btn-default i {font-size:2.688rem;}
.top_menu .dropdown.user_menu .btn.btn-default,
.top_menu .dropdown.user_menu .btn.btn-default:visited {padding:0;border-radius:50%;background-size: cover !important;line-height: 2.688rem;text-align:center;border:2px solid #fff;color:#fff;}
.top_menu .dropdown.user_menu .btn.btn-default:hover {border:2px solid #fff !important;}
.wrapwidg#user {margin: 12px 0 0 0;}
.feedback-menu .btn:before {display: inline-block;vertical-align: middle;font-family: 'kering' !important;content: "\e91b";font-size: 1.5rem;font-weight: bold;margin: 0px 8px 0 0;height: 2.688rem;line-height: 2.4rem;}
.search_open #header .ttcomponent-navbarUserArea .notification.search_button:after,
#header .ttcomponent-navbarUserArea .dropdown-toggle[aria-expanded="true"]:after,
#header .ttcomponent-navbarUserArea .user_menu.open:after,
#header .ttcomponent-navbarUserArea .dropdown-menu,
#header #search_widget {background: rgba(0, 0, 0, 0.8) !important;}

/* checkboxes */
label[for="terms"] {display:none;}
label.container {display: block;position: relative;padding-left: 30px;margin-bottom: 20px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: left;width:auto !important;}
label.container input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
label.container .checkmark {position: absolute;top: 0;left: 0;height: 22px;width: 22px;border:1px solid #fff;border-radius:50%;}
label.container:hover input ~ .checkmark {text-shadow:0 0 4px rgba(255,255,255,0.8);}
label.container .checkmark:after {content: "";position: absolute;display: none;}
label.container input:checked ~ .checkmark:after {display: block;}
.container .checkmark:after {left: 7.5px;top: 4px;width: 5px;height: 12px;border: solid white;border-width: 0 1px 1px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.survey .checkbox label.container {padding: 0;margin: 0 10px 20px;width: 26px !important;}
.survey .checkbox label.container .checkmark {height: 26px;width: 26px;font-size:26px;line-height:26px;text-align:center;border:none;border-radius: 0;}
.survey .checkbox label.container .checkmark:before {font-family: 'kering' !important;content: "\e91b";font-weight: normal;border:none;}
.survey label.container input:checked ~ .checkmark:after {display: none;}
.survey label.container input:checked ~ .checkmark:before,
.survey label.container.selected .checkmark:before {font-family: 'kering' !important;content: "\e921";font-weight: normal;}
.radio label {display: block;position: relative;padding-left: 0;margin-bottom: 20px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: left;width:auto !important;}
.radio input[type="radio"] {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.radio label span {padding-left:30px;display:block;}
.radio label span:before {content:'';position: absolute;top: 0;left: 0;height: 22px;width: 22px;border:1px solid #fff;border-radius:50%;}
.radio label input:checked + span:after {content: "";position: absolute;height: 22px;width: 22px;left: 8.5px;top: 4px;width: 5px;height: 12px;border: solid white;border-width: 0 1px 1px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.checkbox label {display: block;position: relative;padding-left: 0;margin-bottom: 20px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: left;width:auto !important;}
.checkbox input[type="checkbox"] {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkbox label span {padding-left:30px;display:block;}
.checkbox label span:before {content:'';position: absolute;top: 0;left: 0;height: 22px;width: 22px;border:1px solid #fff;}
.checkbox label input:checked + span:after {content: "";position: absolute;height: 22px;width: 22px;left: 8.5px;top: 4px;width: 5px;height: 12px;border: solid white;border-width: 0 1px 1px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

.eventRegistration label.container .checkmark,
.eventRegistration .container .checkmark:after {border-color: #464646;}

/* footer */
#footer {background: none;border:none;text-align: center;font-size:0.875rem;z-index:0;}
#footer a {color:#666;text-decoration: underline;}
#footer a:hover {color:#666;}
#footer .ker-logo {height:3rem;background: url(../images/kering_eyewear.svg) no-repeat center center;background-size: contain;text-indent:-9999px;}
.eventRegistration #footer:before,
.acknowledgements #footer:before,
.faq #footer:before {display:none;}

/* video */
.countdown-top-class {height: 100vh !important;width:100vw;overflow: hidden;position:relative;}
video[poster]{min-width: 100%;min-height: 100%;z-index:0;position:absolute;left:0;top:0;}
.top-box {z-index:1;width:100%;height:100%;z-index:0;position:absolute;left:7.5rem;top:0;display:flex;justify-content:center;flex-wrap:wrap;flex-direction:column;color:#fff;}
.headline .h-1, .row-title, .pf-header h3 {font-size:1.5rem !important;line-height:1.5rem;text-transform: uppercase;font-weight:bold;max-width:850px;font-family: 'Gotham',"Helvetica Neue",Helvetica,Arial,sans-serif !important;}
.headline .h-2 {font-size:4.5rem !important;line-height:4.5rem;text-transform: uppercase;max-width:62.5rem;font-family: 'Gotham',"Helvetica Neue",Helvetica,Arial,sans-serif !important;font-weight: 100;}
.break #main {position: static;}
.break #main > .column_generico {position: static;}
.video_background {position: absolute;left: 0;top:0;min-width: 100%;overflow:hidden;max-height:1080px;}

/* counter */
.sezione_countdown {overflow:hidden;height:auto;margin-bottom:2rem;}
.sezione_countdown .countdown {width:auto;}
.countdown-wrapper, .countdown .countdown-container {background:none;border-radius: 0;box-shadow: none;display: flex;max-width: none;width: auto;padding: 0;max-height: none;position:relative;margin: 0;height: auto;}
.sezione_countdown *, .countdown .count {font-family: 'Gotham',"Helvetica Neue",Helvetica,Arial,sans-serif !important;}
.countdown .time {min-width:10rem;min-height:0;height:auto;}
.countdown .count {background:none !important;transform:none;box-shadow:none;text-shadow:none;border-radius: 0 !important;font-size:6rem;font-weight:bold;line-height:6rem;letter-spacing:-4px;width:100%;position: relative;height: auto !important;text-align:left;}
.countdown .count.bottom {display:none !important;}
.countdown .count.curr {display:none !important;}
.countdown .count-label {top:auto;bottom:auto;font-size:12px;text-align:left;height:12px;line-height:12px;padding: 0;margin:0;text-transform: uppercase;left: auto;position: relative;}
.countdown .time.seconds .count {font-weight:100;}
.countdown .time .count {transition: all 0.3s ease-in-out !important;opacity:0;}
.countdown .time.flip .count {opacity: 1;}
.countdown-wrapper>div.time:not(:first-child):before {font-size:50px;line-height:102px;height:100%;top:0;width: 0.875rem;font-weight: normal;left:-2rem;}

/* widgets */
.wrapwidg {background:none;padding:0;margin:0;}
.widget_padding {padding:0;}
h2.widget_title {border:none;margin:0 0 20px 0;padding:0;font-size: 1.125rem;min-height: 0;font-weight: bold;}
h2.widget_title i.fa {display: none;}
.wrapwidg.nestedPage.nestedDepth2 {padding-top: 4rem;}
.bottom_80 {margin-bottom:5rem !important;}
.bottom_40 {margin-bottom:2.5rem !important;}
.pt_10 {padding-top:1rem !important;}
.pt_96 {padding-top:3rem !important;}

/* nested */
#header .wrapwidg.nestedPage {width:calc(100% - 2rem) !important;margin:0 auto;}
body[class*="brand"] #main .wrapwidg.nestedPage.nestedDepth1,
body[class*="keynote"] #main .wrapwidg.nestedPage.nestedDepth1,
body[class*="post"] #main .wrapwidg.nestedPage.nestedDepth1,
body[class*="break"] #main .wrapwidg.nestedPage.nestedDepth1 {width: calc(100% + 13rem);margin-left: -6.5rem;}

/* buttons */
.login .top_menu .btn.btn-default,
.login .top_menu .btn.btn-default:visited,
.eventRegistration .top_menu .btn.btn-default,
.eventRegistration .top_menu .btn.btn-default:visited,
.break .top_menu .btn.btn-default,
.break .top_menu .btn.btn-default:visited {color:#fff;border-color: #fff;}
.btn.btn-primary,
.btn.btn-primary:visited,
.btn.btn-default,
.btn.btn-default:visited,
.btn.btn-warning,
.btn.btn-warning:visited,
.btn.btn-danger,
.btn.btn-danger:visited {height:auto;line-height:1.25rem;padding:1.25rem 1.25rem;background:none;border:2px solid #464646;border-radius:4px;color:#464646;font-weight:bold;text-transform: uppercase;}
.btn.btn-danger,
.btn.btn-danger:visited {border:none;}
.countdown-top-class .btn.btn-primary {color:#fff;border-color: #fff;background:none;}
.btn.btn-default:hover {text-shadow:0 0 4px rgba(255,255,255,0.5);color:#fff;}
.btn.btn-primary:hover,
.btn.btn-warning:hover,
.btn.btn-danger:hover {color:#464646;text-shadow:0 0 4px rgba(0,0,0,0.2);background: none;}
.countdown-top-class .btn.btn-primary:hover {color:#fff;text-shadow:0 0 4px rgba(255,255,255,0.8);}
.event_page .buttons_wrapper {text-align: inherit;padding: 1rem 0;align-items:flex-start;}
.event_page .buttons_wrapper .btn.btn-block {display:inline-block;width:auto;}
.row-button {float: right;height:1.75rem;font-weight: bold;color: #fff;text-transform: uppercase;font-size: 0.875rem;padding:0 1.25rem;border-radius: 0.875rem;background: #464646;text-align: center;border:none;}

/* icons overwrite */
.fa.fa-question-circle:before {font-family: 'kering' !important;content: "\e914";font-weight: normal;}
.fa.fa-reply:before {font-family: 'kering' !important;content: "\e924";font-weight: normal;}
.fa.fa-comment-dots:before {font-family: 'kering' !important;content: "\e925";font-weight: normal;}
.fal.fa-thumbs-up:before {font-family: 'kering' !important;content: "\e913";font-weight: normal;}
.fal.fa-thumbtack:before {font-family: 'kering' !important;content: "\e91e";font-weight: normal;}
button.active .fal.fa-thumbs-up:before {content: "\e922";}
button.active .fal.fa-thumbtack:before {content: "\e920";}
.fa.fa-times:before {font-family: 'kering' !important;content: "\e909";font-weight: normal;}
.fas.fa-heart:before {font-family: 'kering' !important;content: "\e90c";font-weight: normal;}
[data-tt-state="true"] .fas.fa-heart:before {content: "\e923";}
.fa.fa-chevron-right:before,
.slick-next:before {font-family: 'kering' !important;content: "\e927" !important;font-weight: normal;}
.fa.fa-chevron-left:before,
.slick-prev:before {font-family: 'kering' !important;content: "\e926" !important;font-weight: normal;}

/* agenda */
.agenda {margin:2rem 0;padding:30px 60px;background: rgba(255,255,255,0.2);}
.agenda h5 {font-size:1.5rem;text-transform: uppercase;font-weight: bold;margin:2rem 0 1rem 0;}
.agenda .day-header {font-size:0.875rem;font-weight:bold;text-transform:uppercase;display: flex;justify-content: space-between;border-top:1px solid #D6D1CD;border-bottom:1px solid #D6D1CD;padding:8px 0;margin:8px 0;}
.agenda .agenda-item {display:flex;align-items:center;padding:8px 0;font-size:18px;font-weight:bold;align-items:flex-start;}
.agenda .agenda-item .ag-number {height:37px;max-height:37px;min-width:37px;max-width:37px;line-height:37px;font-size:0.875rem;text-align:center;border:1px solid #464646;display:inline-block;border-radius: 50%;margin:0 8px 0 4px;}
.agenda .agenda-item .ag-title,
.agenda .agenda-item .ag-time {padding-top: 6px;}
.agenda .agenda-item .ag-time {margin-left: auto;}
.agenda .slick-dots li {margin:0 8px;}
.agenda .slick-dots li button {border:2px solid #464646;border-radius:50%;height:21px;width:21px;}
.agenda .slick-dots li.slick-active button {background: #464646;}
.agenda .slick-dots li button:before {display:none;}

/* agenda current */
.agenda_current {float: left;display: flex;justify-content: center;flex-direction: column;align-items: center;}
.agenda_current .agenda-item {margin:0 0 8px 0;}
.agenda_current .agenda-item {border:1px solid #464646;border-radius:50%;height:18px;width:18px;line-height:18px;text-align:center;text-indent: -9999px;}
.agenda_current .agenda-item.active {border:2px solid #464646;height:55px;width:55px;text-indent: initial;line-height: 55px;font-size: 2.5rem;font-weight: 300;}
.agenda_current .agenda-item.inactive {background: #464646;}
.agenda_current .agenda-item .popover {text-indent: 0;}
.agenda_dots {margin-bottom:0;overflow: auto;}

/* registration */
.event_registration {margin:2rem 0;padding:30px 60px;background: none;}
.event_registration .event-info > h3 {font-size:1.5rem;text-transform: uppercase;font-weight: bold;padding:0;margin:2rem 0 3.25rem;}
.event_registration .stage-select {margin-top:2.5rem;}
.event_registration .user-data {padding-bottom:20px;}
.event_registration .event-info > div h3 {font-size:17px;font-weight: 300;margin: 0 0 2rem 0;}
.event_registration .event-info > div.avatar h3 {font-size:17px;font-weight: 300;font-style:italic;margin:0;}
.event_registration select {-webkit-appearance: none;border-radius: 0px;background:none;border:none;border-bottom: 1px solid #D4D4D4;width:100%;line-height:2rem;height:3rem;background: url(../icons-svg/chevron-down.svg) no-repeat right center;background-size:2rem 2rem;}
[data-tt-widget-uploaded-file] ul li {border:none;margin:0;}
[data-tt-widget-uploaded-file] ul li img {height:100px;width:100px;border-radius: 50%;}
.event_registration .avatar .buttons_wrapper {display:inline;margin:0;padding:0;clear:none;}
.event_registration .avatar [data-tt-widget-uploaded-file] ul {display:flex;justify-content: space-between;align-items:center;}
.event_registration .avatar .btn.btn-primary.btn-file,
.event_registration .avatar .btn.btn-danger {padding:0;margin:0;border:none;border-radius:0;height:1.5rem;width:1.5rem;line-height:1.5rem;text-align:center;overflow:hidden;float:right;position:relative;background:none;}
.event_registration .avatar .btn.btn-primary.btn-file input {opacity:0;height:1.5rem;width:1.5rem;position:absolute;top:0;left:0;z-index:2;}
.event_registration .avatar .btn.btn-primary.btn-file:before {font-family: 'kering' !important;content: "\e918";font-size:1.5rem;font-weight: normal;display:block;height:1.5rem;width:1.5rem;position:relative;z-index:1;}
.event_registration .avatar .btn.btn-danger i.fal.fa-trash:before {font-family: 'kering' !important;content: "\e909";font-size:1.5rem;font-weight: normal;display:block;height:1.5rem;width:1.5rem;position:relative;z-index:1;color:#666;}
.event_registration .avatar {padding: 1rem 0;overflow: hidden;}
.event_registration .avatar h3 {float:left;margin:0;line-height: 1.5rem;}

/* event plenaria */
.azuremediaplayer {margin:0 auto;width:90% !important;max-width:1220px;height: 0;padding-bottom: 50.625% !important;/* 16/9 aspect ratio */}
.comments-upload .btn.btn-default {border:none;background: rgba(0,0,0,0.25);color:#fff;}
.comments-upload .btn.btn-default {background: rgba(0,0,0,0.25);}
.comments-upload .btn.btn-default.active {background: rgba(0,0,0,0.5);}
.comments-upload {display: flex;padding: 0 0 2.5rem 0;width:60%;}
.comments-upload > div {margin:0 10px 0 0;}
.comments-upload .form-group {background: rgba(0,0,0,0.25);padding:10px;width:auto;flex-grow: 1;}
.comments-upload .comment-textarea {border:1px solid #fff;}
.comments-upload .comment-textarea textarea {line-height: 20px;font-size:0.875rem !important;padding: 9px 80px 9px 9px;}
.comments-upload .mentions-input-box .mentions {line-height: 20px;font-size:0.875rem !important;padding: 9px 80px 9px 9px;}
.mentions.form-control * {width:auto;position:relative;line-height: 20px;}
.mentions-input-box .mentions > div > strong {background: none !important;color: #fff !important;text-decoration: underline;}
.comment-form-with-attachments .comment-attachment-btn {display:flex;flex-direction: row-reverse;bottom: 0;height: 42px;line-height: 42px;position: absolute;right: 0;width: auto;z-index: 10;font-size:2rem;align-items: flex-end;}
.comments-upload .comment-form-with-attachments .comment-attachment-btn button {margin: 0;}
.comments-upload .comment-form-with-attachments .comment-attachment-btn button:hover {text-decoration: none;}
.comments-upload .comment-form-with-attachments .comment-attachment-btn button:focus {text-decoration: none;}
.comments-upload .btn.btn-link {width:2.5rem;position:relative;}
.comments-upload .comment-reply {overflow:hidden;line-height: 42px;}
.comments-upload .comment-reply .btn.btn-link {margin: 0.25rem 0 0.5rem;float:right;}
.comments-upload .btn.btn-link i:before {font-size:2rem;}
.comments-upload .btn.btn-link i.icon-paper-plane:before {font-family: 'kering' !important;content: "\e916";font-weight: normal;}
.comments-upload .btn.btn-link i.icon-push-pin-outline:before {font-family: 'kering' !important;content: "\e91e";font-weight: normal;}
.far.fa-comments:before {font-family: 'kering' !important;content: "\e91f";font-weight: normal;}
.comments-upload .liveboard-button .btn.btn-default {height:3.75rem;width:3.75rem;padding:0;display:flex;flex-direction: column;justify-content: center;align-items: center;}
.comments-upload .liveboard-button .btn.btn-default .far.fa-comments:before {font-size: 1.5rem;}
.step-speakers {padding-left: 6rem;}
div[class^="step-"] .person-item div[class^="col-"] {display: flex;align-items: center;}
div[class^="step-"] .person-item img {margin: 0 1.25rem 1.25rem 0;width: 9.375rem;height:9.375rem;border-radius: 50%;}
div[class^="step-"] .person-item .person-name {font-weight:bold;text-transform: uppercase;}
.step-details > h2 {text-transform: uppercase;margin:0 0 2.5rem 0;}
.jam-tabs .tab-content.d-scroll {padding-bottom: 4rem;}
.liveboar-title {margin-bottom:2rem;}
.comments .jam-comment {border:none !important;}
.comments .media {padding:0 0 1.25rem 0;}
.comments .media-body {padding:1rem 0 3rem 0;position: relative;}
.comments .author-avatar img {border-radius: 50%;min-width:3rem;}
.jam-comment .author-info .author-avatar img {min-width:3rem;max-width:3rem;}
.comments .author-info {display:flex;align-items: center;margin: 0 0 10px;}
.comments .author-info > * {font-size: 1rem;margin:0 1rem 0 0;}
.comments a {color: #464646;font-weight:bold;}
.comments .author-info small {text-transform: uppercase;font-weight:bold;font-size:11px;}
.comments .modertor-badge {font-weight: bold;color: #fff;text-transform: uppercase;font-size: 12px;padding: 0 20px;border-radius: 0.875rem;background: #464646;text-align: center;border: none;line-height: 1.5rem;}
.comments .comment_showWhiteSpaceEscape {clear:none;margin:0;font-size: 0.875rem;}
.comments .media-body .author-info + .pull-right {position: absolute;bottom:0;left:0;}
.comments .media-body .author-info + .pull-right .btn.btn-default {border:none;padding:0;margin:0 2.5rem 0 0;display: flex;align-items: center;}
.comments .media-body .author-info + .pull-right .btn.btn-default i {font-size:2rem;height: 2rem;width: 2rem;line-height: 2rem;}
.comments .media-body .author-info + .pull-right .btn.btn-default .counter {margin: 0 0 0 8px;}
.comments .media-body .author-info + .pull-right .btn.btn-default:hover {color:#464646;opacity: 0.75;}
.clearfix.pos-relative:after {display:none;}
.custom-badge.btn-default.active {background: none !important;color:#464646 !important;}
button[data-tt-widget-trigger="showMore"].btn.btn-default,
.more a {color: #fff;text-transform: uppercase;font-size: 12px;padding: 0 20px;border-radius: 0.875rem;background: #464646;text-align: center;border: none;line-height: 1.5rem;}
button[data-tt-widget-trigger="showMore"].btn.btn-default .fa {display:none;}
.top_comment_snackbar {position: absolute;top: -3.938rem;left: -7.5rem;width: calc(100% + 15rem) !important;}
.break .top_comment_snackbar {position: absolute;width: 100% !important;margin: -3.938rem 0 0 -7.5rem;top:auto;left:auto;}
#liveboard-body #jam-session-top-question {display:none;}
#jam-session-top-question {background: rgba(0,0,0,0.50);height:4rem;padding:8px 7.5rem;overflow:hidden;}
#jam-session-top-question .jam-comment .media {display: flex;align-items: center;color: #fff;padding:0;}
#jam-session-top-question .jam-comment .media::before {height:2rem;width:2rem;font-family: 'kering' !important;content: "\e920";font-weight: normal;color:#fff;font-size:2rem;line-height: 2rem;margin:0 10px 0 0;}
#jam-session-top-question .jam-comment .author-info {margin:0 10px 0 0;}
#jam-session-top-question .jam-comment .author-info * {font-size:16px;}
#jam-session-top-question .jam-comment .media a, .jam-comment .media a:visited {color:#fff;}
li.jam-comment .author-avatar .user-name-avatar {height:3rem;min-width:3rem;width:3rem;line-height:3rem;}
#jam-session-top-question .jam-comment .media .media-body {display: flex;align-items: center;}
#jam-session-top-question .jam-comment .media .media-body > div {display: flex;align-items: center;margin:0;}
#jam-session-top-question .jam-comment img {height:3rem;min-width:3rem;width:3rem;border-radius: 50%;margin:0 10px 0 0;}
#jam-session-top-question .jam-comment .text {display:flex;}
#jam-session-top-question .btn-toolbar .btn {position: absolute;right:7.5rem;top:0.5rem;border: none;border-radius: 0;font-size:2rem;color:#fff;padding:0;}

/* brand */
body[class*="brand"],
body[class*="keynote"] {background: #D4D4D4 url(../images/bg_brand.png) no-repeat right bottom;}
body[class*="brand"] .widget_logo .logo a img,
body[class*="keynote"] .widget_logo .logo a img {opacity: 0;}
body[class*="brand"] .widget_logo .logo a,
body[class*="keynote"] .widget_logo .logo a {background: url(../images/kering_eyewear.svg) no-repeat center center;background-size: contain;}
body[class*="brand"] .dropdown.user_menu .btn.btn-default,
body[class*="keynote"] .top_menu .dropdown.user_menu .btn.btn-default:visited {border-color:#464646;color:#464646;}
.brand .wrapwidg.nestedPage {overflow: visible;}
.brand .wrapwidg.nestedPage.video {z-index: 10;}
.brand .wrapwidg.nestedPage.video > .widget_padding {display: flex;}
.streaming-contents-widget {height:100%;position:absolute;}
.streaming-contents-widget {display: flex;flex-direction: column;align-items: flex-start;width: 100% !important;}
.streaming-contents-widget > * {min-width:100%;}
.streaming-contents-widget h2 {font-size:18px;text-transform: uppercase;margin:0 0 20px 0;line-height: 20px;}
.streaming-contents {padding: 0 20px 0 0;height: 100%;}
.streaming-contents ul {margin:0;padding: 0;}
.streaming-content-item {width: 100%;margin:0;background: #fff;padding:1rem;position: relative;margin:0 0 1rem 0;max-height: 190px;display: flex;flex-direction: column;}
.streaming-content-item button {position: absolute;right:1rem;top:1rem;z-index: 5;font-size: 1.5rem;height: 1.5rem;width:1.5rem;text-align: center;line-height: 1.5rem;padding: 0;}
.streaming-content-item img {width: 100%;}
.streaming-content-item .title {font-size:10px;font-weight:bold;text-transform: uppercase;}
#favourite-widget-small {background: #fff;padding:1rem;position: fixed;right: 0;bottom:0;width:270px;z-index:100;}
#favourite-widget-small {-webkit-transition: all 0.3s ease-in-out;  -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;}
#favourite-widget-small ul {list-style: none;padding: 0;margin: 0;}
#favourite-widget-small .row-title {font-size: 0.875rem !important;text-transform: uppercase;font-weight: bold;display: block;margin:0 0 16px 0;}
#favourite-widget-small .buttons_wrapper_left_small,
#favourite-widget-small .buttons_wrapper_right_small {display:none;}
#favourite-widget-small.stop-scrolling {margin-bottom: 375px;}
li.favourite-product-column {display: flex;align-items: center;}
.image-holder-small {margin: 0 1rem 0 0;}
.image-holder-small img {width:3rem;}
.product-title {font-size:11px;text-transform: uppercase;font-weight: 400;flex-grow: 1;}
.product-info-small {flex-grow:1;display:flex;align-items: center;}
.meta-product-info {font-size: 8px;font-weight: 300;margin-left: auto;}
.brand .agenda_current {padding: 1rem;background: rgba(0,0,0,0.05);}
.brand-card {color: #fff;}
.brand-card .row {margin:0;}
.brand-card .row > div {padding:1rem;}
.brand-card .row.ptf > div h3 {font-size:1.5rem;font-weight:500;text-transform: uppercase;}
.brand-card .row > div h3 {font-size:18px;font-weight:500;text-transform: uppercase;}
.brand-card .row > div .segment {font-size:18px;font-weight:500;text-transform: uppercase;}
.brand-card .row.ptf {background: rgba(0,0,0,0.7);display: flex;}
.brand-card .row.ptf > div:first-child {display: flex;flex-direction: column;justify-content: flex-start;}
.brand-card .row.ptf > div:first-child button,
.brand-card .row.ptf > div:first-child button:visited {margin-top:auto;height:auto;line-height:20px;padding:20px 2.5rem;background:none;border:1px solid #fff;border-radius:4px;color:#fff;font-size:0.875rem;font-weight:bold;text-transform: uppercase;}
.brand-card .row.ptf > div:last-child {padding:0;}
.brand-card .row.tgt {background: rgba(0,0,0,0.45);}
.brand-card .row.cmp {background: rgba(0,0,0,0.45);}
.brand-card .row.cmp .col-md-6 {width:100%;padding:0;}
.brand-card .row.cmp .col-md-6 h3 {padding:1rem 1rem 0;}

/* break */
.break .wrapwidg.nestedPage {overflow: visible;}
.break .video_background {height:940px;}
.break .video_background + .wrapwidg.nestedPage {padding-top:2.5rem;}
.break .video_background ~ .wrapwidg.nestedPage > .widget_padding {display:flex;}
.break .video_background ~ .wrapwidg.nestedPage > .widget_padding > .column_generico {display: flex;flex-direction: column;margin: 0;justify-content: space-between;}
.break .video_background ~ .wrapwidg.nestedPage.nestedDepth1 > .widget_padding > .column_generico:last-child {align-items: flex-end;}
.break .survey {display: flex;justify-content: center;align-items: center;position: relative;margin-top: 3rem;}
.break .survey h2.section_title {display: none;}
.break .agenda_current {margin-top: 0;}
.break [data-tt-widget-widget="commentList"] {padding:6rem 1rem 1rem;background: rgba(0,0,0,0.5);color: #fff;text-align: center;width:30rem;border:1px solid #fff;border-radius: 4px;float:none;margin:0 auto 3rem;}
.break [data-tt-widget-widget="commentList"]:before {height:9.375rem;width:9.375rem;content: '';background: #fff;position: absolute;top:-4.688rem;left:calc(50% - 4.688rem);border-radius: 50%;background: #fff url(../images/kering_eyewear.svg) no-repeat center center;background-size: 75%;}
.break [data-tt-widget-widget="commentList"]:after {content:'';display:block;height:1px;position: relative;width:100%;clear:both;}
.break [data-tt-widget-widget="commentList"] .form-group {display: flex;justify-content: center;flex-wrap: wrap;padding-bottom: 0 0 20px 0;}
.break [data-tt-widget-widget="commentList"] .control-label {text-transform: uppercase;font-size: 1.5rem;font-weight: 500;width:100%;margin:0 0 20px 0;}
.break [data-tt-widget-widget="commentList"] .checkbox {margin:0;padding:0;}
.break [data-tt-widget-widget="commentList"] .btn.btn-default {border-color: #fff;color: #fff;margin:20px 0 0 0;}
.user_online .users-online-container {display: flex;padding-left:0;}
.online_user {width: 100%;height:11.25rem;overflow: hidden;color:#fff;}
.online_user h2.widget_title {font-size:1.5rem;color:#fff;}
.online_user .users-online-container img {min-width:4.5rem;width:4.5rem;height:4.5rem;border-radius: 50%;margin: 0 10px 0 0;}
.online_user .users-online-container {display: flex;padding-left: 0;align-items: center;margin: 0 20px 0 0;}
.online_user .users-online-container .users-online-avatar {min-width:5rem;}
.online_user .users-online-container .users-online-details {flex-grow: 1;font-size:0.75rem;font-weight:bold;text-transform: uppercase;text-align: left;}
.online_user .users-online-container .user-name-avatar {min-width:4.5rem;width:4.5rem;height:4.5rem;line-height: 4.5rem;}
[data-tt-widget-widget="usersOnline"] {width:100%;overflow: auto; overflow-y: hidden;padding: 0 0 20px 0;}
[data-tt-widget-widget="usersOnline"] .simplebar-content {display:flex;flex-wrap: nowrap;}
.break .agenda_current .agenda-item {border:1px solid #fff;}
.break .agenda_current .agenda-item.active {border:2px solid #fff;color: #fff;}
.break .agenda_current .agenda-item.inactive {background: #fff;}
.break .countdown_small {height: 11.25rem;overflow: hidden;}
.break .top-box {position: relative;left: auto;top:auto;}
.dedicated_side {overflow:hidden;color:#fff;width:13.75rem !important;float:right;}
.dedicated_side .contents_wrapper .template-custom {margin:0 0 1rem 0;}
.dedicated_side .dc-action {font-size: 12px;font-weight: bold;}
.dedicated_side .dc-action a,
.dedicated_side .dc-action a:hover {color:#fff;}
.dedicated_side .dc-thumbnail {max-height:7.5rem;overflow: hidden;}
.dedicated_side .dc-thumbnail img {border:1px solid #fff;margin:0 0 8px 0;width:100%;object-fit: cover;}
.dc-intro {font-size: 0.9rem;line-height: 1rem;}
#favourite-widget .product-list {margin:0;padding:20px 0 0 0;display:flex;width: 100%;flex-wrap: wrap;flex-flow: row;justify-content: flex-start;}
#favourite-widget .product-list li {width: calc((100% - 100px) / 6);margin:0 20px 0 0;background: #fff;padding:1rem;position: relative;}
#favourite-widget .product-list li:last-child {margin:0;}
#favourite-widget .product-list li button {position: absolute;right:1rem;top:1rem;z-index: 5;font-size: 1.5rem;height: 1.5rem;width:1.5rem;text-align: center;line-height: 1.5rem;padding: 0;}
#favourite-widget .product-list li .image-holder img {width: 100%;}
#favourite-widget .product-info {display:flex;flex-wrap: wrap;padding-top:1rem;}
#favourite-widget .meta-product-info {width: 100%;}
#favourite-widget .product-brand,
#favourite-widget .product-title {font-size:11px;font-weight: bold;text-transform: uppercase;}
#favourite-widget .paginator-button-right {position: absolute;right:-82px;top: calc(50% - 31px);height:62px;width:62px;background: #464646;color: #fff;text-align: center;line-height: 62px;border-radius: 50%;font-size: 2rem;}
#favourite-widget .paginator-button-left {position: absolute;left:-82px;top: calc(50% - 31px);height:62px;width:62px;background: #464646;color: #fff;text-align: center;line-height: 62px;border-radius: 50%;font-size: 2rem;}
.favourite_wall .contents_wrapper {margin:0;padding:20px 0 0 0;display:flex;width: 100%;flex-wrap: wrap;flex-flow:row wrap;justify-content: flex-start;}
.favourite_wall .contents_wrapper > div {width: calc((100% - 100px) / 6);margin: 0 20px 20px 0;background: #fff;padding:1rem;position: relative;}
.favourite_wall .contents_wrapper > div:nth-child(6),
.favourite_wall .contents_wrapper > div:nth-child(12),
.favourite_wall .contents_wrapper > div:nth-child(18),
.favourite_wall .contents_wrapper > div:nth-child(24),
.favourite_wall .contents_wrapper > div:nth-child(30) {margin-right: 0;}
.favourite_wall {z-index:1;}
.break .bottom_40 {z-index: 2;}
.pf-body {display:flex;align-items: center;}
.pf-body > * {margin:0 1rem 0 0;}
.pf-body .txt {font-weight: bold;text-transform: uppercase;}
.pf-body .cta-kering {padding:0 20px;line-height: 29px;text-transform: uppercase;background: #464646;color: #fff;border-radius: 0.875rem;font-weight:bold;cursor: pointer;}
.pf-body .flexi-dropdown-wrapper {width:200px;}
.pf-body .flexi-dropdown header {height: 2rem;font-style: normal;font-weight: bold;font-size:0.875rem;text-transform: uppercase;}
.favourite_wall .favourite-product-box {width:100%;}
.favourite_wall .contents_wrapper > div button {position: absolute;right:1rem;top:1rem;z-index: 5;font-size: 1.5rem;height: 1.5rem;width:1.5rem;text-align: center;line-height: 1.5rem;padding: 0;background: none;}
.favourite_wall .contents_wrapper > div .image-holder img {width: 100%;}
.favourite_wall .product-info {display:flex;flex-wrap: wrap;padding-top:1rem;}
.favourite_wall .meta-product-info {width: 100%;}
.favourite_wall .product-brand,
.favourite_wall .product-title {font-size:11px;font-weight: bold;text-transform: uppercase;}

/* event to start */
.event-to-start.break .agenda {margin:0;}
.event-to-start.break .agenda h5 {margin:0 0 1rem 0;}
.event-to-start.break .top-box {margin-top:0 !important;}
/*
.event-to-start.break .agenda {margin:0;max-height:100%;overflow: hidden;overflow-y: auto;padding:30px 30px;}
.event-to-start.break .agenda .agenda-item {padding:2px 0;}
*/
.event-to-start.break .video_background + .wrapwidg.nestedPage {padding:0;height:100vh;max-height:100%;}
.event-to-start.break .video_background + .wrapwidg.nestedPage .wrapwidg {height:100%;}
.event-to-start.break .video_background + .wrapwidg.nestedPage .wrapwidg .widget_padding,
.event-to-start.break .video_background + .wrapwidg.nestedPage .wrapwidg .widget_padding > div {height:100%;}
.event-to-start.break .video_background + .wrapwidg.nestedPage > .widget_padding {display:flex;max-height:100%;}
.event-to-start.break video[poster] {position:fixed;}

/* custon select */
.flexi-dropdown-wrapper {position:relative;}
.flexi-dropdown header {position:relative;height:44px;border-bottom: 1px solid #D4D4D4;font-style:italic;cursor:pointer;}
.flexi-dropdown header .text-holder {line-height: 20px;padding: 6px 0 0 0px;width: calc(100% - 2rem);}
.flexi-dropdown header > span i:before {position:absolute !important;right:0;top:0;height:2rem;width:2rem;line-height:2rem;text-align:center;}
[data-link-event="dropdown:close"] {display:none;}
.flexi-dropdown section {background: #F7E8C5;position: absolute;width: 100%;z-index: 10;display:none;max-height:18rem;overflow: hidden;overflow-y: auto;}
.flexi-dropdown section ul {list-style:none;padding:0;margin:0;}
.flexi-dropdown section ul li {line-height:1rem;padding:1rem;cursor:pointer;width:100%;}
.flexi-dropdown section ul li[data-link-event="dropdown:0"] {display:none;}
.flexi-dropdown section ul li:hover {background: rgba(0,0,0,0.1);}
.fa.fa-chevron-down:before {font-family: 'kering' !important;content: "\e905";font-size:2rem;font-weight: normal;display:block;height:2rem !important;width:28px !important;position:relative;z-index:1;}
.fa.fa-chevron-up:before {font-family: 'kering' !important;content: "\e906";font-size:2rem;font-weight: normal;display:block;height:2rem !important;width:28px !important;position:relative;z-index:1;}
.flexi-dropdown.opened [data-link-event="dropdown:close"] {display:block;}
.flexi-dropdown.opened [data-link-event="dropdown:open"] {display:none;}
.flexi-dropdown.opened section {display:block;}
.product-filter .flexi-dropdown section {width: calc(100% * 3);display:none;max-height:none;} 
.product-filter .flexi-dropdown section ul {list-style:none;padding:0;margin:0;display:flex;flex-wrap: wrap;}
.product-filter .flexi-dropdown section ul li {line-height:1rem;padding:1rem;cursor:pointer;width:calc(100% / 3);}
.product-filter .flexi-dropdown.opened section {display:block;}

/* thanks to, faq */
.acknowledgements .widget_logo .logo a,
.faq .widget_logo .logo a {background: url(../images/kering_eyewear.svg) no-repeat center center;background-size: contain;}
.acknowledgements .widget_logo .logo a img,
.faq .widget_logo .logo a img {opacity:0;}
.acknowledgements .top_menu .dropdown.user_menu .btn.btn-default,
.acknowledgements .top_menu .dropdown.user_menu .btn.btn-default:visited,
.faq .top_menu .dropdown.user_menu .btn.btn-default,
.faq .top_menu .dropdown.user_menu .btn.btn-default:visited {border-color:#464646;color:#464646;}
.acknowledgements .th-page-title h1,
.faq h2.widget_title {text-align:center;font-size:72px;font-weight:100;margin:0 0 4rem 0;padding:0;border:none;justify-content: center;}
.faq h2.widget_title i {display:none;}
.acknowledgements .people-row {display:flex;justify-content: space-evenly;padding:20px;flex-wrap: wrap;}
.acknowledgements .th-people-box {text-align: center;padding:20px;}
.acknowledgements .th-people-box hr {max-width:420px;border-top:1px solid #464646;}
.acknowledgements .person-item img {max-width:150px;border-radius:50%;}
.acknowledgements #footer a,
.faq #footer a {color:#464646;text-decoration: underline;}
.acknowledgements #footer a:hover,
.faq #footer a:hover {color:#464646;}
.faq .btn-link {color:#464646;height:55px;line-height:55px;border-bottom: 1px solid rgba(0,0,0,0.5);width:100%;text-align:left;padding:0;text-transform: uppercase;}
.faq .btn-link i {float:right;height:55px;width:1.5rem;line-height:55px;}
.faq .accordion {margin-bottom:40x;}
.faq .accordion .card-body {padding:20px 0;}
.faq .helper {background: rgba(255,255,255,0.5);width:calc(100% + 15rem);margin-left:-7.5rem;text-align:center;padding:3rem;margin-bottom:4rem;}
.faq .helper h2 {font-size:1.5rem;text-transform: uppercase;}
.faq .helper a, .faq .helper a:visited {color:#464646;text-decoration: underline;}
.faq .helper a:hover {color:#464646;text-shadow:0 0 4px rgba(255,255,255,0.8);}

/* simplebar */
body .simplebar-scrollbar:before {background: #fff;}
body .simplebar-track.simplebar-vertical {overflow: visible;width:1px;background: #fff;right: 7px;}
body .simplebar-track.simplebar-vertical .simplebar-scrollbar {height:2.5rem !important;}
body .simplebar-track.simplebar-vertical .simplebar-scrollbar:before {height: 2.5rem;width: 15px;background: #fff;border-radius: 5px;right:-7px;left:auto;opacity:1;}
body .simplebar-track.simplebar-horizontal {overflow: visible;height:1px;background: #fff;bottom: 7px;}
body .simplebar-track.simplebar-horizontal .simplebar-scrollbar {width:2.5rem !important;}
body .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {width: 2.5rem;height: 15px;background: #fff;border-radius: 5px;bottom:0;left:auto;opacity:1;}

/* poste-event */
.post-prodotto .widget_logo .logo a,
.post-video .widget_logo .logo a {background: url(../images/kering_eyewear.svg) no-repeat center center;background-size: contain;}
.post-prodotto .widget_logo .logo a img,
.post-video .widget_logo .logo a img {opacity:0;}
.post-prodotto .top_menu .dropdown.user_menu .btn.btn-default,
.post-prodotto .top_menu .dropdown.user_menu .btn.btn-default:visited,
.post-video .top_menu .dropdown.user_menu .btn.btn-default,
.post-video .top_menu .dropdown.user_menu .btn.btn-default:visited {border-color:#464646;color:#464646;}
.intro_title h1 {font-size:3.75rem;font-weight:300;text-transform: uppercase;}
.post_video .slick-track {margin:0;padding:20px 0 0 0;display:flex;width: 100%;flex-wrap: wrap;flex-flow: row;justify-content: flex-start;}
.post_video .slick-track {display:flex;}
.post_video .template-custom {width: calc((100% - 100px) / 6);margin:0 20px 0 0;background: #fff;padding:0;position: relative;}
.post_video .template-custom:last-child {margin-right:0;}
.post_video .template-custom .col-md-2,
.post_video .template-custom .col-md-8,
.post_video .template-custom .col-md-12 {width:100%;padding:0;margin:0;}
.post_video .video_cover img {width:100%;}
.post_video .video_cover:before {content:'';display:block;position: absolute;left:0;top:0;z-index: 5;height: 100%;width:100%;text-align: center;padding: 0;background: url(../images/ico_play.svg) no-repeat center center;background-size: 3.75rem;}
.post_video .slick-next,
.post_video .slick-prev {text-indent:-9999px;height:62px;line-height:62px;width:62px;background: #464646;border-radius: 50%;border-radius: 50%;color:#fff;display:flex;justify-content: center;align-items: center;z-index: 2;}
.post_video .slick-next:before {font-size: 2rem;display: block;opacity: 1;text-indent: 0;}
.post_video .slick-prev:before {font-size: 2rem;display: block;opacity: 1;text-indent: 0;}
.post_video .row .btn {float: right;height: 28px !important;line-height: 28px !important;font-weight: bold;color: #fff;text-transform: uppercase;font-size: 0.875rem;padding: 0 20px;border-radius: 0.875rem;background: #464646;text-align: center;border: none;}
.post_video .video_titolo {padding:0.5rem 1rem !important;}
.post_video .video_titolo h5,
.post_video .video_titolo a {font-size:11px;color:#464646;text-transform: uppercase;}
.post-video .contents_wrapper {overflow:visible;}
.slick-prev {left: -80px !important;}
.slick-next {right: -80px !important;}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {background: #464646 !important;}

/* timeline center */
body[class*="brand"] .nestedPage.nestedDepth1 > .widget_padding,
body[class*="keynote"] .nestedPage.nestedDepth1 > .widget_padding {display:flex;}
body[class*="brand"] .nestedPage.nestedDepth1 > .widget_padding > div:first-child,
body[class*="keynote"] .nestedPage.nestedDepth1 > .widget_padding > div:first-child {display: flex;flex-direction: column;justify-content: center;}

/* post feedback */
.post-feedback .btn.btn-primary,
.post-feedback .btn.btn-primary:visited,
.post-feedback .btn.btn-default,
.post-feedback .btn.btn-default:visited,
.post-feedback .top_menu .btn.btn-default,
.post-feedback .top_menu .btn.btn-default:visited {border-color:#fff;color:#fff;}
.post-feedback .video_background {height:100%;position: fixed;}
.post-feedback .top-box {position: relative;left: auto;top: auto;margin-top:20vh;}
.post-feedback .top-box .headline {margin-bottom: 2rem;}
.post-feedback .top-box .buttons .btn {margin-right:2rem;}
.post-feedback .ttcomponent-contentDetail {color:#fff !important;}
.feedback_survey {background:rgba(0,0,0,0.25) !important;padding:2rem;color:#fff !important;}
.feedback_survey section h2 {font-size:1.5rem;text-transform: uppercase;text-align: center;color:#fff;}
.feedback_survey nav {display:none;}
.feedback_survey .form-control {min-height: 2.6rem;border-radius: 0;border: 2px solid #fff;border-right: none;background:none;color: #fff;font-weight:bold;}
.feedback_survey .input-group-addon:last-child {border: 2px solid #fff;border-left: 0;background: none;color: #fff;border-radius: 0;}
.feedback_survey .fa {color:#fff;}
.feedback_survey .content_details .fal,
.feedback_survey .content_details .fa,
.feedback_survey .content_details .fas {color:#fff;}
.feedback_survey .form-group .radio label {width:100%;}
.feedback_survey .form-group .radio label .form-control {border-right: 2px solid #fff;margin:10px 0 0 0;color: #fff;}
.feedback_survey footer {display:flex;justify-content: center;}
.feedback_survey .btn-group .btn {min-width:120px;}

/* rating */
.feedback_survey .form-group.star-question .radio {display:inline-block;margin:0;padding:0;}
.feedback_survey .form-group.star-question .radio label {padding: 0;margin: 0 10px 20px;width: 26px !important;width:auto;}
.feedback_survey .form-group.star-question .radio label span {height: 26px;width: 26px;font-size:26px;line-height:26px;text-align:center;border:none;border-radius: 0;text-indent:-9999px;}
.feedback_survey .form-group.star-question .radio label span:before {font-family: 'kering' !important;content: "\e91b";font-weight: normal;border:none;text-indent: 0;}
.feedback_survey .form-group.star-question .radio label input:checked ~ span:after {display: none;}
.feedback_survey .form-group.star-question .radio label input:checked ~ span:before,
.feedback_survey .form-group.star-question .radio label.selected span:before {font-family: 'kering' !important;content: "\e921";font-weight: normal;}

/* general modal */
.modal-header {border:none;text-align: center;}
.modal-title {text-transform:uppercase;font-weight:500;}
.modal-body {border: none;padding: 1rem;border:none;}
.modal-footer {padding: 1rem;text-align: center;border-top: none;clear: both;}
.modal-content {background: rgba(255,255,255,0.9);border: none;border-radius: 4px;}

/* RESPOSNIVE */

@media (max-width: 1680px) {

    /*html {zoom:0.8;}*/

}

@media screen and (max-width: 1400px) {

    /*body*/
    :root, body {font-size: 12px !important;}
    .btn {font-size:12px;}

    /* countdown fix */
    .countdown-container {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);-o-transform: scale(1);
    transform: scale(1);}

    /* header */
    #jam-session-top-question .btn-toolbar .btn {right: 0;top: 8px;}

    /* general */
    .pt_96 {padding-top: 1.5rem !important;}

    /* keynote, brand, break */
    .break .video_background {height: 800px;}
    .break .survey {margin-bottom:0;}
    .agenda_dots {margin-bottom:0;}
    .streaming-contents-widget h2 {font-size:1.3em;}
    .streaming-content-item button,
    #favourite-widget .product-list li button,
    .favourite_wall .contents_wrapper > div button {font-size: 1.667;height: 2rem;width: 2rem;}

}

@media (max-width: 1024px) {
    body {background-size: 300px auto !important;}
    #header .wrapwidg.nestedPage {width: calc(100% - 4rem) !important;}
    .top-box {left:60px;}
    .video_background, .break .video_background {height: 1080px;min-height:0;}
    .dedicated_side {width:100% !important;}
    .break .survey {height: 680px;padding:0 2rem;}
    .online_user {padding:0 2rem;}
    #main {padding: 11.25rem 4rem 0;}
    .top_comment_snackbar {top: -3.938rem;left: -4rem;width: calc(100% + 8rem) !important;}
    #offcanvas-notification {display: none !important;}
    #jam-session-top-question {padding:8px 4rem;}

    /* brand */
    .break .top_comment_snackbar {margin: -3.938rem 0 0 -4rem;top:auto;left:auto;width: 100% !important;}
    /*.top_comment_snackbar + .wrapwidg.nestedPage {height:calc(1080px - 11.25rem);width: 100% !important;}*/
    body[class*="brand"] #main .wrapwidg.nestedPage.nestedDepth1,
    body[class*="keynote"] #main .wrapwidg.nestedPage.nestedDepth1,
    body[class*="post"] #main .wrapwidg.nestedPage.nestedDepth1,
    body[class*="break"] #main .wrapwidg.nestedPage.nestedDepth1 {width: calc(100% + 6rem);margin-left: -3rem;}
    .azuremediaplayer {min-height:0;}
    .comments-upload {width:100%;}
    .step-about .col-xs-12 {width:50%;}
    .streaming-contents-widget {padding-left:0;}
    .streaming-content-item .image-container {height:48px !important;}
    .agenda_current .agenda-item.active {height:35px;width:35px;line-height:35px;font-size:24px;}
    .agenda_current .agenda-item {width:10px;height:10px;}
    #favourite-widget-small.stop-scrolling {margin-bottom: 230px;}

    /* products */
    #favourite-widget .product-list li {width: calc((100% - 60px) / 4);}
    .favourite_wall .contents_wrapper > div {width: calc((100% - 60px) / 4);}
    .favourite_wall .contents_wrapper > div:nth-child(6),
    .favourite_wall .contents_wrapper > div:nth-child(12),
    .favourite_wall .contents_wrapper > div:nth-child(18),
    .favourite_wall .contents_wrapper > div:nth-child(24),
    .favourite_wall .contents_wrapper > div:nth-child(30) {margin-right: 20px;}
    .favourite_wall .contents_wrapper > div:nth-child(4),
    .favourite_wall .contents_wrapper > div:nth-child(8),
    .favourite_wall .contents_wrapper > div:nth-child(12),
    .favourite_wall .contents_wrapper > div:nth-child(16),
    .favourite_wall .contents_wrapper > div:nth-child(20),
    .favourite_wall .contents_wrapper > div:nth-child(24),
    .favourite_wall .contents_wrapper > div:nth-child(28),
    .favourite_wall .contents_wrapper > div:nth-child(32) {margin-right: 0;}

    /* counter */
    .countdown-wrapper {width:100%;display:flex;}
    .countdown .count {font-size:4rem;}
    .countdown .time {min-width: 50%;width: auto;}
    .countdown-wrapper>div.time:not(:first-child):before {left:-8px;font-size:2.8rem;line-height:6rem;}
    .countdown .count-label {font-size:9px;}
    .event-to-start.break .countdown-wrapper {width: 25%;}
}

@media (orientation: portrait) {
    /* to start */
    .event-to-start.break .video_background + .wrapwidg.nestedPage {height:auto;}
    .event-to-start.break .video_background + .wrapwidg.nestedPage > .widget_padding {flex-direction:column;}
    .event-to-start.break .video_background + .wrapwidg.nestedPage > .widget_padding > div:nth-child(1) {order:2;}
    .event-to-start.break .video_background + .wrapwidg.nestedPage > .widget_padding > div:nth-child(2) {order:1;}
    .event-to-start.break .video_background + .wrapwidg.nestedPage > .widget_padding > div:nth-child(3) {order:3;}
    .event-to-start.break .video_background + .wrapwidg.nestedPage > .widget_padding {max-height: none;}
    .event-to-start.break .top-box {margin:0 !important;}
    .event-to-start.break .dedicated_side .contents_wrapper {display:flex;justify-content: space-between;}
    .event-to-start.break .dedicated_side .contents_wrapper .template-custom {width:calc((100% / 3) - 40px);}

    /* break */
    .video_background, .break .video_background {height: 1024px;}
}

@media (max-width: 990px) {
    html {width: 100%;overflow-x: hidden;}
}

@media (max-width:767px) and (max-width:768px) {

    /* body */
    body {background: #FCEDC9;}
    body.brand {background: #D4D4D4}
    .wrapwidg.nestedPage {width: 100% !important;margin: 0 auto;}
    .top_comment_snackbar + .wrapwidg.nestedPage {height:auto;}

    /* header */
    #header .wrapwidg.nestedPage {width: calc(100% - 32px) !important;margin: 0 auto;}

    /* widgets */
    .event_registration {padding: 30px;}
    .agenda {padding: 30px;}
    .column_generico+.column_generico>.wrapwidg {margin-left:0;}

    /* footer */
    #footer {background: #FCEDC9 url(../images/bg_bottom.png) no-repeat right bottom;background-size:contain;text-align:left;padding:0 22px;}
    #footer .ker-logo {width:7.5rem;}
    .acknowledgements #footer, .faq #footer {background: url(../images/bg_bottom.png) no-repeat right bottom;background-size:contain;}
    .acknowledgements #main, .faq #main {padding: 117px 22px 0;}
    .acknowledgements .person-item {margin:0 0 20px 0;}
    .brand #footer {background: url(../images/bg_brand.png) no-repeat right bottom;background-size:contain;text-align:left;padding:0 22px;}

    /* login */
    #wraplog .top_menu {right:22px;}

}

@media (max-width:576px) {

    /* html */
    html {zoom:1;}
    :root {font-size: 16px !important;}

    /* login */
    .login #main, #wraplog #main {padding: 0 22px;}
    #wraplog #mainwrap {width:100%;padding: 200px 22px 0;}
    .login .body-wrapper {width:100%;}
    .login .body-wrapper h1 {font-size:60px;}
    .login .body-wrapper h4 {font-size:20px;}
    .btn-group-welcome {display: flex;justify-content: center;padding: 20px 0 0 0;flex-direction: column;align-items: center;}
    .login a.btn.btn-primary {width:100%;margin:0 0 20px 0;}
    #wraplog #mainwrap h2.panel-title {font-size:60px;}

    /* body */
    #main {padding: 145px 1rem 0;}

    /* header */
    #header {height: 65px;}
    #header .wrapwidg#user {margin: 4px 0 0 0;}
    #header .logo img {height: 2.5rem;}
    #header .row-button {display:none;}
    .top_menu .faq_menu .btn.btn-default {width:2rem;height:2rem;font-size:2rem;}
    .fa.fa-question-circle {vertical-align: top;}
    .fa.fa-question-circle:before {font-size:2rem;vertical-align: top;}
    .wrapwidg.widget_logo {width: auto !important;}
    .dropdown.faq_menu, .dropdown.user_menu {height:2rem;width:1.5rem;}
    .top_menu .dropdown.user_menu .btn.btn-default, .top_menu .dropdown.user_menu .btn.btn-default:visited {line-height: 2rem;height:2rem;}
    .top_menu .btn.btn-default, .top_menu .btn.btn-default:visited {height: 2rem;line-height: 2rem;padding: 0 10px;}
    .top_menu .pull-left > div {margin: 0 0 0 8px;}
    .top_menu .feedback-menu a.btn.btn-default {border-radius:50%;padding:0;height:2rem;width:2rem;padding-left:calc(2rem - 4px);border-radius: 50%;overflow:hidden;position:relative;}
    .top_menu .feedback-menu a.btn.btn-default:before {line-height: calc(2rem - 4px);height: calc(2rem - 4px);width:calc(2rem - 4px);position:absolute;left:0;top:0;font-size:1.2rem;}

    /* top answer */
    #jam-session-top-question {padding: 0.5rem 1rem;height:auto;}
    .top_comment_snackbar {top: -80px;left: -1rem;width: calc(100% + 2rem) !important;}
    .break .top_comment_snackbar {margin: -80px 0 0 -1rem;}
    #jam-session-top-question .jam-comment .media .media-body {display: flex;align-items: flex-start;flex-direction: column;}
    #jam-session-top-question .jam-comment img {height: 32px;min-width: 32px;width: 32px;}

    /* home */
    .top-box {padding: 0 22px;left:0;}
    .headline .h-2 {font-size:50px !important;line-height:60px;}
    .headline {width:100%;}
    .wrapwidg.nestedPage {width: 100% !important;margin: 0 auto !important;}
    .event_registration {margin: 2rem 0;padding: 0;}
    .agenda {margin: 2rem 0 6rem;padding: 0;background: none;}
    .event_page .buttons_wrapper {flex-direction:column;}
    .event_page .buttons_wrapper .btn.btn-block {width:100%;margin:0 0 20px 0;}
    .faq .btn-link {line-height: 20px;white-space: normal;height: auto;}
    .acknowledgements .th-page-title h1, .faq h2.widget_title {font-size:50px;}
    .acknowledgements .people-row {flex-wrap: wrap;}
    .acknowledgements .person-item {width:50%;margin:0 0 20px 0;}
    .acknowledgements .person-item img {max-width:100px;}
    .acknowledgements .th-people-box hr {max-width: 166px;}
    .faq .helper {background: #5E2286;width:100vw;margin-left:-22px;}
    .faq .helper h2 {font-size:20px;text-transform: uppercase;}
    .acknowledgements #main, .faq #main {padding: 50px 22px 0;}
    .eventRegistration .wrapwidg.nestedPage {padding:0 1rem;}

    /* counter */
    .countdown-top-class .buttons {width:100%;}
    .countdown-top-class .btn.btn-primary {width:100%;}
    .sezione_countdown {max-width: 100%;}
    .countdown .countdown-container {width: 100%;margin:0 !important;height:auto !important;max-height: none;}
    .countdown-wrapper>div.time:not(:first-child):before {left:-1rem;}
    .countdown .count {font-size:54px;}
    .countdown-wrapper {width: 100%;}
    .countdown .time {min-width: calc(100% / 4);}

    /* keynote */
    .azuremediaplayer { width: 100% !important;padding-bottom: 56.25% !important;}
    .top_comment_snackbar + .wrapwidg.nestedPage.pt_10 {padding-top: 1rem !important;}
    .top_comment_snackbar + .wrapwidg.nestedPage > .widget_padding {display: flex;flex-direction: column;}
    .top_comment_snackbar + .wrapwidg.nestedPage > .widget_padding > div:nth-child(1) {order: 2;}
    .top_comment_snackbar + .wrapwidg.nestedPage > .widget_padding > div:nth-child(2) {order: 1;}
    .top_comment_snackbar + .wrapwidg.nestedPage > .widget_padding > div:nth-child(3) {order: 3;}
    .top_comment_snackbar + .wrapwidg.nestedPage > .widget_padding > div:nth-child(1) {display: flex;flex-direction: column-reverse !important;}
    .brand [data-tt-widget-widget="azureVideo"] {margin:0 0 24px 0;}
    .brand .agenda_current {padding: 0;background: none;margin: 0 0 2rem;width: 100%;flex-direction: row;justify-content: space-between;}
    .agenda_current .agenda-item.active {height:35px;width:35px;line-height:35px;font-size:24px;}
    .agenda_current .agenda-item {width:10px;height:10px;}
    .wrapwidg.nestedPage.nestedDepth2 {padding-top:24px;}
    .comments-upload {width: 100%;flex-wrap: wrap;}
    .comments-upload > div {margin:0 16px 16px 0;}
    .comments .author-info {display: flex;align-items: flex-start;margin: 0 0 10px;flex-wrap: wrap;flex-direction: column;}
    .keynote [data-tt-widget-widget="azureVideo"] {margin:0 0 2rem;}

    /* agenda */
    .agenda_current {float: none;display: flex;flex-direction: row;align-items: center;justify-content: space-between;width: 100%;}

    /* favourites */
    #favourite-widget .product-list {flex-flow:row wrap;justify-content: space-between;padding-bottom: 3rem;}
    #favourite-widget .row-button {position: absolute;bottom: 0;width: 120px;left: calc(50% - 60px);}
    #favourite-widget .product-list li,
    #favourite-widget .product-list li:last-child {width: calc(50% - 8px);margin:0 0 16px 0;}
    .favourite_wall .contents_wrapper {justify-content: space-between;}
    .favourite_wall .contents_wrapper > div {width: calc(50% - 8px);margin:0 0 16px 0;}
    #favourite-widget-small {position: relative;right: auto;bottom: auto;width: calc(100% + 2rem);margin:0 0 2rem -1rem;}

    /* keynote, brand, break */
    .video_background, .break .video_background {height: 1080px;}
    .dedicated_side .dc-thumbnail {max-height: none;}
    .break .survey {height:auto;padding:0;margin:0 0 3rem;}
    .break [data-tt-widget-widget="commentList"] {width:auto;margin: 4rem 0 0 0;}
    .break .agenda_current {height:auto;height: auto;width: 100%;flex-direction: row;justify-content: space-between;margin:0 0 2rem;}
    .break .agenda_current .agenda-item {border-color: #464646;}
    .break .agenda_current .agenda-item.inactive {background: #464646;}
    .break .agenda_current .agenda-item.active {border-color: #464646;color: #464646;}
    .online_user {padding: 0;margin:0 0 2rem;}
    .break .top-box {padding:0;}
    .break .headline {text-align: center;}
    .break .countdown .countdown-container {justify-content: center;}
    .break .countdown-container .countdown-wrapper {width:50%;}
    .break .countdown .time {min-width: 50%;}
    .break .countdown .count {text-align:center;}
    .break .countdown .count-label {text-align:center;}
    .break .countdown-wrapper>div.time:not(:first-child):before {left:-4px;}
    .break .about-button, .break .liveboard-button {display: none;}
    .break .comments-upload .form-group {margin:0;}
    .dedicated_side {margin:0 0 2rem;color:#464646;}
    .dedicated_side h2.widget_title {color: #464646;}
    .dedicated_side .dc-action a, .dedicated_side .dc-action a:hover {color: #464646;}
    .jam-tabs .tab-pane {padding-bottom: 0;z-index: 1;display: flex;flex-direction: column;}
    button[data-tt-widget-trigger="showMore"].btn.btn-default {margin:0 auto;}
    .jam-tabs .comment-list {margin:0 0 2rem;}
    .streaming-contents-widget {position: relative;width:100% !important;height:auto;padding: 0;}
    .streaming-contents ul {display: flex;flex-flow:row wrap;justify-content: space-between;padding-bottom: 2rem;}
    .streaming-contents ul li {width: calc(50% - 8px);margin:0 0 16px 0;}
    .streaming-contents .simplebar-content {padding: 0 !important;}
    .streaming-contents-widget > * {width:100%;}
    div#liveboard-wdg {padding-top:0;}
    .brand-card .row.ptf {flex-direction:column;}
    .step-details {margin-bottom: 2rem;}
    .intro_title h1 {font-size: 2.5rem;text-align: left;}
    .step-about .col-xs-12 {width:100%;margin: 0;padding: 0 15px;}

    /* products */
    .favourite_wall .contents_wrapper > div:nth-child(6),
    .favourite_wall .contents_wrapper > div:nth-child(12),
    .favourite_wall .contents_wrapper > div:nth-child(18),
    .favourite_wall .contents_wrapper > div:nth-child(24),
    .favourite_wall .contents_wrapper > div:nth-child(30) {margin-right: 0;}
    .product-filter .flexi-dropdown section {width: 100%;display:none;max-height:18rem;} 
    .product-filter .flexi-dropdown section ul {list-style:none;padding:0;margin:0;display:flex;flex-wrap: wrap;}
    .product-filter .flexi-dropdown section ul li {line-height:1rem;padding:1rem;cursor:pointer;width:100%;}
    .product-filter .flexi-dropdown.opened section {display:block;}
    .streaming-contents ul.products-list > li {max-width: none;min-width: 0;width: calc(50% - 8px);margin: 0;padding: 0;flex:unset;}
    .streaming-content-item .image-container {height:96px !important;}

    /* feedback */
    .post-feedback .top-box {margin: 0 0 3rem;}
    .post-feedback .top-box .buttons .btn {margin: 0 0 1rem;display: block;}
    .post-feedback #footer {background: none;}

}