/* RESPONSIVE */

@media (max-width: 1440px) {

}

/*--------------------------------------------------------------------------------- IPAD & TABLET LANDSCAPE*/
@media (max-width: 1135px) {
	
}

/*--------------------------------------------------------------------------------- IPAD & TABLET LANDSCAPE*/
@media (max-width: 960px) {
    
}

/*--------------------------------------------------------------------------------- IPAD & TABLET LANDSCAPE*/
@media (min-width:650px) and (max-width: 960px) {
    
}

/*--------------------------------------------------------------------------------- SMARTPHONE */
@media (max-width: 650px) {
    
}