<div class="podium">
<div class="row top">
<div class="col-4"><a href="#"><img src=""/></a></div>
<div class="col-4"><a href="#"><img src=""/></a></div>
<div class="col-4"><a href="#"><img src=""/></a></div>
</div>
<div class="row">
<div class="col-4"><a href="#"><img src=""/></a></div>
<div class="col-4"><a href="#"><img src=""/></a></div>
<div class="col-4"><a href="#"><img src=""/></a></div>
</div>
<div class="row">
<div class="col-4"><a href="#"><img src=""/></a></div>
<div class="col-4"><a href="#"><img src=""/></a></div>
<div class="col-4"><a href="#"><img src=""/></a></div>
</div>
</div>