@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?xckj10');
	src:url('icomoon.eot?#iefixxckj10') format('embedded-opentype'),
		url('icomoon.woff?xckj10') format('woff'),
		url('icomoon.ttf?xckj10') format('truetype'),
		url('icomoon.svg?xckj10#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-groups:before {
	content: "\e900";
}
.icon-mic:before {
	content: "\e91e";
}

.icon-stack:before {
	content: "\e92e";
}

.icon-drawer:before {
	content: "\e95c";
}

.icon-cog:before {
	content: "\e994";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-arrow-up-right2:before {
	content: "\ea3b";
}

.icon-comments:before {
	content: "\e606";
}

.icon-email:before {
	content: "\e604";
}

.icon-notification:before {
	content: "\e605";
}

.icon-download:before {
	content: "\e603";
}

.icon-search:before {
	content: "\e602";
}

.icon-back:before {
	content: "\e600";
}

.icon-forward:before {
	content: "\e601";
}

.icon-image:before {
	content: "\e902";
}
.icon-link:before {
	content: "\e901";
}