/* @import url(https://giovalife.bitbucket.io/lispa/css/skin.css); */
.biglietti-manage {padding: 20px 0;}
.biglietti-manage .campi, .biglietti-manage .campi_text {border:none;background: none;padding: 10px 0;width: 100%;}
.biglietti-form, .statistiche  {padding:20px;background: #f9f9f9;border: 1px solid #ddd;border-radius: 6px;margin: 0 0 20px 0;}
.statistiche ul {list-style: none;margin: 0;padding: 0;}
.statistiche ul li {display: inline-block;padding: 0 10px;}
.statistiche ul li:last-child {float: right;}
.statistiche ul li:last-child a {font-weight: bold;font-size: 12px;text-transform: uppercase;}
.statistiche ul li:last-child a:before {content: '\f0ab';vertical-align: middle;display: inline-block;font-weight:bold;font-size:24px;font-family: FontAwesome;font-style: normal;font-weight: normal;line-height: 1;-webkit-font-smoothing: antialiased;}
.statistiche ul li .stats {display: inline-block;height: 24px;line-height: 24px;min-width: 24px;border-radius: 12px;background:#33a479;color: #fff;text-align: center;}
.campi span, .campi label, .campi_text label, .campi_text span {width: auto;display: block;color: #777;font-family: Arial;padding: 0 0 10px 0;font-weight: bold;text-transform: uppercase;font-size: 11px;}
.campi input {width: 100%;line-height: 32px;padding: 0 10px;border: 1px solid #efefef;}
.lista-biglietti .item {padding:20px;background: #fff;border: 1px solid #ddd;border-radius: 6px;margin: 0 0 20px 0;}
.lista-biglietti .pull_finali {float: none;}
.lista-biglietti .item .title {font-size: 18px;color: #33a479;padding: 0 0 20px 0;}
.lista-biglietti .item table {width: 100%;}
.lista-biglietti .item table tr td {padding: 5px;}
.lista-biglietti .item table tr td:first-child {width: 25%;}
.lista-biglietti .item table tr:nth-child(odd) td {background: #f9f9f9;}