@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ttm7pc');
  src:  url('fonts/icomoon.eot?ttm7pc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ttm7pc') format('truetype'),
    url('fonts/icomoon.woff?ttm7pc') format('woff'),
    url('fonts/icomoon.svg?ttm7pc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-eventi:before {
  content: "\a900";
}
.icomoon-resp_sociale:before {
  content: "\a901";
}
.icomoon-flower:before {
  content: "\a902";
}
.icomoon-immboliare:before {
  content: "\a903";
}
.icomoon-progetti_strategici:before {
  content: "\a904";
}
.icomoon-academy:before {
  content: "\a905";
}
.icomoon-editoriale:before {
  content: "\a906";
}
.icomoon-hands:before {
  content: "\a907";
}
.icomoon-hr:before {
  content: "\a908";
}
.icomoon-scenari_di_mercato:before {
  content: "\a909";
}
.icomoon-commerciale:before {
  content: "\a90a";
}
.icomoon-recensioni:before {
  content: "\a90b";
}
.icomoon-folder:before {
  content: "\a90c";
}
.icomoon-prodotti:before {
  content: "\a90d";
}
.icomoon-mic:before {
  content: "\a90e";
}
.icomoon-teamtiche_tecniche:before {
  content: "\a90f";
}
