/* @import url(https://giovalife.bitbucket.io/snam/css/skin.css); */
@import url(../fonts/fonts.css);

/* body */
body {background: #fff;font-family: 'AvenirLTStd-Roman', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
#mainwrap {overflow: visible;width: 100%;min-width: 0;max-width: none;margin:0 auto;position: relative;}
#home-highactmyp, #wrapcontent, #home-wrapcontent {width: 960px;margin: 0 auto;float: none;}

/* gradient BG */
body #mainwrap.customPageAliasClasspublic:before {content: '';display:block;position: absolute;top: 542px;left: 0;width: 100%;height: calc(100% - 542px);}
body #mainwrap.customPageAliasClasspublic:before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e6f8e1+0,e2f5fd+50,e5e8f9+100 */
    background: rgb(230,248,225); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(230,248,225,1) 0%, rgba(226,245,253,1) 50%, rgba(229,232,249,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(230,248,225,1) 0%,rgba(226,245,253,1) 50%,rgba(229,232,249,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(230,248,225,1) 0%,rgba(226,245,253,1) 50%,rgba(229,232,249,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f8e1', endColorstr='#e5e8f9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* search */
#header {width: 960px;margin: 0 auto;}
#header #search {background: none;-webkit-box-shadow: none;box-shadow: none;border-radius: 0;}
#header #search .ac_input {border:none;border-bottom: 1px solid #b0b0b0;border-radius:0;font-style: normal;}
a.searchButton {background: url(../graphic/icon-search.svg) no-repeat center center;background-size: 20px;}

/* header */
#header h1 {background: url(../graphic/logo.png) no-repeat left center;background-size: 80%;}
#header ul {background: none;}
#header ul#globalNavBar {display: flex;justify-content: space-between;}
#header ul li {border: none;}
#header ul li a {color: #003e7b;text-transform: uppercase;font-size: 11px;padding: 0 5px;}
.customPageAliasClasspublic #header ul#globalNavBar > li.first > a:after, 
#header ul#globalNavBar > li:hover > a:after {display: block;content:'';height:4px;width:100%;position: absolute;bottom: 0;left: 0;}
#header ul#globalNavBar > li > a:after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059b1+0,39bc01+100 */
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#header ul#globalNavBar > li > a.on,
#header ul#globalNavBar > li#first > a.on,
#header ul#globalNavBar > li > a.active,
#header ul#globalNavBar > li.open,
#header ul#globalNavBar > li.open > a {background: none;}
#header ul#globalNavBar > li > a.on:after,
#header ul#globalNavBar > li#first a.on:after,
#header ul#globalNavBar > li > a.active:after,
#header ul#globalNavBar > li.open > a:after {display: block;content:'';height:4px;width:100%;position: absolute;bottom: 0;left: 0;}
#header ul#globalNavBar > li > a.on:after,
#header ul#globalNavBar > li#first > a.on:after,
#header ul#globalNavBar > li > a.active:after,
#header ul#globalNavBar > li.open > a:after {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059b1+0,39bc01+100 */
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* footer */
#footer-html-temp {background: #003e7b;color: #fff;padding-left: calc((100% - 960px) / 2);padding-right: calc((100% - 960px) / 2);}
#footer-html-temp a {color: #fff;}
.footer-title {color: #fff;border: none;}
.footer-info-center .footer-title {color: #fff;border-bottom: 1px solid #fff;}
.footer-bottom a {color: #fff;}
.footer-logo img {display: none;}
.footer-logo {min-height: 80px;padding-top:80px;width: 280px;background: url(../graphic/logo_footer.svg) no-repeat left 30px;background-size: auto 50px;}
#footer-html-temp a.searchButton {background: url(../graphic/icon-search.svg) no-repeat center center;background-size: 20px;}
#footer-html-temp .ac_input {border-radius: 0;background: none;color: #fff;border: none;border-bottom: 1px solid #fff;padding:0;}
#footer-html-temp .ac_input::-webkit-input-placeholder {color: #fff;}
#footer-html-temp .ac_input::-moz-placeholder {color: #fff;;}
#footer-html-temp .ac_input:-ms-input-placeholder {color: #fff;;}
#footer-html-temp .ac_input:-moz-placeholder {color: #fff;;}

/* footer map */
.footer-mappa-links a {}
.footer-mappa-links li {background: url(../graphic/icon-chevron-green.svg) no-repeat right top;background-size:8px;line-height: 21px;font-size: 10px;color: #fff;margin: 0 0 5px 0;padding: 0;border-radius: 0;}
.footer-mappa-links li.opened {background: url(../graphic/icon-chevron-green-down.svg) no-repeat right top;background-size: 12px;}

/* slider */
.wrapwidg.wdg-Border4, #menuRoleBasedLeft .wrapwidg.wdg-Border4 {border-radius: 0;-moz-border-radius: 0;border: none;background: none;box-sizing: border-box;-moz-box-sizing: border-box;padding: 0;overflow: hidden;}
#home-wrapcontent #hp_Slider.wrapwidg .widget_padding {border: none;}
#home-wrapcontent #hp_Slider .wrappager {background: none;}
#home-wrapcontent #hp_Slider .wrappager a {border-radius: 0 !important;height:8px;widtH:8px;padding:0;border:1px solid #39bc01;text-indent: -9999px;background: none;box-shadow: none;}
#home-wrapcontent #hp_Slider ul.pager li a:hover, #home-wrapcontent #hp_Slider ul.pager li a.on {background: #39bc01;}
#home-wrapcontent #hp_Slider .slider-item-image {max-width: 100%;}
#home-wrapcontent #hp_Slider .slider-item-description {margin: 5% 0 0 0;padding: 0 40px;width: 100%;text-align: center;box-sizing: border-box;}
#home-wrapcontent #hp_Slider .slider-item-description h2 {border: none !important;text-align: center;text-transform: none;}
#home-wrapcontent #hp_Slider .slider-item-description p {text-align: center;font-family: 'Ubuntu-Bold', 'Ubuntu-Regular',sans-serif;}

/* subnav */
.masonry .homeContentFilter {margin-top: -60px;padding: 10px 0;margin-right: 10px;border: none;}
ul.tagFilter {display: flex;justify-content: space-between;}
#msnry_col3-3 .homeContentFilter li a span, .masonry .homeContentFilter li a span {display:inline-block;padding:10px;border:none;background: none;position: relative;}
#msnry_col3-3 .homeContentFilter li a span.filterOn, .masonry .homeContentFilter li a span.filterOn {background: none;}
#msnry_col3-3 .homeContentFilter li a span.filterOn:after, .masonry .homeContentFilter li a span.filterOn:after {display: block;content:'';height:4px;width:100%;position: absolute;bottom: 0;left: 0;}
#msnry_col3-3 .homeContentFilter li a span.filterOn:after, .masonry .homeContentFilter li a span.filterOn:after  {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059b1+0,39bc01+100 */
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* widgets */
.masonry .msnry-item, .msnry-item {border-radius: 0;background: none;background: #fff;}
.masonry .msnry-item-header, .msnry-item-header {border-radius: 0;position: relative;background: none;padding:0 10px;}
.msnry-item-header .section-img {display: none;}
.msnry-item-header:before {display: block;content:'';height:4px;width:100%;position: absolute;top: 0;left: 0;}
.msnry-item-header:before {
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.masonry .msnry-item-footer, .msnry-item-footer {border-radius: 0;}
.masonry .msnry-section-name, .msnry-section-name {margin: 0;padding: 0;color: #333;line-height: 32px;}
.masonry .msnry-item-image, .msnry-item-image {border: none;}
.widget_title:before {display: none !important;}
.masonry .msnry-item-description, .msnry-item-description {border: none;}
.masonry .msnry-item-footer, .msnry-item-footer {background: none;border:none;}
.masonry .msnry-item-footer-contents, .msnry-item-footer-contents {border:none;color: #39bc01;text-transform: uppercase;font-weight:bold;}
.masonry .msnry-item-footer-contents, .msnry-item-footer-contents a {color: #39bc01;font-size: 11px;}

#home-wrapcontent h2.widget_title,
#sidebar h2.widget_title,
.addContent h3, #attachments h3,
#wrapcontent h2.widget_title,
#menuRoleBasedLeft h2.widget_title, 
.home_login h2.widget_title {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059b1+0,39bc01+100 */
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.home_login h2.widget_title {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059b1+0,39bc01+100 */
    background: rgb(0,89,177) !important; /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%) !important; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ) !important; /* IE6-9 fallback on horizontal gradient */
}
#home-wrapcontent .wrapwidg .widget_padding .wrapwidg h2.widget_title,
#wrapcontent .wrapwidg .widget_padding .wrapwidg h2.widget_title,
#sidebar .wrapwidg .widget_padding .wrapwidg h2.widget_title {position: relative;border-radius: 0;width: 100% !important;}
#home-wrapcontent h2.widget_title, #sidebar h2.widget_title,
.addContent h3, #attachments h3, #wrapcontent h2.widget_title,#menuRoleBasedLeft h2.widget_title {line-height: 32px;text-shadow: none;box-shadow: none !important;border: none !important;}
#home-wrapcontent .wrapwidg .widget_padding .wrapwidg h2.widget_title, #wrapcontent .wrapwidg .widget_padding .wrapwidg h2.widget_title, #sidebar .wrapwidg .widget_padding .wrapwidg h2.widget_title {width: auto !important;}
#home_newsbox .home_newsbox_news {padding: 15px 10px;}

/* widget sidebar */
#menuRoleBasedLeft .wrapwidg {border-radius: 0;padding: 0;border: none;margin: 0 0 30px 0;}
#home-wrapcontent .title-Small-Dark h2.widget_title, #wrapcontent .title-Small-Dark h2.widget_title, #sidebar .title-Small-Dark h2.widget_title {
    border-radius: 0;padding: 10px;height: auto;line-height: 24px;text-align: center;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059b1+0,39bc01+100 */
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.site-nav {border: none;}
.site-nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f5fd+0,e6f8e1+100 */
    background: rgb(226,245,253); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(226,245,253,1) 0%, rgba(230,248,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fd', endColorstr='#e6f8e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.site-nav li a {background: none;border: none;}
.site-nav li a:hover {background: none;}
.site-nav li.nav-current-item a {background: none;color: #39bc01;}
.site-nav li.nav-current-item ul.child-level li a {border-bottom: none;margin: 0 0 0 20px;color: #003e7b;}
#Contatti.wrapwidg h2.widget_title {margin: 0;background: none !important;padding-left: 0!important;border-bottom: 1px solid #d9d9d9 !important;}
.site-nav > li:after {border: none;height:16px;width:16px;position: absolute;top:8px;right:4px;background: url(../graphic/icon-chevron-blue.svg) no-repeat center center;background-size: 6px;opacity: 0.4;}
.site-nav > li.nav-current-item:after {border: none;height:16px;width:16px;position: absolute;top:8px;right:4px;background: url(../graphic/icon-chevron-green-down.svg) no-repeat center center;background-size: 8px;}

/* deco */
.ct-list-item-description {position: relative;}
.ct-list-item.contacts .ct-list-item-text {background: none;}
.ct-list-item.contacts .ct-list-item-text:before {content: '';display: block;height: 10px;width: 10px;position: absolute;left: 0;top: 3px;background: #39bc01;}

/* contents */
#ultimi_bandi .ct-list-item-img {display: none;}
#ultimi_bandi .ct-list-item-description:before {content:'';display: inline-block;height: 32px;width:32px;background: url(../graphic/icon-pdf.svg) no-repeat center center;background-size: 24px;float: left;margin: 0 5px 5px 0;}
img.Immagine-Grande {width: 100%;height: auto;border: none;padding: 0 !important;background: white;border-radius: 0;-moz-border-radius: 0px;margin: 0 0 10px 0;float: none;clear: both;}
img.Immagine-Medium-Left {border: none;padding: 0 !important;border-radius: 0;-moz-border-radius: 0px;}
img.Immagine-Medium-Right {border: none;padding: 0 !important;border-radius: 0;-moz-border-radius: 0px;}
.articoli-media .img-wrapper {border: none;padding: 0 !important;border-radius: 0;-moz-border-radius: 0px;}
#home-wrapcontent h2, #sidebar h2, #wrapcontent h2 {border: none;}

/* tabs */
.ct-tab.on, .ct-tab:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059b1+0,39bc01+100 */
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.ct-tab {
    position: relative;height: 32px;line-height: 32px;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f5fd+0,e6f8e1+100 */
     background: rgb(226,245,253); /* Old browsers */
     background: -moz-linear-gradient(-45deg, rgba(226,245,253,1) 0%, rgba(230,248,225,1) 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(-45deg, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(135deg, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fd', endColorstr='#e6f8e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}
.ct-tab:after {content: '';display: block;height: 32px;width: 32px;background: url(../graphic/icon-chevron-blue.svg) no-repeat center center;background-size: 8px;position: absolute;right: 0;top:0;}
.ct-tab.on:after, .ct-tab:hover:after {background: url(../graphic/icon-chevron-white-down.svg) no-repeat center center;background-size: 12px;}

/* accordion */
.accordion-item h3 {
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f5fd+0,e6f8e1+100 */
    background: rgb(226,245,253); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(226,245,253,1) 0%, rgba(230,248,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fd', endColorstr='#e6f8e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}
.accordion-item h3:before {content: '';display: block;position: absolute;top:0;left: 0;height: 100%;width: 24px;background: url(../graphic/icon-chevron-blue.svg) no-repeat center center;background-size: 8px;}

.accordion-item.acc-active-item h3 {
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0059b1+0,39bc01+100 */
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.accordion-item.acc-active-item h3:before {content: '';display: block;position: absolute;top:0;left: 0;height: 100%;width: 24px;background: url(../graphic/icon-chevron-white-down.svg) no-repeat center center;background-size: 12px;}


/* login */
#loginbox .widget_padding {padding: 0;border-radius: 0 !important;}
.home_login .avatar_box img {border-radius: 50%;border: none;}
.home_login, .home_login .widget_padding {background: #003e7b !important;color: #fff;}
.home_login .content .qualifica {display: block;margin: 0 0 5px 0;clear: both;padding: 15px;}
div.login-form, .login-no-registrato {background: #003e7b;border: none;padding: 10px;}
div.login-form {padding: 10px 10px 0;}
.home_login .description {margin: 0 0 20px 0;}

/* buttons */
.btn.approffondisci {background: url(../graphic/icon-arrow.svg) no-repeat right center;background-size:16px auto;padding: 5px 25px 5px 5px;}
.btn.freccia {background: url(../graphic/icon-arrow.svg) no-repeat right center;background-size:16px auto;line-height: 16px;padding: 5px 25px 5px 5px;color: #39bc01;font-size: 11px;text-transform: uppercase;font-weight: bold;}
#home-wrapcontent #hp_Slider .slider-button {display:inline-block;border: 3px solid #fff;color: #fff;padding: 10px !important;text-transform: uppercase;font-size: 11px;background: none;box-sizing: border-box;margin: 10px auto;height: auto;text-align: center;border-radius: 0;}
.snam_button {border: 3px solid #39bc01;color: #39bc01;padding: 10px !important;text-transform: uppercase;font-size: 11px;background: none;width: calc(100% - 20px);box-sizing: border-box;margin: 10px 10px;height: auto;text-align: center;border-radius: 0;}
.home_login .snam_button {position:relative;text-transform: uppercase;font-size: 11px;padding: 10px !important;border-radius: 0;background: none;border:none;border-right: 3px solid #39bc01;border-left: 3px solid #0059b1;width: calc(100% - 20px);box-sizing: border-box;margin: 0 10px 10px;height: auto;color: #fff;}
.home_login .snam_button:before {display: block;content:'';height:3px;width:100%;position: absolute;top: 0;left: 0;}
.home_login .snam_button:before {
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.home_login .snam_button:after {display: block;content:'';height:3px;width:100%;position: absolute;bottom: 0;left: 0;}
.home_login .snam_button:after {
    background: rgb(0,89,177); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(0,89,177,1) 0%, rgba(57,188,1,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,89,177,1) 0%,rgba(57,188,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0059b1', endColorstr='#39bc01',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

/* pager */
.wdg-footer-wrapper {background: none;border: none;clear: both;}
#home_newsbox .wrappager ul li a {border: 1px solid #39bc01;height: 8px;width: 8px;border-radius:0 !important;background: none;}
.wrappager ul.pager li a:hover, .wrappager ul.pager li a.on, #hp_Slider ul.pager li a.on {border: 1px solid #39bc01;background: #39bc01;}
.wrappager ul.pager li a {padding:0;background: none;border-radius: 0 !important;border: 1px solid #99b4ca;height: 30px;width: 30px;line-height: 30px;padding: 0;margin: 0 4px 4px 0;}
.wrappager ul.pager li a:hover, .wrappager ul.pager li a.on, #hp_Slider ul.pager li a.on {height: 30px;width: 30px;background: #003e7b;border-radius: 0;border: 1px solid #003e7b;color: #fff;}

/* dash */
.wdg-user-dashboard {border:none;background: none;padding: 0;}
.wdg-user-wrapper-left, .wdg-user-wrapper-center, .wdg-user-wrapper-right {border: none;}
.wdg-user-dashboard .wrapwidg {padding: 0;background: none;border: none;}

/* tables */
.ct-table-header {padding: 10px 0;}
.ct-table-table {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f5fd+0,e6f8e1+100 */
    background: rgb(226,245,253); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(226,245,253,1) 0%, rgba(230,248,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fd', endColorstr='#e6f8e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */ 
}

.ct-table:nth-of-type(even) .ct-table-cell {
    background: rgba(0,0,0,0.05);
}
.ct-table:nth-of-type(odd) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f5fd+0,e6f8e1+100 */
    background: rgb(226,245,253); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(226,245,253,1) 0%, rgba(230,248,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fd', endColorstr='#e6f8e1',GradientType=1 ); /* IE6-9 */
}
.ct-table:nth-of-type(even) {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2f5fd+0,e6f8e1+100 */
    background: rgb(226,245,253); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(226,245,253,1) 0%, rgba(230,248,225,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(226,245,253,1) 0%,rgba(230,248,225,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2f5fd', endColorstr='#e6f8e1',GradientType=1 ); /* IE6-9 */
}
.ct-table-cell a.allegato-pdf {display: inline-block;height: 32px;width: 32px;background: url(../graphic/icon-pdf.svg) no-repeat center center;background-size: 24px;float: left;margin: 0 5px 5px 0;}
.ct-table-cell a.allegato-other {display: inline-block;height: 32px;width: 32px;background: url(../graphic/icon-file-generico.svg) no-repeat center center;background-size: 24px;float: left;margin: 0 5px 5px 0;}
.ct-table-cell a.allegato-excel {display: inline-block;height: 32px;width: 32px;background: url(../graphic/icon-xls.svg) no-repeat center center;background-size: 24px;float: left;margin: 0 5px 5px 0;}
.content-obj-list ul li form span {display: inline-block;height: 32px;width: 32px;background: url(../graphic/icon-pdf.svg) no-repeat 10px center;background-size: 24px;float: left;margin: 0 5px 5px 0;}