

/* CSS Document */



body {
	background:#f7f7f7;
	width:100%;}

.btn-group:hover .dropdown-menu {
    display: block;
  }

p {
	margin:0px;}
	
.float-left {float:left;}

.float-right {float:right;}
	
/*BUTTONS	*/

.button-container {
	margin: 1em 0.5em;}
	
.schedule-button {
	background:none;
	border-radius:3px;
	border: 1px solid #898989;
    color: #898989;
	font-weight:500;
	font-size:0.9em;
	margin-right:1.5em;}	
	

.schedule-button:hover {
	background:#b5b5b5;
	border:#b5b5b5 1px solid;
	color:#fff;}	
	
.dropdown-menu li {
	font-size:0.9em;
	padding:0.3em;}	

.today-button {
	background:none;
	border-radius:3px;
	border: 1px solid #898989;
    color: #898989;
	font-weight:500;
	font-size:0.9em;
	position: absolute;
    right: 0px;}

.today-button:hover {
	background:#b5b5b5;
	border:#b5b5b5 1px solid;
	color:#fff;}	
	
.sidebar-button-container	{
	margin:0 auto;}
	
.sidebar-button {
	margin:1em 0em;
	background:none;
	border-radius:3px;
	border:1px solid #2a2d33;
	color:#2a2d33;
	font-weight:500;
	font-size:0.9em;
	margin-top: 47vh;
   /* padding: 0.3em 4em;*/}
	
/*TABELLA ORARI*/


.schedule {

	padding-top:1em;}

.schedule-tab:hover .hour {display: block;}
	
.stanze {
	border-right:2px solid #eaeaea;
	padding:0px;
	background:#fff;}	
	
	
.stanza {
	border-bottom: 1px solid #eaeaea;
    width: 100%;
    text-align: center;
    height: 3em;
    margin: 0px;
    line-height: 3em;}
	
.stanza p {font-size: 1em;
    color: #2791c6;
	font-weight: 500;
    }	
	

.times {padding:0px;
background:#f7f7f7;}

.time {
	background:#fff;
	width: calc((100% / 14) *1);
	position: relative;
	}
	
.time:last-child {
	border-right:none;
	background:#fff;
	 width: calc((100% / 14) *1);
	}

.hour {
	height:3em;
	line-height:3em;
	text-align:center;
	font-size:0.84em;
	font-weight: 500;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	opacity: 0.5;
}

.tab-label {
	background:rgba(255,255,255,0.3);
	border-right:1px solid #eaeaea;
	border-bottom:1px solid #eaeaea;
	height:3em;
	width:100%;
	z-index: 1;
    position: relative;
}


.schedule-tab > .tab-label:last-child {border-right:0px;}


.label:nth-child(odd) {
	border-right:1px dashed #eee;
	border-radius:0px;
	width:50%;
	height:100%;
	cursor:pointer;
}
	
.label:nth-child(even) {
	border-radius:0px;
	width: 50%;
	height:100%;
	cursor:pointer;}

/*COLORS*/

.red {
	background:rgba(255,81,81,0.3);}
	
.green {background:rgba(112,237,75,0.4);}

.yellow {background:rgba(242,228,55,0.4);}

.grey {background:rgba(153,153,153,0.3); cursor: no-drop !important;}




/*LEGEND*/

.legend-container {
	margin-left:0.5em;
	display:flex;
	justify-content: flex-start;
	width:80%;
	margin-top:2em;
	height:4em;}
	
.legend {
	margin-right:2em;}

.color-legend {
	width:2.3em;
	height:1.3em;
	line-height:4em;}
	
.legend-text {
	margin-left:0.8em;
	font-size:0.8em;
	color:#777777;
	font-weight: 450;
}


/*ICONS*/

.icon-down-left {
	font-size:1.5em;
	cursor:pointer;}

.icon-down-right {
	font-size:1.5em;
	cursor:pointer;}




/*SIDEBAR*/

.sidebar {
	background:#ededed;
	padding-top:1.5em;
	height:100vh;
	}


.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
	/*padding-left:0.8em;
	padding-right:0.5em;*/
	margin:0 auto !important;
}
	
.calendar-dow-header {
    text-transform: uppercase;
    font-size: 0.7em;
    color: #b9b9b9;
	font-weight:400;
}

.calendar-dow td {
    background: none !important; 
	border:none;
}

.calendar-month-header th {
	background:none !important;}

.div.zabuto_calendar .table tr th, div.zabuto_calendar .table tr td {background:none !important;}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
	}

.calendar-dow-header {
	border-bottom:1px solid #b9b9b9; }

.calendar-dow {
	font-size:0.8em;
	font-weight:500;}
	
.calendar-dow td {
	cursor:pointer;}

.calendar-dow > td > div:hover {
	background:#b9b9b9;
	color:#fff;}
	
.calendar-dow td div:active {
	background:#b9b9b9;
	color:#fff;}
	
	
.calendar-dow:last-child {border-bottom:none !important;}

.calendar-dow-header > th {background:none !important; }


/**
 * Zabuto Calendar
 */

div.zabuto_calendar {
    margin: 0;
    padding: 0;
}

div.zabuto_calendar .table {
    width: 100%;
    margin: 0;
    padding: 1em;
}

div.zabuto_calendar .table th,
div.zabuto_calendar .table td {
    padding: 4px 2px;
    text-align: center;
}

div.zabuto_calendar .table tr th,
div.zabuto_calendar .table tr td {
    background-color: #ffffff;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    background-color: #fafafa;
}

div.zabuto_calendar .table tr.calendar-month-header th span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 10px;
}

div.zabuto_calendar .table tr.calendar-dow-header th {
    background-color: #f0f0f0;
}

div.zabuto_calendar .table tr:last-child {
    border-bottom: 1px solid #dddddd;
}

div.zabuto_calendar .table tr.calendar-month-header th {
    padding-top: 12px;
    padding-bottom: 4px;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th {
    border-left: 0;
    border-right: 0;
}

div.zabuto_calendar .table-bordered tr.calendar-month-header th:first-child {
    border-left: 1px solid #dddddd;
}

div.zabuto_calendar div.calendar-month-navigation {
    cursor: pointer;
    margin: 0;
    padding: 0;
    padding-top: 5px;
}

div.zabuto_calendar tr.calendar-dow-header th,
div.zabuto_calendar tr.calendar-dow td {
    width: 14%;
}

div.zabuto_calendar .table tr td div.day {
    margin: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* actions and events */
div.zabuto_calendar .table tr td.event div.day,
div.zabuto_calendar ul.legend li.event {
    background-color: #fff0c3;
}

div.zabuto_calendar .table tr td.dow-clickable,
div.zabuto_calendar .table tr td.event-clickable {
    cursor: pointer;
}

/* badge */
div.zabuto_calendar .badge-today,
div.zabuto_calendar div.legend span.badge-today {
    background-color: #357ebd;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event,
div.zabuto_calendar div.legend span.badge-event {
    background-color: #ff9b08;
    color: #ffffff;
    text-shadow: none;
}

div.zabuto_calendar .badge-event {
    font-size: 0.95em;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

/* legend */
div.zabuto_calendar div.legend {
    margin-top: 5px;
    text-align: right;
}

div.zabuto_calendar div.legend span {
    color: #999999;
    font-size: 10px;
    font-weight: normal;
}

div.zabuto_calendar div.legend span.legend-text:after,
div.zabuto_calendar div.legend span.legend-block:after,
div.zabuto_calendar div.legend span.legend-list:after,
div.zabuto_calendar div.legend span.legend-spacer:after {
    content: ' ';
}

div.zabuto_calendar div.legend span.legend-spacer {
    padding-left: 25px;
}

div.zabuto_calendar ul.legend > span {
    padding-left: 2px;
}

div.zabuto_calendar ul.legend {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

div.zabuto_calendar ul.legend li {
    display: inline-block;
    height: 11px;
    width: 11px;
    margin-left: 5px;
}

div.zabuto_calendar ul.legend
div.zabuto_calendar ul.legend li:first-child {
    margin-left: 7px;
}

div.zabuto_calendar ul.legend li:last-child {
    margin-right: 5px;
}

div.zabuto_calendar div.legend span.badge {
    font-size: 0.9em;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}


/*POPUP*/

.modal-backdrop {
	z-index:1049 !important;}
	
.modal-body ul {
	list-style:none;
	padding:0px;}


.modal-header {border:none;}

.modal-footer {border:none;}
	
.red-button {background:rgba(255,81,81,0.8); border:none;}

.green-button {background:rgba(112,237,75,0.8); border:none;}

.red-button:hover {background:rgba(255,81,81,0.9); border:none;}

.green-button:hover {background:rgba(112,237,75,0.9); border:none;}




/* responsive */

@media (max-width: 575px) {
    .time {
		background:#fff;
		width: calc((100% / 7) *1);
		position: relative;
		}
		
	.time:last-child {
		border-right:none;
		background:#fff;
		 width: calc((100% / 7) *1);
		}
		
		
     .legend {
         margin-right: 1em;
         min-width: 4.7em; }
		
			
	  .legend-text {
			font-size:0.8em;
			color:#777777;
			font-weight: 450;
			margin: 0em;
			margin-top: 0.5em;
		}
		
		
}



@media (max-width: 979px) {
    div.zabuto_calendar .table th,
    div.zabuto_calendar .table td {
        padding: 2px 1px;
    }
	
	.sidebar {height:20em !important;}
	
}





