@font-face {
  font-family: 'AvenirLTStd-MediumOblique';
  src: url('AvenirLTStd-MediumOblique.eot');
  src: url('AvenirLTStd-MediumOblique.woff2') format('woff2'),
       url('AvenirLTStd-MediumOblique.woff') format('woff'),
       url('AvenirLTStd-MediumOblique.ttf') format('truetype'),
       url('AvenirLTStd-MediumOblique.svg#AvenirLTStd-MediumOblique') format('svg'),
       url('AvenirLTStd-MediumOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Oblique';
  src: url('AvenirLTStd-Oblique.eot');
  src: url('AvenirLTStd-Oblique.woff2') format('woff2'),
       url('AvenirLTStd-Oblique.woff') format('woff'),
       url('AvenirLTStd-Oblique.ttf') format('truetype'),
       url('AvenirLTStd-Oblique.svg#AvenirLTStd-Oblique') format('svg'),
       url('AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('AvenirLTStd-Medium.eot');
  src: url('AvenirLTStd-Medium.woff2') format('woff2'),
       url('AvenirLTStd-Medium.woff') format('woff'),
       url('AvenirLTStd-Medium.ttf') format('truetype'),
       url('AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg'),
       url('AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-LightOblique';
  src: url('AvenirLTStd-LightOblique.eot');
  src: url('AvenirLTStd-LightOblique.woff2') format('woff2'),
       url('AvenirLTStd-LightOblique.woff') format('woff'),
       url('AvenirLTStd-LightOblique.ttf') format('truetype'),
       url('AvenirLTStd-LightOblique.svg#AvenirLTStd-LightOblique') format('svg'),
       url('AvenirLTStd-LightOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Heavy';
  src: url('AvenirLTStd-Heavy.eot');
  src: url('AvenirLTStd-Heavy.woff2') format('woff2'),
       url('AvenirLTStd-Heavy.woff') format('woff'),
       url('AvenirLTStd-Heavy.ttf') format('truetype'),
       url('AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg'),
       url('AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-HeavyOblique';
  src: url('AvenirLTStd-HeavyOblique.eot');
  src: url('AvenirLTStd-HeavyOblique.woff2') format('woff2'),
       url('AvenirLTStd-HeavyOblique.woff') format('woff'),
       url('AvenirLTStd-HeavyOblique.ttf') format('truetype'),
       url('AvenirLTStd-HeavyOblique.svg#AvenirLTStd-HeavyOblique') format('svg'),
       url('AvenirLTStd-HeavyOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Light';
  src: url('AvenirLTStd-Light.eot');
  src: url('AvenirLTStd-Light.woff2') format('woff2'),
       url('AvenirLTStd-Light.woff') format('woff'),
       url('AvenirLTStd-Light.ttf') format('truetype'),
       url('AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg'),
       url('AvenirLTStd-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-BookOblique';
  src: url('AvenirLTStd-BookOblique.eot');
  src: url('AvenirLTStd-BookOblique.woff2') format('woff2'),
       url('AvenirLTStd-BookOblique.woff') format('woff'),
       url('AvenirLTStd-BookOblique.ttf') format('truetype'),
       url('AvenirLTStd-BookOblique.svg#AvenirLTStd-BookOblique') format('svg'),
       url('AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-BlackOblique';
  src: url('AvenirLTStd-BlackOblique.eot');
  src: url('AvenirLTStd-BlackOblique.woff2') format('woff2'),
       url('AvenirLTStd-BlackOblique.woff') format('woff'),
       url('AvenirLTStd-BlackOblique.ttf') format('truetype'),
       url('AvenirLTStd-BlackOblique.svg#AvenirLTStd-BlackOblique') format('svg'),
       url('AvenirLTStd-BlackOblique.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Black';
  src: url('AvenirLTStd-Black.eot');
  src: url('AvenirLTStd-Black.woff2') format('woff2'),
       url('AvenirLTStd-Black.woff') format('woff'),
       url('AvenirLTStd-Black.ttf') format('truetype'),
       url('AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg'),
       url('AvenirLTStd-Black.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('AvenirLTStd-Book.eot');
  src: url('AvenirLTStd-Book.woff2') format('woff2'),
       url('AvenirLTStd-Book.woff') format('woff'),
       url('AvenirLTStd-Book.ttf') format('truetype'),
       url('AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg'),
       url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirLTStd-Roman';
  src: url('AvenirLTStd-Roman.eot');
  src: url('AvenirLTStd-Roman.woff2') format('woff2'),
       url('AvenirLTStd-Roman.woff') format('woff'),
       url('AvenirLTStd-Roman.ttf') format('truetype'),
       url('AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg'),
       url('AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-BoldItalic';
  src: url('Ubuntu-BoldItalic.eot');
  src: url('Ubuntu-BoldItalic.woff2') format('woff2'),
       url('Ubuntu-BoldItalic.woff') format('woff'),
       url('Ubuntu-BoldItalic.ttf') format('truetype'),
       url('Ubuntu-BoldItalic.svg#Ubuntu-BoldItalic') format('svg'),
       url('Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: url('Ubuntu-Italic.eot');
  src: url('Ubuntu-Italic.woff2') format('woff2'),
       url('Ubuntu-Italic.woff') format('woff'),
       url('Ubuntu-Italic.ttf') format('truetype'),
       url('Ubuntu-Italic.svg#Ubuntu-Italic') format('svg'),
       url('Ubuntu-Italic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: url('Ubuntu-LightItalic.eot');
  src: url('Ubuntu-LightItalic.woff2') format('woff2'),
       url('Ubuntu-LightItalic.woff') format('woff'),
       url('Ubuntu-LightItalic.ttf') format('truetype'),
       url('Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg'),
       url('Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('Ubuntu-Light.eot');
  src: url('Ubuntu-Light.woff2') format('woff2'),
       url('Ubuntu-Light.woff') format('woff'),
       url('Ubuntu-Light.ttf') format('truetype'),
       url('Ubuntu-Light.svg#Ubuntu-Light') format('svg'),
       url('Ubuntu-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('Ubuntu-Medium.eot');
  src: url('Ubuntu-Medium.woff2') format('woff2'),
       url('Ubuntu-Medium.woff') format('woff'),
       url('Ubuntu-Medium.ttf') format('truetype'),
       url('Ubuntu-Medium.svg#Ubuntu-Medium') format('svg'),
       url('Ubuntu-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('Ubuntu-Bold.eot');
  src: url('Ubuntu-Bold.woff2') format('woff2'),
       url('Ubuntu-Bold.woff') format('woff'),
       url('Ubuntu-Bold.ttf') format('truetype'),
       url('Ubuntu-Bold.svg#Ubuntu-Bold') format('svg'),
       url('Ubuntu-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: url('Ubuntu-MediumItalic.eot');
  src: url('Ubuntu-MediumItalic.woff2') format('woff2'),
       url('Ubuntu-MediumItalic.woff') format('woff'),
       url('Ubuntu-MediumItalic.ttf') format('truetype'),
       url('Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg'),
       url('Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('Ubuntu-Regular.eot');
  src: url('Ubuntu-Regular.woff2') format('woff2'),
       url('Ubuntu-Regular.woff') format('woff'),
       url('Ubuntu-Regular.ttf') format('truetype'),
       url('Ubuntu-Regular.svg#Ubuntu-Regular') format('svg'),
       url('Ubuntu-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}



