/* @import url(https://giovalife.bitbucket.io/code_challenge/css/skin.css); */

@import url(../fonts/fonts.css);

body {font-family: 'Proxima Nova';}
a, a:hover, a:visited {color: #00AF4F;}
header {height: 60px;background: #fff;box-shadow: 0 3px 0px rgba(0,0,0,0.2);}
header .logo {background: url(../graphic/logo_new.svg) no-repeat left center;background-size: 90%;background-position: center center;height: 60px;width: 110px;}
header .logo a {display: block;height: 100%;width: 100%;text-indent: -9999px;}
.cover-box-text {position:relative;min-height: 300px;text-align: center;padding: 40px;overflow: hidden;color: #fff;padding-top: 0;background: url(../graphic/landing_bg.jpg) no-repeat center top;background-size: cover;}
.cover-box-text:before {content:'';display:block;background: rgba(0,0,0,0.8);position: absolute;top:0;left: 0;width: 100%;height: 100%;}
.cover-box-text .cover_content {position: relative;}
.cover-box-text .emo {max-height: 640px;max-width: 100%;}
.title {color: #fff;font-weight: bold;}
.description {padding: 40px;}
.container {background: #fff;}
footer {padding: 10px 20px;min-height: 60px;border-top: 1px solid #eee;overflow: hidden;background: #fff;}
footer .links {float: left;}
footer .links a {display: inline-block;line-height: 60px;margin: 0 20px 0 0;}
footer .logo_reply {display: inline-block;float:right;width: 180px;height: 60px;background: url(../graphic/reply-corporate-logo.png) no-repeat left center;background-size: auto 70%;background-position: 10px 13px;text-indent: -9999px;text-align: left;}