@import url(../fonts/avenir.css);

/* general */
body {background: #fff;font-family: 'AvenirNextLTPro-Regular', sans-serif;font-size: 14px;}
.wrapwidg {border:none;}
h2.widget_title {border:none;text-align: center;font-size: 28px;font-weight: bold;text-transform: none;color: #4A90E2;}
h2.widget_title i.fa {display: none;}

/* header */
#header .logo {background: none;text-indent: 0;font-size: 12px;text-transform: uppercase;text-align: left;margin:0 0 0 40px;}
#header .logo a:before {content:'';display: block;height:32px;width: 200px;background: url(../graphic/logo_blk.svg) no-repeat left center;background-size: auto 90%;margin: 5px 0 5px 0;}
.lang_select .selected {font-weight: bold;}

/* footer */
#footer {padding: 0;overflow: hidden;}
#footer .logo {background: none;text-indent: 0;font-size: 10px;text-transform: uppercase;text-align: left;margin:0;color: #666;}
#footer .logo a:before {content:'';display: block;height:24px;width: 140px;background: url(../graphic/logo_blk.svg) no-repeat left center;background-size: auto 90%;margin: 5px 0 5px 0;}
#footer .nav ul {list-style: none;padding: 0 15px;}
#footer .widget_padding {padding: 0;}
#footer .disclaimer {background: #eee;padding: 20px;margin: 0;}
.disclaimer .disclaimer {background: #eee;padding:0;}

/* navbar */
.navbar_trigger {display: none;}
.navbar-default {background:none;border:none;border-radius: 0;margin: 5px 0 0;}
.navbar-nav>li {display: inline-block;position: relative;}
.navbar-header {display: none;}
#header ul.navbar-nav>li .inner_node {display: none;position: absolute;top: 50px;left: 0;width: 200px;padding: 20px;background: #fff;box-shadow: 0 2px 2px rgba(0,0,0,0.3);border-radius: 0 0 8px 8px;}
#header ul.navbar-nav>li:hover .inner_node {display: block;}
.dropdown-menu {border-radius: 0 0 8px 8px;border-top: none;}
.personal_settings, .lang_select {display: inline-block;}
.dropdown.user_menu .btn {height: 32px;width: 32px;background: none;text-align: center;padding: 0;}
.dropdown.user_menu .btn .caret {display: none !important;}
.dropdown.user_menu .btn:before {font: normal normal normal 14px/1 FontAwesome;content: "\f078";}
.dropdown.user_menu {width: auto;height: auto;margin: 5px 0 0 0;}

/* hero */
.flex-direction-nav a:before {line-height: 40px;}
.heroMixed [class^=template-hero] .boxed-text h2 span {background: none;}
.heroMixed [class^=template-hero] .boxed-text h3 span {background: none;}
[class^=template-hero] .slider-hero:before {content:'';display: block;position:absolute;top:0;left:0;height:100%;width: 100%;background: rgba(0,0,0,0.6);}
[class^=template-hero] .boxed-text a.btn.read-more {background: #4A90E2 !important;border-color: #4A90E2 !important;border-radius: 8px;}
.slider-hero .hero-message h2 {font-size: 30px !important;font-family: 'AvenirNextLTPro-Regular', sans-serif !important;}
.slider-hero .hero-message h2 span {padding: 0 !important;}
.slider-hero .hero-message-container {margin-left: 8.33333333% !important;}
[class^=template-hero] a.btn.read-more {font-family: 'AvenirNextLTPro-Regular', sans-serif !important;}

/* stats */
.stats-image {width: 25%;float: left;text-align: center;padding: 20px;text-align: center;}
.stats-image img {width: 192px;height: 192px;border-radius: 50%;}
.stats-result {width: 25%;float: left;text-align: center;padding: 20px;padding-top: 70px;}
.stats-result span {display: block;font-size: 16px;font-weight: bold;}
.stats-result span.stats-completed {display: inline-block;font-size: 64px;font-weight: normal;color: #4A90E2;}
.stats-result span.stats-separator {display: inline-block;font-size: 64px;font-weight: normal;color: #4A90E2;}
.stats-result span.stats-total {display: inline-block;font-size: 32px;font-weight: normal;color: #4A90E2;}
.stats-progress {width: 25%;float: left;text-align: center;padding: 20px;}
#stats-chart {width: 192px !important;height: 192px !important;margin: 0 auto;}
.stats-doughnut {width: 25%;float: left;text-align: center;padding: 20px 40px 20px;position: relative;}
.stats-doughnut .legend {position: absolute;top: 50%;left: 0;width: 100%;line-height: 20px;text-align: center;margin-top: -20px;font-weight: bold;}
.stats-doughnut .legend span {display: block;}
.stats-doughnut .percentage {font-size: 32px;}
.stats-progress a {float: left;width: 21%;margin: 2%;border-radius: 50%;height: 0;padding-bottom: 21%;border:1px solid #ddd;font-size: 24px;position: relative;}
.stats-progress a span {position: absolute;top: 50%;margin-top: -16px;height: 32px;width: 32px;line-height: 36px;left: 50%;margin-left: -16px;}
.stats-progress a.blue {background: #4A90E2;color: #fff;border:none;}
.stats-progress a.orange {background: #F5A623;color: #fff;border:none;}

/* crads */
.wrapwidg.custom {text-align: center;}
.wrapwidg.custom .flex-viewport {display: inline-block;width: 900px;background: #fefefe;}
.wrapwidg.custom .flexslider .contents_wrapper>div {background: #fff !important;}
.content_item_body {padding: 20px;}
.content_item_body .item_data {text-align: left;min-height: 440px;}
.template-custom.placeholder {padding:20px;}
.template-custom.placeholder .ch-wrapper {display: block;text-align: center;border:1px solid #ddd;border-radius: 15px;padding:15px;width: 260px;min-height: 410px;position: relative;}
.template-custom.placeholder .ch-wrapper span {padding: 0 40px;font-size: 18px;display: block;position: absolute;line-height: 32px;height: 64px;margin-top: -32px;top: 50%;left: 0;width: 100%;}
.content_item_body .details {margin: 0 0 10px 0;}
.fc_cta {text-align: center;}
.fc_cta a {display: inline-block;margin:0 auto;font-family: 'AvenirNextLTPro-Regular', sans-serif !important;padding: 15px;background: #4A90E2;border-radius: 8px;color:#fff;}
.fc_cta a:hover {color: #fff;}
.fc_cta a.fc_completed {background: #aaa;}
.content_item_body .item_data.completed:before {position: absolute;right: 30px;top: 30px;}
.content_item_body .item_data.completed:before {font: normal normal normal 32px/1 FontAwesome;content: "\f058";display: block;color: #F5A623;}

/* profile */
.modifica-profilo .cover_box {border:none;padding: 0;margin: 0 0 10px 0;}
.modifica-profilo .cover_box img {width: 192px;height: auto;border-radius: 50%;}
.modifica-profilo [data-tt-widget-component="userWizardProfile"] {padding: 40px 80px;overflow: hidden;}
.modifica-profilo .buttons_wrapper {border:none;margin: 0 0 20px 0;}
.modifica-profilo .wizard-nav {position: relative;bottom: auto;left:auto;}
.modifica-profilo .form-group {position: relative;}
.modifica-profilo select[name="user.gender"] + span {display: none;}
.modifica-profilo select[name="user.language"] + span {display: none;}
.input-group-addon {width: 32px;padding: 0;}

/* details */
.wrapwidg.plugin_contentDetailWidget {padding: 0;margin:0;}
.challenge-image-container:before {content:'';display: block;position:absolute;top:0;left:0;height:100%;width: 100%;background: rgba(0,0,0,0.6);}
.fc-detail-top-box {position: relative;}
.challenge-intro {position:absolute; top:40%;left:40px;color: #fff;z-index: 10;}
.challenge-doc {z-index: 10;height:100%;width:40%;padding: 40px 60px 0;position: absolute;bottom: 0;right: 40px;background: url(../graphic/download_pdf.png) no-repeat center bottom;background-size:contain;}
.challenge-doc a {line-height: 48px;font-weight: bold;font-size: 16px;margin: 0 0 10px 10px;}
.challenge-doc a::before {display: inline-block;content: '';height: 48px;width: 48px;background: url(../graphic/ico_pdf.png) no-repeat;background-size:contain;vertical-align: middle;}
.challenge-image-container {max-height: 500px;overflow: hidden;}

/* how */
.how-widget {font-size: 16px;padding:0 80px;}
.how-it-works h2 {color: #4A90E2;}
.how-it-works-step {padding: 40px 0;overflow: hidden;clear: both;}
.how-it-works-step > div {float: left;width: calc(100% / 3);text-align: center;}
.how-it-works-step > div .step-img {content:'';display: inline-block;width: 80%;height: 300px;}
.how-it-works-step > div.step-1 .step-img {background: url(../graphic/step_1.jpg) no-repeat center center;background-size: contain;}
.how-it-works-step > div.step-2 .step-img {background: url(../graphic/step_2.jpg) no-repeat center center;background-size: contain;}
.how-it-works-step > div.step-3 .step-img {background: url(../graphic/step_3.jpg) no-repeat center center;background-size: contain;}
.how-it-works-step > div.step-1 > span {display: block;}
.how-it-works-step > div.step-1 > span::before {content: '1'; display: block;height: 48px;text-align: center;line-height: 48px;width: 48px;margin: 20px auto;font-size: 25px;font-weight: bold;border:2px solid #666;border-radius:50%;color: #666;}
.how-it-works-step > div.step-2 > span::before {content: '2'; display: block;height: 48px;text-align: center;line-height: 48px;width: 48px;margin: 20px auto;font-size: 25px;font-weight: bold;border:2px solid #666;border-radius:50%;color: #666;}
.how-it-works-step > div.step-3 > span::before {content: '3'; display: block;height: 48px;text-align: center;line-height: 48px;width: 48px;margin: 20px auto;font-size: 25px;font-weight: bold;border:2px solid #666;border-radius:50%;color: #666;}

/* quiz */
.comment-quiz-container {margin: 0 auto;text-align: center;}
.comment-quiz-container .col-sm-8 {float: none;margin: 0 auto;}
.paging_quiz_slide {margin: 0 auto;padding: 0;list-style: none;text-align: right;}
.paging_quiz_slide li {display: inline-block;}
.paging_quiz_slide .label {color: #666;}
.paging_quiz_slide .pager_number {display:inline-block;height: 32px;text-align: center;line-height: 32px;width: 32px;margin: 0 5px;font-size: 18px;font-weight: bold;border:1px solid #666;border-radius:50%;color: #666;}
.paging_quiz_slide .pager_number.orange {background: #F5A623;border-color: #F5A623;color: #fff;}
.slick-prev, .slick-next {height: 32px !important;width: 32px !important;font-size: 32px !important;}
.slick-prev:before, .slick-next:before {font-size: 32px !important;}

.tt-quiz-slider-single-slide-container:focus {box-shadow: none;outline: none;}
.tt-quiz-slider-container {padding: 0 40px;font-size: 16px;}
.tt-quiz-slider-container .intro {font-weight: bold;}
.comment-quiz-container .question {text-align: left;}
.comment-quiz-container .question h3 {color: #4A90E2;margin: 0 0 40px 0;}
.comment-quiz-container .question ul {padding: 0 20px;margin: 0 0 40px 0;}
.answer-element {margin:0 0 20px 0;}
.answer-element [type=radio] {opacity: 0;position: absolute;height: 0;width: 0;margin: 0;padding: 0;border:none;}
.answer-element [type=radio] + label {cursor: pointer;position: relative;padding: 0 0 0 58px;margin: 0 0 20px 0;min-height: 40px;}
.answer-element [type=radio] + label:before {vertical-align:top;content:'';display:inline-block;height: 48px;width: 48px;border:2px solid #666;border-radius: 50%;position: absolute;left: 0;top: -10px;}
.answer-element [type=radio]:checked + label:before {background: #4A90E2;border-color: #4A90E2;}
.slick-prev:before {content: '\f001' !important;font-family: "flexslider-icon" !important;font-size: 32px !important;}
.slick-next:before {content: '\f002' !important;font-family: "flexslider-icon" !important;font-size: 32px !important;}

.tt-quiz-results {clear: both;overflow: hidden;padding: 40px 0;}
.tt-quiz-results > div {float: left;width: 50%;text-align: center;}
.tt-quiz-results .tt-quiz-slider-single-slide-container.question {position:relative;margin:0 0 20px 0;background: #f9f9f9;padding: 20px 30px 20px 20px;border-radius: 3px;}
.tt-quiz-results .tt-quiz-slider-single-slide-container.question h3 {margin: 0;}
.tt-quiz-results .progress-box .percentage {font-size: 64px;color: #F5A623;display: block;margin: 0 0 20px 0;}
.tt-quiz-results .tt-quiz-slider-single-slide-container.question.right-answer:before {font: normal normal normal 32px/1 FontAwesome;content: "\f058";display: block;color: #F5A623;position: absolute;right: 10px;top: 10px;}

/* RESPONSIVE */

/* IPAD */
@media (max-width:768px) {

    .navbar-default .navbar-nav>li>a {padding: 16px 5px;font-size: 11px;}

    [class^="wrapwidg hero"] .flexslider .contents_wrapper, [class^="wrapwidg hero"] .flexslider .contents_wrapper div {height: 380px;}
    .flexslider .contents_wrapper div {height: auto;}
    .flexslider .contents_wrapper {height: 440px;}
    [class^=template-hero] .slider-hero:before {z-index: 10;}

    .stats-image {display: none;}
    .stats-result {width: 33%;}
    .stats-progress {width: 33%;}
    .stats-doughnut {width: 33%;padding: 20px 0;}

    .wrapwidg.custom .flex-viewport {display: inline-block;width: 600px;background: #fefefe;}
}

/* IPAD */
@media (max-width:640px) {
        
        /* navbar */
        .headerColumn0, .headerColumn1 {margin-top: 32px;}
        .headerColumn2 {position: absolute;top:0;left:0;height: 32px;}
        #header .logo {font-size: 7px;margin: 0 0 0 10px;}
        #header .logo a:before {background-size: 100% auto;margin: 5px 0;width: 100%;}
        .navbar-default .navbar-nav>li>a {padding: 16px 5px;font-size: 11px;}
        .navbar-header {display: block;}
        .navbar-default .navbar-collapse {width: 100vw;margin-left: -64%;padding: 0 20px;background: #fff;}
        .navbar-default .navbar-nav>li>a {padding: 16px 5px;font-size: 16px;}
        .navbar-nav>li {display: block;text-align: center;}
        #header ul.navbar-nav>li .inner_node {display: block;position: relative;border-radius: 0;box-shadow: none;top: auto;left: auto;width: 100%;text-align: center;}
        #header ul.navbar-nav>li .inner_node li {float: left;width: 50%;}
        .dropdown.user_menu {margin:0;padding: 0;}
        #header ul.dropdown-menu {margin: 0;text-align: left;width: 100%;position: fixed;top: 32px;border: none;border-top: 1px solid #ddd;padding: 10px 0;}
        .personal_settings {}
        .lang_select {line-height: 32px;margin: 0 0 0 40px;}

        /* hero */
        [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message-container {margin:0 !important;}
        [class^="wrapwidg hero"] .flexslider .contents_wrapper, [class^="wrapwidg hero"] .flexslider .contents_wrapper div {height: auto;}
        .flexslider .contents_wrapper div {height: auto;}
        .flexslider .contents_wrapper {height: 440px;}
        .hero-image-container {position: relative;}

        .stats-image {display: none;}
        .stats-result {width: 100%;padding-top: 20px;}
        .stats-progress {width: 100%;}
        .stats-doughnut {width: 100%;padding: 20px 0;}
    
        .wrapwidg.custom .flex-viewport {display: inline-block;width: 100%;background: #fefefe;}

        /* quiz */
        .challenge-intro h2 {font-size: 14px;}
        .challenge-doc a {right: 0;width: 60%;}
        .tt-quiz-slider-container {padding: 0;}
        .comment-quiz-container .question ul {padding: 0;}
        .tt-quiz-results > div {float: none;width: 100%;text-align: center;}

        /* how */
        .how-widget {padding: 0 20px;}
        .how-it-works-step > div {width: 100%;float: none;margin:0 0 40px 0;}
        .how-it-works-step > div.step-1 .step-img {height: 200px;}
        .how-it-works-step > div.step-3 .step-img {height: 200px;}
        .heroMixed [class^=template-hero] .boxed-text h2 span {font-size: 20px;}
        .hero-message {text-align: center;}
        
    }