/* @import url(https://giovalife.bitbucket.io/rsn_policy/css/skin.css); */

.policy .projectCover .upload-box section > .title .number {margin: 0 20px 0 0;}
.policy .header {padding:15px;margin:0;top:auto;position:relative;z-index:initial;}

.policy div.user-widget div.avatar {width: 48px;height: 48px;float: left;margin: 0 10px 0 0;}
.policy div.user-widget div.avatar img {max-width: 48px;height: auto;}
.policy .user-widget .description {display: block;}

.policy .btn {background:#ccc;cursor: pointer;display: inline-block;height: 22px;line-height: 22px;padding: 0 15px;margin: 5px 5px 5px 5px;color: white;font-weight: bold;border: none;border-radius: 0;}
.policy .btn.btn-primary {background: #3a7ec8;}

#policy-edit-page input[type='checkbox'] {min-width: auto;float: left;margin: 0 10px 0 0;}