body, a { color: #111133; font-family:'Helvetica Neue', Arial, Helvetica, sans-serif; font-size:13px }
small { font-size: 11px }
.flag {	z-index: 1;	}
table {margin:0 auto; width:434px;}
table img {width:434px;}

	