/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 100;
	src: url('Raleway-Thin.eot');
	src: local('Raleway Thin'),
		local('Raleway-Thin'),
		url('../fonts/Raleway/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-Thin.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-Thin.woff') format('woff'),
		url('../fonts/Raleway/Raleway-Thin.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 200;
	src: url('Raleway ExtraLight.eot');
	src: local('Raleway ExtraLight'),
		local('Raleway-ExtraLight'),
		url('../fonts/Raleway/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-ExtraLight.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-ExtraLight.woff') format('woff'),
		url('../fonts/Raleway/Raleway-ExtraLight.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src: url('Raleway-Light.eot');
	src: local('Raleway Light'),
		local('Raleway-Light'),
		url('../fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-Light.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-Light.woff') format('woff'),
		url('../fonts/Raleway/Raleway-Light.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('Raleway-Regular.eot');
	src: local('Raleway'),
		url('../fonts/Raleway/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway/Raleway-Regular.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src: url('Raleway-Medium.eot');
	src: local('Raleway Medium'),
		local('Raleway-Medium'),
		url('../fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-Medium.woff') format('woff'),
		url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 600;
	src: url('Raleway-SemiBold.eot');
	src: local('Raleway SemiBold'),
		local('Raleway-SemiBold'),
		url('../fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'),
		url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url('Raleway-Bold.eot');
	src: local('Raleway Bold'),
		local('Raleway-Bold'),
		url('../fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 800;
	src: url('Raleway-ExtraBold.eot');
	src: local('Raleway ExtraBold'),
		local('Raleway-ExtraBold'),
		url('../fonts/Raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'),
		url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 900;
	src: url('Raleway-Heavy.eot');
	src: local('Raleway Heavy'),
		local('Raleway-Heavy'),
		url('../fonts/Raleway/Raleway-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway/Raleway-Heavy.woff2') format('woff2'),
		url('../fonts/Raleway/Raleway-Heavy.woff') format('woff'),
		url('../fonts/Raleway/Raleway-Heavy.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}