/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 100;
  	src: url('Roboto-Thin.eot');
	src: local('Roboto Thin'),
		local('Roboto-Thin'),
		url('../fonts/Roboto/Roboto-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Thin.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Thin.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('Roboto-Light.eot');
	src: local('Roboto Light'),
		local('Roboto-Light'),
		url('../fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Light.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('Roboto-Regular.eot');
	src: local('Roboto'),
		url('../fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('Roboto-Medium.eot');
	src: local('Roboto Medium'),
		local('Roboto-Medium'),
		url('../fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Medium.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Medium.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('Roboto-Bold.eot');
	src: local('Roboto Bold'),
		local('Roboto-Bold'),
		url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
	src: url('Roboto-Black.eot');
	src: local('Roboto Black'),
		local('Roboto-Black'),
		url('../fonts/Roboto/Roboto-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
		url('../fonts/Roboto/Roboto-Black.woff') format('woff'),
		url('../fonts/Roboto/Roboto-Black.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}