#home-wrapcontent, #wrapcontent, #search_widget, #header, #header ul, #mainwrap  {
    -webkit-transition: all 0.4s ease-in-out!important;
    -moz-transition: all 0.4s ease-in-out!important;
    -o-transition: all 0.4s ease-in-out!important;
    transition: all 0.4s ease-in-out!important;
}

ul.site-nav.top-level li a {padding:0 15px;border-right:none; line-height:58px;font-size: 14px;font-weight:400;margin:0; float:none;}
ul.site-nav.top-level li:first-child a {border-left:none;}
#home-wrapcontent {padding-left: 60px; margin-right:0px;}

#mainwrap.mobile_menu_open #header {left:auto;}
#header ul.site-nav {position: fixed;top: 0;left: 0;width: 0;background: #959695;height: 100%;overflow: visible;}
#mainwrap.mobile_menu_open #header ul.site-nav {width:300px; border-right: none;}
#header ul.site-nav li {border:none; border-bottom:1px solid #7e7e7e;float:none;display:block; width:auto;}
#header ul.site-nav li a {float:initial;display:initial; border: none;}

.tooltip.in{opacity:1;filter:alpha(opacity=100);}
.tooltip.top .tooltip-arrow{border-top-color:#959695;}
.tooltip.right .tooltip-arrow{border-right-color:#959695;}
.tooltip.bottom .tooltip-arrow{border-bottom-color:#959695;}
.tooltip.left .tooltip-arrow{border-left-color:#959695;}
.tooltip-inner { min-width:140px; max-width:150px; background: #959695; font-size:1.2em; o}

#header ul.site-nav ul{display: initial;}
#header ul.site-nav {width: 300px; left: -240px;}
#header ul.site-nav li, #header ul.site-nav li a{
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#header ul.site-nav a{text-decoration:none;}
#mainwrap.mobile_menu_open #header ul.site-nav {width: 300px; left:0;}
ul.site-nav{box-shadow: inset 0 0 7px rgba(0,0,0,.5)}
#header ul.site-nav, #header ul.site-nav ul {margin-top: 59px; padding-top:10px;}
.search_open #header ul.site-nav {margin-top: 120px;}
#header ul.site-nav ul{ background:#5A5A5A; overflow:hidden;  padding:10px 20px 20px 20px;}
#header ul.site-nav ul li{}
#header ul.dropdown-menu.dropdown-menu-right {margin-top:0px;}
#header ul.site-nav, #header ul.site-nav ul {margin-top: 59px;box-shadow: 0 2px 3px rgba(0,0,0,0.4);}
#header ul.dropdown-menu.dropdown-menu-right {margin-top:0px;}
ul.site-nav a.child-active{background-color: #f2f4f2;}
ul.site-nav > .active { background-color: #f2f4f2;}
ul.site-nav span.level-toggler {display: inline-block; position: absolute; right: 65px; line-height: 58px; height: 100%; width: auto; cursor: pointer; color: #f2f4f2;}
ul.site-nav li ul.child-level {float: none; position: fixed; top:0px; border-right: none; background-color: #f2f4f2; height: 100%; width: 240px; z-index: 100; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; background-color: #f9f9f9;}
ul.site-nav li ul[data-navbar-parent-id].closed {left: -999px;}
ul.site-nav li ul[data-navbar-parent-id].opened {display:block; left: 0px}
ul.site-nav.top-level li a.nav-item-icon {float: right; height: 100%; clear:right; padding: 2px 10px 0px 10px; border: none; text-align:center; margin-right: 7px;}
ul.site-nav.top-level > li.depth0 > a.nav-item-icon {float: right!important; height: 100%; clear:right; padding: 3px 10px 0px 10px; border: none; text-align:center; margin-right: 7px;}
ul.site-nav.top-level > li.depth0 > a.nav-item-icon i {width: 1em;}
ul.site-nav.top-level > li.depth0 > a{ color:#f2f4f2;}
ul.site-nav.top-level > li.depth0 > a i[class*=wind-icon]{font-size:2em; vertical-align:middle;}
ul.site-nav.top-level > li.depth0:hover{ background-color: #f2f4f2;}

ul.site-nav.top-level > li.depth0.open:hover{ background:#5A5A5A!important; color:#f2f4f2important;}
ul.site-nav.top-level > li.depth0.open:hover *{color:#f2f4f2important;}
ul.site-nav.top-level > li.depth0.open > a{ color:#f2f4f2;}
ul.site-nav.top-level li.depth0.open,
ul.site-nav.top-level li.depth0.open ul.child-level.opened{ background:#5A5A5A!important; color:#f2f4f2;}
ul.child-level.opened:before{content:''; display:block; position:absolute; left:0; top:-1px; width:100%; height:1px; box-shadow:0 1px 3px rgba(0,0,0,0.5);}
ul.site-nav.top-level li.depth0.open ul.child-level.opened li a {color:#f2f4f2;}

ul.site-nav li.child.child-level-back {cursor: pointer;}
ul.site-nav li.child.child-level-back a i {display:inline-block!important;}

.homeColumn1 .wrapwidg.moderation-preview {position: fixed; overflow-y: auto!important; bottom: 0; top: 60px; right:0px; margin-left: 40px; -webkit-transition: all 0.4s ease-in-out; -moz-transition: all 0.4s ease-in-out; -o-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; margin-right: 10px;}
.mobile_menu_open .homeColumn1 .wrapwidg.moderation-preview {right: -280px; margin-left: 280px;}