/* @import url(https://giovalife.bitbucket.io/xmas/css/skin.css); */
[data-tt-widget-widget="photoSlick"] {width: 100vw;margin-top: -20px;margin-left: calc((-5vw) - 14px);position: relative;}
[data-tt-widget-widget="photoSlick"] section:after {content: '';display: block;background: rgba(0,0,0,0.5);width: 100%;height: 100%;z-index: 0;position: absolute;top: 0;left: 0;}
a.scroll-down {position: absolute;bottom: 20px;height: 48px;width: 48px;line-height: 48px;text-align: center;border-radius: 50%;border: 2px solid #fff;color: #fff;left: calc(50% - 24px);z-index: 20;}
#xmasDownloads {position:absolute;z-index: 20;right: 60px;top:calc(50% - 100px);width: 120px;z-index: 20;}
#xmasDownloads a {color: #fff;text-shadow:0 0 4px #000;text-decoration: none;}
#xmasDownloads a h3 {color: #fff;}
[data-tt-widget-widget="photoSearch"] {margin-top: -285px !important;}
[data-tt-widget-widget="photoSearch"] .input-group input.form-control {border-radius: 25px 0 0 25px;}
[data-tt-widget-widget="photoSearch"] .btn.btn-default {border-radius: 0 25px 25px 0;}
[data-tt-widget-widget="photoGallery"] {margin-bottom: 40px;position: relative;}
[data-tt-widget-widget="photoGallery"] section {background: rgba(255,255,255,0.8);}
[data-tt-widget-widget="photoGallery"] .pull-right {height: 40px;line-height:40px;margin:0 20px 0 0;}
.bold-photo-gallery .contents_wrapper {display: flex;flex-direction: row;flex-wrap: wrap;}
.bold-photo-gallery .contents_wrapper .content-list-element {width: calc(100% / 3);padding: 10px;}
.btn.pager-more {margin: 20px;}
#useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=CONTENT_ADD].element:nth-child(even) .thumb-wrapper:before, #useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=CONTENT_ADD].element:nth-child(odd) .thumb-wrapper:before {content: '\f230';}
#useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED] .thumb-wrapper, #useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=CONTENT_ADD] .thumb-wrapper {background: #3f75ba;}
#useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED] .thumb-container:after, #useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=CONTENT_ADD] .thumb-container:after {border-color: #3f75ba!important;}
#useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED].element:nth-child(even) .top-container:after, #useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=COURSE_COMPLETED].element:nth-child(odd) .top-container:after, #useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=CONTENT_ADD].element:nth-child(even) .top-container:after, #useractivity-socialBoard-widget div[data-view=vertical] div[data-activity=CONTENT_ADD].element:nth-child(odd) .top-container:after {border: 3px solid #3f75ba!important;}
[for=activity-CONTENT_ADD]:before {background: #3f75ba;content: '\f09a';}

#useractivity-socialBoard-widget div[data-view=vertical] .element:nth-child(even) .thumb-container .thumb-wrapper {margin: 0 0 0 -35px;}
#useractivity-socialBoard-widget div[data-view=vertical] .element:nth-child(even) .top-container:after {display: none;}
#useractivity-socialBoard-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container .thumb-wrapper {margin: 0 -30px 0 0;}
#useractivity-socialBoard-widget div[data-view=vertical] .element:nth-child(odd) .top-container:after {display: none;}
#useractivity-socialBoard-widget div[data-view=masonry] .element .text-container .date {margin:0;padding: 0 0 10px 0;}
#useractivity-socialBoard-widget div[data-view=masonry] h2 {margin: 0;padding: 10px 0;}
.thumb_grid img {width: 100%;height: auto;max-height: none;}
#useractivity-socialBoard-widget [data-activity] img {max-height: none;}

#useractivity-socialBoard-widget div[data-view=vertical] .element:nth-child(odd) .thumb_grid img {max-height: none;float: right;width: 120px;margin: 0 0 10px 20px;}
#useractivity-socialBoard-widget div[data-view=vertical] .element:nth-child(even) .thumb_grid img {max-height: none;float: left;width: 120px;margin: 0 20px 10px 0;}
#useractivity-socialBoard-widget div[data-view=masonry] .thumb_grid img {margin:0 0 10px 0;}