/* REPORT LIST */
.tableContainer table tr th {padding: 20px 5px;}
.tableContainer table tr.secondheader th {font-size: 10px;}
.tableContainer table td, .tableContainer table tr th {font-size: 13px;line-height: 15px;text-transform: uppercase;}
.tableContainer table {table-layout: fixed;}
.statsDetails {display: inline-block !important;}
table.xchange th.total {width:auto !important;}
span.pastEvent, span.soldOut {margin:4px 0 4px 0 !important;background: #9eb7ca !important;}
.statsDetails, .statsCompare {height: 24px;width: 24px;line-height: 24px;text-align: center;background: #aaa;border-radius: 3px;}
.statsDetails {background: #00b04e;}
.statsCompare {background: #d83759;}
.statsDetails:before, .statsCompare:before {font-size: 18px;color: #fff;}
.tableContainer table td, .tableContainer table tr th {position:relative;}
.statsCompare.yearCompare {height:48px;width:48px;line-height:48px;font-size:24px;position:absolute;right:-24px;bottom:-24px;}
.statsCompare.yearCompare:before {height:48px;width:48px;line-height:48px;font-size:24px;}