#mainwrap {max-width: none !important;}
#home-wrapcontent, #wrapcontent {max-width: none !important;}
.statsDetails {display: block;width: 24px;height: 24px;overflow: hidden;color: #d83759;}
.statsDetails:hover {color: #ad314c;}
.statsDetails:before {font-family: 'reporticon';content: "\e909";font-size:24px;width: 24px;height: 24px;line-height:24px;text-align:center;display: block;vertical-align: top;float: left;}
.eventWidgetPlugin .radio {width: auto !important;}
#radioButton .radio  label{display:inline!important;}
.selection_readmore a{float:right;margin-right:-14px;margin-top:-12px!important;}
.selection_name{margin-top:1%;padding-top: 15px !important;}
.eventWidgetPlugin div.status_container {color: #00b04e!important;}
.selection_name{width: 100%!important;}
.hero-unit.event p {font-size: 15px!important;}
.div-table-col.check input {vertical-align:top!important;}
.column_padding{padding:0!important;}
.selection_name{margin-top:2px!important;}
#mainwrap {max-width: 1440px;}
.eventTitle {height: auto!important;}
.div-table-col.check input{float:none!important;}
.div-table-col.check input[type=checkbox] + label {float: none!important;}
div.selection_short_name {line-height: 17px!important;}
ul {list-style: outside!important;padding-left: 12px!important;}
.footer ul{list-style: none!important;margin-left: -13px!important;}
.ui-dialog .ui-dialog-content {margin-bottom: 20px!important;padding-top: 30px!important;}
strong, b {font-weight: bold !important;}
em, i {font-style: italic!important;}
.eventTitle h1{top:21%!important}
.div-table-row .div-table-row {cursor: default!important;}
.selection_name a{cursor: default!important;}
.eventWidgetPlugin .conditionCheckbox {display: inline;width: 20px !important;height: 20px !important;margin-left: -10px !important;}
#bigtable .result_number{ display: block!important; margin-bottom: 20px; font-weight: bold;}
.wrapwidg.plugin_chartWidget {border-top:0;}

/* ie8 fixes */
.oldie.ie8 .div-table-col.check input {margin:10px 0 0 0 !important;padding:0 !important;height:auto !important;width:auto !important;}
.oldie.ie8 .div-table-col.check input[type=checkbox] + label {display:none !important;}
.oldie.ie8 #selection_221.selection_selected {border:none !important;}
.oldie.ie8 #selection_332 {border-bottom:none !important;}
.oldie.ie8 .div-table-row.category_fake {border-bottom:none !important;}   