@import url(../webicons/style.css);
@import url(../fonts/fonts.css);

@media (max-width:576px) {
    .tableContainer {padding:0 !important;}
    .tableContainer:before {display: none;}
    .tableContainer table td.city {padding:20px;font-size: 16px !important;}
    table td span.pastEvent,  table td span.soldOut {
        min-width: 0;
        padding: 5px;
        white-space: nowrap;
        font-weight: normal;
        font-size: 8px;
    }
    .tableContainer table td, .tableContainer table tr th {
        font-size: 11px !important;}
}