@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url('BrandonGrotesque-Light.eot');
  src: url('BrandonGrotesque-Light.woff2') format('woff2'),
       url('BrandonGrotesque-Light.woff') format('woff'),
       url('BrandonGrotesque-Light.ttf') format('truetype'),
       url('BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg'),
       url('BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('BrandonGrotesque-Regular.eot');
  src: url('BrandonGrotesque-Regular.woff2') format('woff2'),
       url('BrandonGrotesque-Regular.woff') format('woff'),
       url('BrandonGrotesque-Regular.ttf') format('truetype'),
       url('BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg'),
       url('BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('BrandonGrotesque-Bold.eot');
  src: url('BrandonGrotesque-Bold.woff2') format('woff2'),
       url('BrandonGrotesque-Bold.woff') format('woff'),
       url('BrandonGrotesque-Bold.ttf') format('truetype'),
       url('BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg'),
       url('BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


