@font-face {
    font-family: 'Open_sans';
    src:url('OpenSans-Regular.woff') format('woff'),
        url('OpenSans-Regular.svg#OpenSans-Regular') format('svg'),
        url('OpenSans-Regular.eot'),
        url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}