
/* tool PF */
.toolPromotoriCerca_ediv {position: relative;overflow: hidden;padding: 0 0 15px 0;}
.box_warning {position: absolute;bottom: 15px;left: 20px;}
.toolPromotoriCerca_eform .box4 input {width:auto;}
.resetPromotorePulsante {clear:both;display:block;padding:5px 0 0 0;}
.plugin_ToolPromotoriWidget .cercaPromotorePulsante {margin:0 0 10px 0;}
.plugin_ToolPromotoriWidget .toolPFResult {padding:30px 0;}
.plugin_ToolPromotoriWidget .toolPFResult td.r_sen1 {background: url(/pub/widgetplugin/ToolPromotoriWidget/img/star-on.png) repeat-x left center; width:16px;display:inline-block;vertical-align:middle; padding: 0;text-indent: -9999px;}
.plugin_ToolPromotoriWidget .toolPFResult td.r_sen2 {background: url(/pub/widgetplugin/ToolPromotoriWidget/img/star-on.png) repeat-x left center; width:32px;display:inline-block;vertical-align:middle; padding: 0;text-indent: -9999px;}
.plugin_ToolPromotoriWidget .toolPFResult td.r_sen3 {background: url(/pub/widgetplugin/ToolPromotoriWidget/img/star-on.png) repeat-x left center; width:48px;display:inline-block;vertical-align:middle; padding: 0;text-indent: -9999px;}
.toolPFResult_pager {position: relative;height: 35px;}
.plugin_ToolPromotoriWidget .toolPFResult .r_art a {height: 44px;vertical-align: middle;display: block;text-indent: -9999px;background: url(/pub/thumb/professional/ico_tool_articolo.png) no-repeat center center;}
.plugin_ToolPromotoriWidget .toolPFResult .r_row.m td {line-height: 40px;font-size: 10px;font-weight: bold;}

.plugin_ToolPromotoriWidget .cercaPromotorePulsante.pressed {background:#ddd;cursor: default;pointer-events: none;}

/* tool PF widget */
#yellow_tool .toolPromotoriCerca_eform label {display: inline-block;line-height: 30px;font-size: 14px;width: 60px;}
#yellow_tool .toolPromotoriCerca_eform input {display: inline-block;width: 195px;margin-left:10px;}
#yellow_tool .toolPromotoriCerca_eform select {display: inline-block;width: 195px;margin-left:10px;}
#yellow_tool .cambi_cas {height:32px;line-height:32px;background:url(/pub/thumb/professional/ico_search_pf.png) no-repeat left center;color:#bba44a;font-size:14px;display:block;padding: 0 0 0 72px;margin: 15px 15px 5px;}
#yellow_tool .cercaPromotorePulsante2, .cercaPromotorePulsante2:hover {height: 35px;background: #bba44a;color: #fff !important;border: none !important;line-height: 35px;float: left;margin: 10px 0 10px;width: 186px;text-align: center;font-size: 14px;}
#yellow_tool .toolPromotoriCerca_eform {padding: 0 15px;}
#yellow_tool .item_template_1 {padding:0 15px;}

/* widget PF */
#yellow_tool {background: url(/pub/thumb/professional/bg_widget_pf.jpg) no-repeat bottom right;height: 320px;cursor:pointer;}
.scopri_i_cambi {padding:20px 60px 20px 20px;line-height:25px;font-size:20px;}
.scopri_i_cambi .yel {color:#bca252;}
#yellow_tool .toolPromotoriCerca_eform {padding: 0 20px;}
#yellow_tool .toolPromotoriCerca_eform select {width: 195px;margin:5px 0;display: block;}

/* TOOL fixes 13-11 */
.plugin_ToolPromotoriWidget .form_box.box1 input {height: 28px;line-height: 28px;}
.plugin_ToolPromotoriWidget .form_box select {height: 30px;line-height: 30px;}
.plugin_ToolPromotoriWidget .select_box {height: 30px;line-height: 30px;}
.toolPromotoriCerca_ediv {padding: 0 0 25px 0;}
.plugin_ToolPromotoriWidget .cercaPromotorePulsante {margin: 42px 0 0 0;}
.plugin_ToolPromotoriWidget .form_box.box1 {width:29%;}
.plugin_ToolPromotoriWidget .form_box.box4 {width:21%;}
.plugin_ToolPromotoriWidget .form_box.box4 label {width: 50%;}
.plugin_ToolPromotoriWidget .form_box.box4 select {width: 100%;}

.plugin_ToolPromotoriWidget .cercaPromotorePulsante.pressed {background:#ddd;cursor: default;pointer-events: none;}

/* FIX PARTNERTAB */ 
#partnerTab10, #partnerTab11, #partnerTab12 {border:none;width: 640px;height: auto;}
#partnerTab13, #partnerTab14, #partnerTab15 {border:none;width: 640px;height: auto;}

/* FIX DONNE */
.donne #large {padding-bottom:15px;}
.donne .custom_header #large {padding-bottom:10px;}
#large_donne {width:100%;height:auto;border:none;padding-bottom:25px;}
.donne .lastContents-large_donne {margin: 0 0 0 -10px;}
#large_donne .pager {display: block;top: auto;bottom: 5px;}
#large_donne .pager li {display: inline-block;}
.donne div #fluido {padding-top:0;padding-bottom:25px;}
#five_user_height {height:410px;}
#six_user_height {height:490px;}
#ten_user_height {height:740px;}

/* FIX DONNE CONTENT LIST EVENTI  */
#large_donne2 {width:100%;height:auto;border:none;padding-bottom:25px;}
#large_donne2 .pager {display: block;top: auto;bottom: 5px;}
#large_donne2 .pager li {display: inline-block;}
#large_donne2 h2 a {color: #663087;}
#large_donne2 .widget_title {background: #D4C7DD;text-shadow: 0 -1px 0 #227faf;}

/* FIX ANNO PASSAGGIO */ 
.form_box.box3 .annopassaggio .select_box {display: block;}
.plugin_ToolPromotoriWidget .form_box {position:relative;}
.annopassaggio { position: absolute; top: 69px; right: 125px; width: 106px; }
.trimestrepassaggio { position: absolute; top: 69px; right: 18px; }

.coccarda_donne {color: #FFFFFF;height: 34px; background: url('/skins/advisorpro_v3/graphic/gruppodonne_icona.png') no-repeat;}

/* agenda fix */
.calendar_filters label {height: 22px;line-height: 22px;}

/* fix pulsanti bar */
.receive_updates_in_toolbar_pro {float:left;}
.favourite_in_toolbar_pro {float:left;}
.social_sharing_links_toolbar {float:left;}
.content_view_toolbar {float:left;}
 
/* sondaggio */
.survey_donne .singleMK .campi_radio {display:block;}
.survey_donne .singleMK input[type='radio'] + label {padding: 0 10px;text-align:left;display:block;height:30px;margin:0 0 3px 0;}
.survey_donne .singleMK {border:none !important;overflow: hidden;}
.survey_donne .singleMK span.label {padding: 0 !important;margin: 10px 0 0 !important;line-height: 30px;}
.survey_donne .comment_meta_details .percentage {display: inline-block;height: 30px;line-height: 30px;width: 60px;text-align: center;}
.survey_donne .comment_meta_details .percentage.highlight {display: inline-block;height: 30px;line-height: 30px;width: 60px;text-align: center;background: green !important;color: #fff;}
.survey_donne .comment_meta_details .answers2 ul {background: none;width: 100%;height: auto;}
.survey_donne .comment_meta_details .answers2 h3 {line-height: 17px;width: 100%;background: none;padding: 10px 0;margin: 0;height: auto;line-height: 20px;}
.survey_donne .comment_meta_details .answers2 ul li {width: 100%;text-align: left;height: auto;margin: 0 0 2px 0;}
.survey_donne .comment_meta_details .answers2 h3 {text-transform: uppercase;}

/* MORE SURVEY */
.survey_donne .singleMK input[type='checkbox'] {position: absolute;clip: rect(1px, 1px, 1px, 1px);}
.survey_donne .singleMK input[type='checkbox'] + label {margin: 0 0 3px 0;padding: 0 10px;cursor: pointer;background: #F3DDDC;color: #B13631;font-size: 14px;display: inline-block;min-width: 100px;box-sizing: border-box;-moz-box-sizing: border-box;height: 30px;line-height: 30px;text-align: left;display: block;}
.survey_donne .singleMK input[type='radio'] + label {background: #F3DDDC;color: #B13631;}
.survey_donne .singleMK.riga4 input[type='radio'] + label {background: #F3DDDC;color: #B13631 !important;}
.survey_donne .singleMK.riga3 input[type='radio'] + label {background: #F3DDDC;}
.survey_donne .singleMK.riga4 input[type='radio'] + label {background: #F3DDDC;}
.survey_donne .singleMK.riga5 input[type='radio'] + label {background: #F3DDDC;}
.survey_donne .singleMK.riga6 input[type='radio'] + label {background: #F3DDDC;}
.survey_donne .singleMK.riga7 input[type='radio'] + label {background: #F3DDDC;}
.survey_donne .singleMK.riga8 input[type='radio'] + label {background: #F3DDDC;}
.survey_donne .singleMK.riga9 input[type='radio'] + label {background: #F3DDDC;}
.survey_donne .singleMK.riga9 input[type='radio'] + label {background: #F3DDDC;}
.survey_donne .singleMK input[type='checkbox'] + label:hover {background: #BCDBAC !important;color: #008000 !important;}
.survey_donne .singleMK input[type='checkbox']:checked + label {background: green !important;color: #fff !important;}
.survey_donne .singleMK input[type='checkbox'].checked + label {background: green !important;color: #fff !important;}
.d_container.survey_donne .comment_meta_details .percentage {display: inline-block;height: 30px;line-height: 30px;width: 60px;text-align: center;}
.d_container.survey_donne .comment_meta_details .percentage.highlight {display: inline-block;height: 30px;line-height: 30px;width: 60px;text-align: center;background: green !important;color: #fff;}
.d_container.survey_donne .comment_meta_details ul {background: none;width: 100%;height: auto;}
.d_container.survey_donne .comment_meta_details h3 {line-height: 17px;width: 100%;background: none;padding: 10px 0;margin: 0;height: auto;line-height: 20px;}
.d_container.survey_donne .comment_meta_details ul li {width: 100%;text-align: left;height: auto;margin: 0 0 2px 0;background: #f0f0f0;padding: 0;}
.d_container.survey_donne .answersMultiple .percentageMultiple {display: inline-block;height: 30px;line-height: 30px;width: 60px;text-align: center;border-right: 1px solid #ddd;margin-right: 5px;}
.d_container.survey_donne .comment_meta_details .percentage {border-right: 1px solid #ddd;margin-right: 5px;}
.d_container.survey_donne .answersMultiple .percentageMultiple.highlight {background:green !important;color:#fff;}

/* fix nuovo popup 3 settembre 2014 */
.messageBox_ForumDonne_Popup_container {background: #6fb1d6;}

/* fix popup */
#messageBox_ForumDonne_Popup { margin-top: 0px;} 

/* fix amundi */
#turquoise_small_amundi_patrimoine{height:230px;background-color:#deebf1;}
#turquoise_small_amundi_patrimoine .widget_title {background: #41a8dd;text-shadow: 0 -1px 0 #227faf;}
#turquoise_big_amundi_bond {height:350px;background-color:#deebf1;}
#turquoise_big_amundi_bond .widget_title {background: #41a8dd;text-shadow: 0 -1px 0 #227faf;}

/* graphic fix jan14 */
#header h1 {background: url(/pub/thumb/professional/AdvisorProfessional_azz.png) no-repeat 5px center;}
#mainwrap {background: #FFF url(/pub/thumb/professional/bg_content.jpg) left top no-repeat;}
a, .pollQuestion, .user_name a {color:#6f9dcf;}

/* navbar */
#globalNavBar .dropdown {border-color: #6f9dcf;}
#globalNavBar .dropdown li a {color: #6f9dcf;}
#globalNavBar {background: #6F9DCF;}
#globalNavBar li a {text-shadow: none;}

/* login */
#wraplog h1 {background: #fff url(/pub/thumb/professional/advisor_logo_pro_azz.png) no-repeat center center;}
#wraplog .head_login .title_big {color:#6f9dcf;}
#wraplog .sub11 {color:#6f9dcf;}
#wraplog #newuser h2 {color:#6f9dcf;}
#wraplog #newuser {border-top: 2px solid #6f9dcf;}
#wraplog .contact {border-bottom: 2px solid #6f9dcf;}
#wraplog .e_partita_iva {background:#6f9dcf;}
#wraplog a {color:#6f9dcf;}
#wraplog a#signIn_ {color:#6f9dcf;}
#wraplog .contact h2 {color:#6f9dcf;}
#wraplog .head_login {border-top: 2px solid #6f9dcf;border-bottom: 2px solid #6f9dcf;}
#wraplog h2 {background:#6f9dcf;}
#wraplog #formwrap input.bsub {background:#658fb6;}
.buttons_wrapper #greenerSend {background:#658fb6;}

/* Logo Advisor Professional Lutto 
#header h1 {background: url(/pub/thumb/professional/logo_advisorpro_lutto.png) no-repeat 10px center;}*/

/* Agenda Promotore Eventi Attivi Blu */
#blue .content_calendar_widget .calendar_table td.populated .cal_cell {background:#57799a;}


/* Fix survey donne */
.survey_donne .singleMK.riga3 span.label {font-size: 12px;}


/* Mentor Prova */
.attivada {padding:9px 10px;background: #EDE2F5;border: 1px solid rgba(224, 224, 224, 0.6);box-shadow: 0 2px 2px #eee;margin:0 0 7px 0;line-height: 15px;}