@font-face {
  font-family: 'kering';
  src:  url('fonts/kering.eot?czwpoz');
  src:  url('fonts/kering.eot?czwpoz#iefix') format('embedded-opentype'),
    url('fonts/kering.ttf?czwpoz') format('truetype'),
    url('fonts/kering.woff?czwpoz') format('woff'),
    url('fonts/kering.svg?czwpoz#kering') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="kering-icon-"], [class*=" kering-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kering' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kering-icon-pin_solid:before {
  content: "\e920";
}
.kering-icon-star_solid:before {
  content: "\e921";
}
.kering-icon-ok_solid:before {
  content: "\e922";
}
.kering-icon-heart_solid:before {
  content: "\e923";
}
.kering-icon-share_arrow:before {
  content: "\e924";
}
.kering-icon-comments:before {
  content: "\e925";
}
.kering-icon-chat:before {
  content: "\e91f";
}
.kering-icon-pin:before {
  content: "\e91e";
}
.kering-icon-alert-circle:before {
  content: "\e900";
}
.kering-icon-arrow-down-circle:before {
  content: "\e901";
}
.kering-icon-bell:before {
  content: "\e902";
}
.kering-icon-burger:before {
  content: "\e903";
}
.kering-icon-check-circle:before {
  content: "\e904";
}
.kering-icon-chevron-down:before {
  content: "\e905";
}
.kering-icon-chevron-left:before {
  content: "\e926";
}
.kering-icon-chevron-up:before {
  content: "\e906";
}
.kering-icon-chevron-right:before {
  content: "\e927";
}
.kering-icon-clip:before {
  content: "\e907";
}
.kering-icon-close-circle:before {
  content: "\e908";
}
.kering-icon-close:before {
  content: "\e909";
}
.kering-icon-eye:before {
  content: "\e90a";
}
.kering-icon-flag:before {
  content: "\e90b";
}
.kering-icon-heart:before {
  content: "\e90c";
}
.kering-icon-home:before {
  content: "\e90d";
}
.kering-icon-lens:before {
  content: "\e90e";
}
.kering-icon-location:before {
  content: "\e90f";
}
.kering-icon-lock:before {
  content: "\e910";
}
.kering-icon-mail:before {
  content: "\e911";
}
.kering-icon-message:before {
  content: "\e912";
}
.kering-icon-ok:before {
  content: "\e913";
}
.kering-icon-question-circle:before {
  content: "\e914";
}
.kering-icon-sad:before {
  content: "\e915";
}
.kering-icon-send:before {
  content: "\e916";
}
.kering-icon-settings:before {
  content: "\e917";
}
.kering-icon-share:before {
  content: "\e918";
}
.kering-icon-smile:before {
  content: "\e919";
}
.kering-icon-speechless:before {
  content: "\e91a";
}
.kering-icon-star:before {
  content: "\e91b";
}
.kering-icon-tick:before {
  content: "\e91c";
}
.kering-icon-user:before {
  content: "\e91d";
}
