@font-face {
    font-family: 'Proxima Nova Italic';
    src: url('ProximaNovaW02-RegularIt.woff2') format('woff2'),
        url('ProximaNovaW02-RegularIt.woff') format('woff'),
        url('ProximaNovaW02-RegularIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('ProximaNovaW02-Bold.woff2') format('woff2'),
        url('ProximaNovaW02-Bold.woff') format('woff'),
        url('ProximaNovaW02-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('ProximaNovaW08-Regular.woff2') format('woff2'),
        url('ProximaNovaW08-Regular.woff') format('woff'),
        url('ProximaNovaW08-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Extrabold';
    src: url('ProximaNovaW02-Extrabold.woff2') format('woff2'),
        url('ProximaNovaW02-Extrabold.woff') format('woff'),
        url('ProximaNovaW02-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('ProximaNovaW01-Light.woff2') format('woff2'),
        url('ProximaNovaW01-Light.woff') format('woff'),
        url('ProximaNovaW01-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Black';
    src: url('ProximaNovaW02-Black.woff2') format('woff2'),
        url('ProximaNovaW02-Black.woff') format('woff'),
        url('ProximaNovaW02-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

