/* @import url(https://giovalife.bitbucket.io/vodafone/css/skin.css); */

/* footer */
.footer-vodafone .course-customer-operation {line-height: initial;}

/* motifications */
.notification-page-simple h2.widget_title {color: #e60000;font-family: "VodafoneExB";font-size: 32px;line-height: 32px;height: auto;padding: 20px 0;}
.notif-container {min-height: 300px;}
.notif-container #notificationSettingsSemplified {border: none;box-shadow: none;position: relative;margin: 0 0 80px 0;}
.tag_editor.row {width: auto;margin: 0;}
#wrapcontent {background: #fff;}
.container-fluid.notification-page-simple {padding:15px 30px;}
.notif-container input[type="checkbox"] {cursor:pointer;outline:none !important;-webkit-appearance: none;height: 24px;width: 24px;border: 2px solid #ccc;border-radius: 50%;}
.notif-container input[type="checkbox"]:checked {background: #e60000;border-color: #e60000;}
.table-hover>tbody>tr:hover {background: none;}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {background: none;}
.table-striped>tbody>tr:nth-of-type(odd) {background: none;}





/* homepage */
@media screen and (max-device-width: 768px) {
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message-container {left:auto;}
    .ulearn-search-widget .search_field {padding: 0 0 0 3em;}
    [data-tt-widget-widget="category-ofcourseme-autocompleter"] {display: flex;}
    .footer-vodafone .copyright {line-height: initial;}
    .dropdown.user_menu .dropdown-menu {position: fixed;top: 60px;width: calc(100vw - 10px);left: 5px;}
    .dropdown-menu>li>a {padding: 3px 10px;}
}

/* motifications */
@media (max-width: 640px) {
    .notif-container #notificationSettingsSemplified {table-layout: fixed;border: none;box-shadow: none;}
    .notif-container .table>thead>tr>th,
    .notif-container .table>tbody>tr>th,
    .notif-container .table>tfoot>tr>th,
    .notif-container .table>thead>tr>td,
    .notif-container .table>tbody>tr>td,
    .notif-container .table>tfoot>tr>td {padding: 5px 0;}
    .notif-container .table>tbody>tr>td:first-child {font-size: 10px;line-height: 12px;}
    .notif-container .tag_editor.row {display:none;width: auto;margin: 0;position: absolute;bottom: -60px;width: 100%;left: 0;}
}

/* NEWS EVENTI */
@media (max-width: 991px) {
    .navbar-default .navbar-nav.mobile-table.table-center-5 > li {width: 25%;}
    .section-prenotazioni-li {display: none !important;}
    .navbar-default .navbar-nav.mobile-table a .section-icon + .section-title {display: block !important;font-size: 10px;text-transform: uppercase;line-height: 12px;}
}
@media (max-width: 767px) {
    .navbar-default.sidebar li.catalogo-sezioni label {padding:10px;vertical-align: top;}
    .navbar-default .navbar-nav.mobile-table label .section-icon + .section-title,
    .navbar-default .navbar-nav.mobile-table a .section-icon + .section-title,
    .navbar-default .navbar-nav.mobile-table li.tag-filter-item label .tag-filter-icon + .tag-filter-title {font-size: 10px;text-align: center;line-height: 11px;word-break: break-word;display: block;white-space: normal;}
}
@media (max-width:640px) {
    .catalogocorsi .common-navigation .btn {max-width: calc(100% / 3);}
}

/* gestione */
@media (max-width: 767px) {
    .dataTables_wrapper {max-width: 100%;overflow: auto;}
    .standardtablecontainer {overflow: hidden;padding: 18px;}
    form#csvUpload {padding: 18px 25px;}
    form#csvUpload .form-group {padding: 0;}
    .newlyhired .common-navigation .btn {max-width: 50%;}
    .smartWorkingMonitor .common-title-reset .common-navigation {bottom:4px;position: absolute;}
    .smartWorkingMonitor .common-navigation .btn {max-width: 50%;}
    .smartWorkingEligibility .common-title-reset .common-navigation {bottom:4px;position: absolute;}
    .smartWorkingEligibility .common-navigation .btn {max-width: 50%;}
    .complianceMonitor .common-navigation .btn {max-width: none;}
    body.hse .report-description {padding:20px;}
    .hse .common-navigation .btn {max-width: none;}
    .searchReport #main .wrapwidg.widget_ghost h1 {padding:20px;}
    .searchReport .common-navigation {bottom:auto;position: relative;}
}