body {text-align:center;}
.corpo_messaggio {text-align:center;margin:0 auto;background: url(../graphic/advisor_logo_payoff.png) no-repeat top center;padding:120px 10px 10px 10px;width:400px;font-family:Georgia, Arial;font-size:18px;color:#aaa;}