/* Import Fonts */
@font-face {
    font-family: 'gotham_bookregular';
    src: url('../fonts/gotham/gotham_book-webfont.eot');
    src: url('../fonts/gotham/gotham_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham_book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham_book-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham_book-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham_book-webfont.svg#gotham_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_blackregular';
    src: url('../fonts/gotham/gotham-black-webfont.eot');
    src: url('../fonts/gotham/gotham-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-black-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-black-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-black-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-black-webfont.svg#gotham_blackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_boldregular';
    src: url('../fonts/gotham/gotham-bold-webfont.eot');
    src: url('../fonts/gotham/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-bold-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-bold-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-bold-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_lightregular';
    src: url('../fonts/gotham/gotham-light-webfont.eot');
    src: url('../fonts/gotham/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-light-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-light-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-light-webfont.svg#gotham_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_mediumregular';
    src: url('../fonts/gotham/gotham-medium-webfont.eot');
    src: url('../fonts/gotham/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham/gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-medium-webfont.woff') format('woff'),
         url('../fonts/gotham/gotham-medium-webfont.ttf') format('truetype'),
         url('../fonts/gotham/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}