/* @import url("../../aqua/css/login.css"); */

body {background:#fff url(../graphic/white-satin.gif);font-family: Arial, Helvetica, sans-serif;font-size:12px;}
#wraplog #mainwrap {border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;border-radius:0px;-moz-border-radius:0px;}
#wraplog h1 {background: #fff url(../graphic/advisor_logo_public.gif) no-repeat center top;height:100px;border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;}
#resetPassword_cta_password_reset {width: 210px;}