#newsletter_form_widget {background: #f0f0f0;padding: 30px;box-sizing: border-box;-moz-box-sizing: border-box;font-size: 14px;}
#newsletter_form_widget h2.widget_title {border: none;font-family: Georgia, Arial;font-weight: normal;font-size: 22px;color: #cc0306;}
#newsletter_form_widget .widget_apdding {padding: 0;}
#newsletter_form_widget input {font-size: 11px;box-sizing: border-box;-moz-box-sizing: border-box;padding: 0 5px;background: #fff;border: 1px solid #ddd;margin: 0;line-height: 25px;}
#newsletter_form_widget select {height: 27px;line-height: 27px;width: 100%;font-size: 11px;box-sizing: border-box;-moz-box-sizing: border-box;padding: 0 5px;background: #fff;border: 1px solid #ddd;margin: 0;}
#newsletter_form_widget .fields {width: 46%;float: left;margin-bottom: 15px;}
#newsletter_form_widget .fields label {width: 100%;display: block;height: 25px;line-height: 25px;}
#newsletter_form_widget .fields input {width: 100%;display: block;height: 25px;line-height: 25px;}
#newsletter_form_widget .fields.field_02 {float: right;}
#newsletter_form_widget .fields.field_04 {float: right;}
#newsletter_form_widget .fields.field_06 {float: right;}
#newsletter_form_widget .fields.field_07 {clear: both;}
#newsletter_form_widget .fields.field_08 {float: right;}
#newsletter_form_widget .fields.field_09 {clear: both;width: 100%;margin-bottom: 25px;}
#newsletter_form_widget .fields.field_11 {float: right;}
#newsletter_form_widget .fields.checkboxes label {line-height: 18px;margin: 0 0 10px 0;height: auto;padding: 0 0 0 25px;}
#newsletter_form_widget .fields.checkboxes label.title {padding: 0;}
#newsletter_form_widget .fields.checkboxes input {width: 15px;height: 15px;display: inline-block;margin: 0 5px 0 -25px;vertical-align: middle;}
#newsletter_form_widget .buttons_wrapper input.button {background: #4b708a;border: none;color: #fff;text-align: center;width: 100%;display: block;margin: 20px 0;height: 30px;line-height: 30px;padding: 0;font-weight: normal;color: #fff;text-decoration: none;text-transform: uppercase;cursor: pointer;font-size: 14px;}
