.selector {display: table;width: 100%;}
.selector a {display: table-cell;text-align: center;width:33.2%;height: 140px;text-indent: -9999px;}
.selector a.select_a_a {background: #f1d1c2 url(../graphic/abb_02.jpg) no-repeat center center;background-size: auto 100%;}
.selector a.select_a_combo {background: #d3d1e7 url(../graphic/abb_01.jpg) no-repeat center center;background-size: auto 100%;}
.selector a.select_a_ap {background: #ebf0ec url(../graphic/abb_03.jpg) no-repeat center center;background-size: auto 100%;}
.selector a {-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;}
.selector a:hover {background-position: center top;background-size: auto 110%;box-shadow: inset 0 0 100px rgba(255,255,255,0.4);}

body.a_a {}

body.a_combo .wrapwidg a {color:#003789;}
body.a_combo .magazine_step {background: #d3d1e7;}
body.a_combo .magazine_step .number {background: #003789;}
body.a_combo .magazine_step h2 {color:#003789;}
body.a_combo .magazine_step.step1 .right_box {color:#003789;}

body.a_ap .wrapwidg a {color:#7e9d8e;}
body.a_ap .magazine_step {background: #ebf0ec;}
body.a_ap .magazine_step .number {background: #7e9d8e;}
body.a_ap .magazine_step h2 {color:#7e9d8e;}
body.a_ap .magazine_step.step1 .right_box {color:#7e9d8e;}
