/* Corner RULES */
.corner .wrapwidg {min-height:300px;height:auto;}
.corner .list_item {overflow:hidden;}
.corner .list_item .thumb {float:left;margin:0 15px 15px 0;}
.corner .list_item .thumb img {width:80px;height:80px;border:1px  solid #eee;}
.corner .list_item .content_part {overflow:hidden;}
.corner .list_item .content_part h2 {font-size:13px;}
.corner .list_item .content_part p {font-size:10px;}
.corner #main {margin-top:180px;}
.corner #main .wrapwidg{float:none;width:auto;height:auto;min-height:200px;border:none;}
.corner #main h3 {color:#b13631;}
.corner #page {padding:20px 0;line-height:22px;font-size: 13px;}
.corner #sidebar {margin-top:180px;}
.corner #main #top_menu {position:absolute;height:179px;top:0;left:0;width:960px;border-bottom:1px solid #aaa;min-height:0;}
.corner #top_menu {overflow:visible;}
.corner #top_menu .widget_padding {padding:0;}
.corner #top_menu ul {padding:0;margin:0;list-style:none;margin:0;padding:0;position:absolute;bottom:0px;left:20px;height:31px;font-size:14px;}
.corner #top_menu ul li {float:left;}
.corner #top_menu a{float:left;height:30px;line-height:30px;padding:0 20px;border:1px solid #ddd;border-bottom:none;text-decoration:none;background:#fff;margin:0 4px 0 0;}
.corner #top_menu a:hover {border-color:#aaa;}
.corner #top_menu a#active {margin-bottom:-1px;height:31px;line-height:31px;border-color:#aaa;text-decoration:underline;}
.corner #top_menu img {position:absolute;left:20px;top:20px;}
.corner .info a {text-decoration: none;}
.corner .info {display: block;height: 25px;line-height: 25px;padding:0 0 0 30px;color:#b23531;}
.corner .info.site {background: url(../graphic/ico_info_web.jpg) no-repeat left center;}
.corner .info.mail {background: url(../graphic/ico_info_mail.jpg) no-repeat left center;}
.corner .join {position:absolute;bottom:10px;right:0;height: 25px;line-height: 25px;text-decoration: none;border: 1px solid #aacd79;padding: 0 5px 0 25px;background: #c5ddab url(../graphic/ico_corner_thick.gif) no-repeat 4px center;color: green;}
.corner .download {position:absolute;bottom:10px;left:10px;height: 25px;line-height: 25px;padding: 0 5px 0 25px;background: url(../graphic/ico_corner_download.gif) no-repeat 4px center;}
.corner #video {font-size: 13px;}
.corner #video .item_like {display: none;}
.corner #video .item_comment {display: none;}
.corner #video .item_template {float: left;width: 50%;box-sizing: border-box;-moz-box-sizing: border-box;padding: 20px;}
.corner #video .item_template .item_image img {width: 100%;max-height: 200px;margin: 0 0 10px 0;}
.corner #video .item_template .item_content h2 {font-size: 14px;margin: 0 0 10px 0;}
.corner #discussion {font-size: 13px;}
.corner #discussion .item_like {display: none;}
.corner #discussion .item_comment {display: none;}
.corner #discussion .item_template {padding: 20px;clear:both;overflow: hidden;border-bottom: 1px solid #eee;position: relative;}
.corner #discussion div.item_image {border: 1px solid #ddd;float: left;margin: 0 20px 20px 0;}
.corner #discussion .item_image img {width:100px;}
.corner #discussion .item_template .item_content h2 {font-size: 14px;margin: 0 0 10px 0;}
.corner #documents {font-size: 13px;}
.corner #documents .item_like {display: none;}
.corner #documents .item_comment {display: none;}
.corner #documents .item_comment {display: none;}
.corner #documents .item_template {padding: 20px;clear:both;overflow: hidden;border-bottom: 1px solid #eee;position: relative;}
.corner #documents div.item_image {float: right;margin: 0 20px 0 20px;}
.corner #documents .item_image img {width:200px;}
.corner #documents .item_template .item_content {overflow: hidden;}
.corner #documents .item_template .item_content h2 {font-size: 14px;margin: 0 0 10px 0;}
.item_name {display: block;color: #b23531;}
.item_role {display: block;margin:0 0 5px 0;}
.corner .interno {width: auto;}
.corner #wrapcontent {position: relative;overflow: hidden;}
.corner .inline-rating {display: none;}


