
.item_template_1 .item_content.blog h2 {padding-bottom: 3px;}

#header h1 a {display: block;height:70px;eidth:200px;}
.item_template_1 {
/*max-height: 80px;*/
overflow: hidden;}

#drop_blog .item_template_1 {overflow: hidden;}
#drop_blog .widget_title {width:auto;margin:0 0 10px;}

.pollQuestion {white-space: normal;}
.resultTable .altlabel {white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}

.corner #home-wrapcontent {position: relative;}

/* sopra committato */

/* tool PF */
.toolPromotoriCerca_ediv {position: relative;overflow: hidden;padding: 0 0 15px 0;}
.box_warning {position: absolute;bottom: 15px;left: 20px;}
.toolPromotoriCerca_eform .box4 input {width:auto;}
.resetPromotorePulsante {clear:both;display:block;padding:5px 0 0 0;}
.plugin_ToolPromotoriWidget .cercaPromotorePulsante {margin:0 0 10px 0;}
.plugin_ToolPromotoriWidget .toolPFResult {padding:30px 0;}
.plugin_ToolPromotoriWidget .toolPFResult td.r_sen1 {background: url(/pub/widgetplugin/ToolPromotoriWidget/img/star-on.png) repeat-x left center; width:16px;display:inline-block;vertical-align:middle; padding: 0;text-indent: -9999px;}
.plugin_ToolPromotoriWidget .toolPFResult td.r_sen2 {background: url(/pub/widgetplugin/ToolPromotoriWidget/img/star-on.png) repeat-x left center; width:32px;display:inline-block;vertical-align:middle; padding: 0;text-indent: -9999px;}
.plugin_ToolPromotoriWidget .toolPFResult td.r_sen3 {background: url(/pub/widgetplugin/ToolPromotoriWidget/img/star-on.png) repeat-x left center; width:48px;display:inline-block;vertical-align:middle; padding: 0;text-indent: -9999px;}
.toolPFResult_pager {position: relative;height: 35px;}
.plugin_ToolPromotoriWidget .toolPFResult .r_art a {height: 44px;vertical-align: middle;display: block;text-indent: -9999px;background: url(/pub/thumb/professional/ico_tool_articolo.png) no-repeat center center;}
.plugin_ToolPromotoriWidget .toolPFResult .r_row.m td {line-height: 40px;font-size: 10px;font-weight: bold;}

.plugin_ToolPromotoriWidget .cercaPromotorePulsante.pressed {background:#ddd;cursor: default;pointer-events: none;}


/* tool PF widget */
#yellow_tool .toolPromotoriCerca_eform label {display: inline-block;line-height: 30px;font-size: 14px;width: 60px;}
#yellow_tool .toolPromotoriCerca_eform input {display: inline-block;width: 195px;margin-left:10px;}
#yellow_tool .toolPromotoriCerca_eform select {display: inline-block;width: 195px;margin-left:10px;}
#yellow_tool .cambi_cas {height:32px;line-height:32px;background:url(/pub/thumb/professional/ico_search_pf.png) no-repeat left center;color:#bba44a;font-size:14px;display:block;padding: 0 0 0 72px;margin: 15px 15px 5px;}
#yellow_tool .cercaPromotorePulsante2, .cercaPromotorePulsante2:hover {height: 35px;background: #bba44a;color: #fff !important;border: none !important;line-height: 35px;float: left;margin: 10px 0 10px;width: 186px;text-align: center;font-size: 14px;}
#yellow_tool .toolPromotoriCerca_eform {padding: 0 15px;}
#yellow_tool .item_template_1 {padding:0 15px;}

/* widget PF */
#yellow_tool {background: url(/pub/thumb/professional/bg_widget_pf.jpg) no-repeat bottom right;height: 320px;cursor:pointer;}
.scopri_i_cambi {padding:20px 60px 20px 20px;line-height:25px;font-size:20px;}
.scopri_i_cambi .yel {color:#bca252;}
#yellow_tool .toolPromotoriCerca_eform {padding: 0 20px;}
#yellow_tool .toolPromotoriCerca_eform select {width: 195px;margin:5px 0;display: block;}

/* TOOL fixes 13-11 */
.plugin_ToolPromotoriWidget .form_box.box1 input {height: 28px;line-height: 28px;}
.plugin_ToolPromotoriWidget .form_box select {height: 30px;line-height: 30px;}
.plugin_ToolPromotoriWidget .select_box {height: 30px;line-height: 30px;}
.toolPromotoriCerca_ediv {padding: 0 0 25px 0;}
.plugin_ToolPromotoriWidget .cercaPromotorePulsante {margin: 42px 0 0 0;}
.plugin_ToolPromotoriWidget .form_box.box1 {width:29%;}
.plugin_ToolPromotoriWidget .form_box.box4 {width:21%;}
.plugin_ToolPromotoriWidget .form_box.box4 label {width: 50%;}
.plugin_ToolPromotoriWidget .form_box.box4 select {width: 100%;}

.plugin_ToolPromotoriWidget .cercaPromotorePulsante.pressed {background:#ddd;cursor: default;pointer-events: none;}

/* FIX PARTNERTAB */ 
#partnerTab10, #partnerTab11, #partnerTab12 {border:none;width: 640px;height: auto;}
#partnerTab13, #partnerTab14, #partnerTab15 {border:none;width: 640px;height: auto;}

/* FIX ANNO PASSAGGIO */ 
.form_box.box3 .annopassaggio .select_box {display: block;}
.plugin_ToolPromotoriWidget .form_box {position:relative;}
.annopassaggio { position: absolute; top: 69px; right: 125px; width: 106px; }
.trimestrepassaggio { position: absolute; top: 69px; right: 18px; }

.coccarda_donne {color: #FFFFFF;height: 34px; background: url('/skins/advisorpro_v3/graphic/gruppodonne_icona.png') no-repeat;}

#eventi_fineco { min-height: 100px;}

/* FIX DONNE */
.donne #large {padding-bottom:15px;}
.donne .custom_header #large {padding-bottom:10px;}
#large_donne {width:100%;height:auto;border:none;padding-bottom:25px;}
.donne .lastContents-large_donne {margin: 0 0 0 -10px;}
#large_donne .pager {display: block;top: auto;bottom: 5px;}
#large_donne .pager li {display: inline-block;}
.donne div #fluido {padding-top:0;padding-bottom:25px;}
#five_user_height {height:410px;}
#six_user_height {height:490px;}
#ten_user_height {height:740px;}


.item_template_1 .item_content.blog h2 {padding-bottom: 3px;}
#t-w-100.wrapwidg {width:100%;}

#turquoise_small {height:250px;background-color:#deebf1;}
#turquoise_small .widget_title {background: #41a8dd;text-shadow: 0 -1px 0 #227faf;}
#turquoise_small2{height:140px;background-color:#deebf1;}
#turquoise_small2 .widget_title {background: #41a8dd;text-shadow: 0 -1px 0 #227faf;}
#turquoise_big{height:240px;background-color:#deebf1;}
#turquoise_big .widget_title {background: #41a8dd;text-shadow: 0 -1px 0 #227faf;}

#green_big {height:830px;background-color:white;}
#green_big .widget_title {background: #004f5c;text-shadow: 0 -1px 0 #227faf;}

#rssmandg h3 a {color: #004f5c; width:620px; font-size:16px;}
#rssmandg {width:620px; height:1600px;margin-top:-350px; font-size:14px;}
#rssmandg ul, menu, dir {list-style-type:none; margin-top: 50px;}
#rssmandg li, menu, dir {list-style-type:none; margin-top: 50px;}
#rssmandg p {margin-top:10px;}

#rsssalone h3 a {color: #1c3f94; width:620px; font-size:16px;}
#rsssalone {width:620px; height:1600px;font-size:14px;}
#rsssalone ul, menu, dir {list-style-type:none; margin-top: 50px;}
#rsssalone li, menu, dir {list-style-type:none; margin-top: 50px;}
#rsssalone p {margin-top:10px;}

#green_small {height:830px;background-color:white; border-bottom:thin; border-bottom-color:#004f5c;}
#green_small .widget_title {background: #004f5c;text-shadow: 0 -1px 0 #227faf;}

#green_small2 {height:330px;background-color:white; border-bottom:thin; border-bottom-color:#004f5c;}
#green_small2 .widget_title {background: #004f5c;text-shadow: 0 -1px 0 #227faf;}

#green_small3 {height:290px;background-color:white; border-bottom:thin; border-bottom-color:#004f5c;}
#green_small3 .widget_title {background: #004f5c;text-shadow: 0 -1px 0 #227faf;}

#header h1 a {display: block;height:70px;eidth:200px;}

#rssmandg.wrapwidg {float: none;}
