.donne #large h2.widget_title {background: #d4c7dd;color: #000;line-height: 20px;height:auto;padding: 15px;text-shadow: none;margin: 0 0 15px 0;text-transform: none;font-size: 24px;width: auto;font-weight: lighter;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.donne #large {color: #8a8a8a;padding-bottom: 0;}
.donne a.start_discussion, .donne a.signup_group {background: #663087;display: block;line-height: 30px;font-size: 22px;color: #fff;text-align: center;text-decoration: none;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: lighter;}
.donne a.start_discussion:hover, .donne a.signup_group:hover {background: #8853a8;}
.donne .lastContents-large {margin: 0 0 0 -10px;}
.donne .news_item_donne {width: 305px;float: left;margin:0 0 10px 10px;}
.donne .news_item_donne a {color:#ababab;text-decoration: none;}
.donne .news_item_donne .donne_rispondi {line-height: 35px;height: 35px;background: #eaeaea;color: #ababab;font-size: 16px;padding: 0 0 0 10px;}
.donne .news_item_donne .donne_rispondi .immagine {height: 35px;width:35px;line-height: 35px;float: right;background: url(../graphic/donne_ico_reply.gif) no-repeat center center;display: block;}
.donne .news_item_donne .box_middle {background: #d4c7dd;padding: 10px 10px 15px 10px;color: #000;font-size: 14px;line-height: 16px;height: 80px;}
.donne .news_item_donne .box_middle h2 {line-height: 14px;}
.donne .news_item_donne .box_middle a {color: #000;font-size: 16px;}
.donne .news_item_donne .box_bottom {position:relative;padding: 20px 35px 10px 10px;background: url(../graphic/donne_bg_user.png) no-repeat left top;margin-top: -10px;overflow: hidden;}
.donne .news_item_donne .box_bottom img {float: left;margin: 0 10px 0 0;width: 79px;height: 79px;border: 1px solid #fff;box-shadow: 0 1px 1px #666;overflow: hidden;}
.donne .news_item_donne .box_bottom h4 {color: #d04d4f;font-size: 14px;}
.donne .news_item_donne a.item_like {position: absolute;top: 35px;right: 10px;text-decoration: none;height: 16px;width: 16px;text-align: center;padding: 16px 0 0 0;color: #aaa;}
.donne .news_item_donne a.item_like {background: url(../graphic/sprite_ico_like.png) no-repeat 0 0;}
.donne .news_item_donne a.item_comment {position: absolute;top: 70px;right: 10px;text-decoration: none;height: 16px;width: 16px;text-align: center;padding: 16px 0 0 0;color: #aaa;}
.donne .news_item_donne a.item_comment {background: url(../graphic/sprite_ico_comment.png) no-repeat 0 0;}

