#subscriptionForm {padding: 20px;overflow: hidden;background: #f5f5f5;margin: 0 0 20px 0;}
#emailSubscription {padding: 10px 0;}
#emailSubscription fieldset {border: none;}
#subscribeEmail {height: 32px;line-height: 32px;padding: 0 10px;width: 300px;border-radius: 3px;border: 1px solid #eee;}
#subscribeBtn {height: 32px;line-height: 32px;border: none;padding: 0 10px;color: #fff;background: #CC0306;border-radius: 2px;}
#subscriptionNotification {padding: 10px;background: rgba(255,0,0,0.05);border-radius: 2px;margin: 0 0 20px 0;}
