
.singleMK.riga20 input[type='radio'] + label {display: block;height:auto;line-height: 20px;padding:10px;margin-bottom: 10px;text-align: left;}
.singleMK.riga20 .label{padding: 10px;}
.singleMK.riga20 .campi_radio {padding: 0;display: block;}

.singleMK.riga21 input[type='radio'] + label {display: block;height:auto;line-height: 20px;padding:10px;margin-bottom: 10px;text-align: left;}
.singleMK.riga21 .label{padding: 10px;}
.singleMK.riga21 .campi_radio {padding: 0;display: block;}

.singleMK.riga23 input[type='radio'] + label {display: block;height:auto;line-height: 20px;padding:10px;margin-bottom: 10px;text-align: left;}
.singleMK.riga23 .label{padding: 10px;}
.singleMK.riga23 .campi_radio {padding: 0;display: block;}

.singleMK.riga22 .label{padding: 10px;}
.singleMK.riga22 .campi_radio {padding: 0;display: block;}


.comment_meta_details .answers6 .percentage.highlight {background: #A4E8A4;text-align: right;}
.answers6 h3 {margin: 60px 0 20px;}
.comment_meta_details .answers6 ul li {padding: 0 0;}
.answers6 .percentage {height: 50px;line-height: 50px;display: block;background: #f5f5f5;text-align: left;padding: 0 10px;box-sizing: border-box;-moz-box-sizing: border-box;}
