@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet);

/* NEWS */
#flash_news {width: 100%;margin: 0;border: 0;background: #fff;border-bottom: 1px solid #e7eef7;height: auto;}
#flash_news h2.widget_title {background: #6F9DCF;}
.item_lista_flash_news h2 a {color:#3c6a94;}
.item_lista_flash_news h2 {font-size: 18px;}
.item_lista_flash_news h3 {font-size: 12px;font-weight: normal;color: #658FB6;}
.item_lista_flash_news h4 {font-size: 12px;font-weight: normal;color: #658FB6;}
#flash_news_expand_slide {position: absolute;top: 40px;right: 10px;height: 48px;width: 48px;overflow: hidden;border-radius: 50%;}
#flash_news_expand_slide:before {font:normal normal normal 14px/1 FontAwesome;  content: "\f103";height: 48px;width: 48px;background: #6F9DCF;display: inline-block;text-align: center;color: #3c6a94;font-size: 24px;line-height: 48px;}
#flash_news_reduce_slide {position: absolute;top: 40px;right: 10px;height: 48px;width: 48px;overflow: hidden;border-radius: 50%;}
#flash_news_reduce_slide:before {font:normal normal normal 14px/1 FontAwesome;  content: "\f102";height: 48px;width: 48px;background: #6F9DCF;display: inline-block;text-align: center;color: #3c6a94;font-size: 24px;line-height: 48px;}
.flash_news_expand_description {padding: 20px;background: #f9f9f9;margin: 10px 0 0 0;}

/* users fineco fitlers */
.user_serach_fineco_filter {background: #f9f9f9;color: #999;width: 100%;padding: 10px;margin: 0 -10px 10px;}
.user_serach_fineco_filter .filter_part {display: inline-block;margin: 0 20px 0 0;}
.user_serach_fineco_filter label {display: inline-block;}
.user_serach_fineco_filter input {display: inline-block;vertical-align: middle;height: 21px;line-height: 21px;padding: 0 5px;background: #fff;border: 1px solid #ccc;border-radius: 2px;min-width: 200px;}
.user_serach_fineco_filter select {display: inline-block;vertical-align: middle;height: 23px;line-height: 23px;padding: 0 5px;background: #fff;border: 1px solid #ccc;border-radius: 2px;}
.user_serach_fineco_filter .filter_part a {display: inline-block;vertical-align: middle;height: 23px;line-height: 23px;padding: 0 5px;background: #6F9DCF;border-radius: 2px;color:#fff;text-decoration: none;}

/* fineco users */
.user_list_fineco {overflow: hidden;}
.user_detail_odd_fineco, .user_detail_even_fineco {display: inline-block;vertical-align: top;box-sizing: border-box;width: 20%;float: left;text-align: center;padding: 10px;min-height: 140px;}
.avatar_fineco {display: block;}
.avatar_fineco img {border-radius: 50%;border:4px solid #6F9DCF;margin: 0 0 10px 0;width: 64px;height: 64px;}
.user_details a {color:#3c6a94;text-decoration: none;font-weight: bold;}
.city_fineco {color: #999;}
.pager_fineco_cs {clear: both;display: block;text-align: center;}
.pager_fineco_cs li {display: inline-block;}
.pager_fineco_cs a {height: 20px;width: 20px;line-height: 20px;margin: 0 2px;border-radius: 50%;color: #3c6a94;background: #6F9DCF;display: inline-block;text-decoration:none;}
.pager_fineco_cs a:hover, .pager_fineco_cs a.on {color: #fff;}

/* profile */
#t1_profile {text-align: center;background: #eee;padding: 0; box-sizing: border-box;font-family: 'Open Sans', sans-serif;}
#t1_profile img {float: none;margin: 0;}
#t1_profile #avatarLarge {border-radius: 50%;margin: 20px auto;float: none;}
#Profile #userDetail {text-align: left; background: #f9f9f9; width: auto; padding: 20px;color: #777;}
#Profile #userDetail div {padding: 5px 0;overflow: hidden;}
#userDetail label {width: 140px;word-wrap: break-word;padding: 0 10px 0 0;}
#socialRelationshipsList a.generic_button.greener {margin: 0px 0 20px;border: none;background: #6F9DCF;color: #fff;border-radius: 2px;}
#socialRelationshipsList a.generic_button.greener:before {font:normal normal normal 14px/1 FontAwesome;content: "\f005";}
#socialRelationshipsList a.generic_button.greener:hover {background: #3c6a94;}
.linkedin_use_image_link {padding: 0 0 20px 0;opacity: 0.6;}
.linkedin_use_image_link:hover {opacity: 1;}
.linkedin_use_image_link span {display: block;}
.to_set_avatar_text {display: block;}
.list_notice .timestamp {color: #aaa;}
.buttons_wrapper {overflow: hidden;padding: 5px 5px 0;}

/* tab */
ul.tab_list {border-left: none;margin: 0;}
ul.tab_list li a, ul.tab_list li span {border:none;height: 40px;line-height: 40px;padding: 0 10px;box-sizing: border-box;}
ul.tab_list li a:hover,
ul.tab_list li a.on,
ul.tab_list li.primo a:hover,
ul.tab_list li.primo a.on,
ul.tab_list li a.on,
ul.tab_list li.active a {border:none;color: #3c6a94;height: 40px;line-height: 40px;background: none;border-bottom: 4px solid #3c6a94;}


