#yellow_tool {border-left: 1px solid #bda34c;background: #f9f5e7;height: auto;}
#yellow_tool .widget_title {background: #dac16b;text-shadow: 0 -1px 0 #bda34c;}
#yellow_tool a {color: #bda34c;}
#yellow_tool .widget_title a {color: #fff;}
.plugin_ToolPromotoriWidget {background: #f9f5e7;overflow: hidden;padding-bottom: 0 !important;}
.plugin_ToolPromotoriWidget .widget_padding {padding: 0;}
.plugin_ToolPromotoriWidget .widget_title {background: #dac16b;text-shadow: 0 -1px 0 #bda34c;margin: 0;}
.plugin_ToolPromotoriWidget .form_box {float: left;width: 25%;box-sizing: border-box;-moz-box-sizing:border-box;padding: 15px;}
.plugin_ToolPromotoriWidget .form_box label {display: block;line-height: 30px;font-size: 14px;}
.plugin_ToolPromotoriWidget .form_box select {width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;padding: 5px;}
.plugin_ToolPromotoriWidget .form_box.box1 input {width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;padding: 5px;} 
.plugin_ToolPromotoriWidget .form_box.box4 label{display: inline-block;font-size: 12px;width: 42%;}
.plugin_ToolPromotoriWidget .form_box.box4 select{display: inline-block;font-size: 12px;width: 52%;}
.plugin_ToolPromotoriWidget .cercaPromotorePulsante {background: #bda44a;border-radius: 4px;-moz-border-radius: 4px;line-height: 40px;height: 40px;display: block;text-align: center;color: #fff;text-transform: uppercase;text-decoration: none;font-size: 15px;margin: 0 0 20px 0;}
.plugin_ToolPromotoriWidget .cercaPromotorePulsante:hover {background: #af9741;}
.plugin_ToolPromotoriWidget .toolPFResult {clear: both;overflow: hidden;background: #fff;padding: 15px 15px 30px;}
.plugin_ToolPromotoriWidget .toolPFResult table {width: 100%;}
.plugin_ToolPromotoriWidget .toolPFResult td {min-height: 40px;line-height: 20px;padding: 0 10px;}
.plugin_ToolPromotoriWidget .toolPFResult .r_row.even {background:#f9f5ea;}
.plugin_ToolPromotoriWidget .toolPFResult .r_row.odd {background:#f1f1f1;}
.plugin_ToolPromotoriWidget .toolPFResult .r_row.m {background:#cadcf4;color: #426da6;}
.plugin_ToolPromotoriWidget .toolPFResult .r_row.m td{line-height: 40px;}
.plugin_ToolPromotoriWidget .toolPFResult .r_art {text-align: center;}
.plugin_ToolPromotoriWidget .toolPFResult .r_art a {height: 16px;vertical-align: middle;display: block;text-indent: -9999px;background: url(../graphic/ico_tool_link.png) no-repeat center center;}
.toolPromotoriCerca_eform label {display: block;line-height: 30px;font-size: 14px;}
.toolPromotoriCerca_eform select {width:100%;}
.toolPromotoriCerca_eform input {width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;padding: 5px;}
