#header_dropdown ul#globalNavBar li#global_navbar_link_user .navbar_element span {padding: 0;max-width: 90px;overflow: hidden;display: inline-block;white-space: nowrap;text-overflow: ellipsis;vertical-align: top;}
.icon-icona_sphere:before {content: "\e606";}

/* flex slider fixes */
.redactor_editor, .redactor_editor:focus {height: 200px;}
.promo-title {display: block;width: 100%;float: left;}
.promo-body {display: block;width: 100%;float: left;}
.flexsliderbullet_right .flex-caption {display: inline-block;padding: 0;margin: 50px 10%;width: auto;}
.slider-readmore {float: left;}

/* z-index actions */
#widget-favoritecontent .panel .front {z-index: 1;}
#widget-favoritecontent .panel .back {z-index: 0;}

/* file smart uploader undressing */
.fake-inputfile-field {background: none;border: none;}
.fake-inputfile-field:hover {background: none;}
.fake-inputfile-field .label {display: none;}
.fake-inputfile-field .attach-label {display: none;}
.fake-inputfile-field .icon-attachent {display: none;}
.fake-inputfile-field input[type="file"] {opacity: 1;filter: none;position: static;width: 300px;top: auto;right: auto;bottom: auto;cursor: inherit;background: #fff;border: 1px solid #aaa;}

/* sfere */
#wrapelements #group {clear: both;float: left;width: 100%;}