@font-face {
  font-family: 'marathonicons';
  src:  url('fonts/marathonicons.eot?j896m9');
  src:  url('fonts/marathonicons.eot?j896m9#iefix') format('embedded-opentype'),
    url('fonts/marathonicons.ttf?j896m9') format('truetype'),
    url('fonts/marathonicons.woff?j896m9') format('woff'),
    url('fonts/marathonicons.svg?j896m9#marathonicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="marathonicons-"], [class*=" marathonicons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'marathonicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.marathonicons-crown:before {
  content: "\e90e";
}
.marathonicons-results:before {
  content: "\e90d";
}
.marathonicons-contenuti:before {
  content: "\e90c";
}
.marathonicons-pdf:before {
  content: "\e90b";
}
.marathonicons-clock:before {
  content: "\e908";
}
.marathonicons-order:before {
  content: "\e909";
}
.marathonicons-answer:before {
  content: "\e90a";
}
.marathonicons-allenati-o:before {
  content: "\e905";
}
.marathonicons-scala-o:before {
  content: "\e906";
}
.marathonicons-vinci-o:before {
  content: "\e907";
}
.marathonicons-classifica:before {
  content: "\e904";
}
.marathonicons-arrow-down:before {
  content: "\e903";
}
.marathonicons-scala:before {
  content: "\e901";
}
.marathonicons-vinci:before {
  content: "\e902";
}
.marathonicons-allenati:before {
  content: "\e900";
}
