/* @import url(https://giovalife.bitbucket.io/lux/css/skin_oakley.css); */

@import url(../fonts/open_sans.css);
@import url(../fonts/roboto_condensed.css);

body {font-family: 'Open_sans';}

body header {background: #222;color: #a9a9a9;}

body header .logo {
    background: url(../graphic/logo_oakley.svg) no-repeat center center;
    background-size: 60% auto;
    width: 100px;
}
header .bottom nav li a {font-weight: bold;color: #a9a9a9;}


body #emotional {
    background: -moz-linear-gradient(-45deg, rgba(125,126,125,0.5) 0%, rgba(14,14,14,0.5) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(125,126,125,0.5) 0%,rgba(14,14,14,0.5) 100%);
    background: linear-gradient(135deg, rgba(125,126,125,0.5) 0%,rgba(14,14,14,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807d7e7d', endColorstr='#800e0e0e',GradientType=1 );
}

body #emotional,
body .title, .column h3,
.column.right .globKnow li .rightText,
header .bottom nav li a,
#mylearning-all-count,
#mylearning-all-count b,
#mylearning-planned-count b,
#mylearning-completed-count b
{font-family: 'Roboto-Condensed' !important;font-weight: normal;}

footer {background: #2e2e2e;color: #fff;}
body footer a {color: #a9a9a9;}
body footer .disclaimer-text {color: #a9a9a9;}
body footer .footer-university-links li.logo-academy a,
body footer .footer-university-links li.logo-academy span {background: url(../graphic/logo_lux_footer_white.svg) no-repeat center center;background-size: contain;}