/* @import url(https://giovalife.bitbucket.io/lux/css/skin.css); */


@import url(../fonts/brando.css);

body {font-family: 'BrandonGrotesque-Regular' !important;}

body header .logo {
    background: url(../graphic/logo_sgh.svg) no-repeat center center;
    background-size: 90% auto;
}

body #emotional {
    background: -moz-linear-gradient(-45deg, rgba(125,126,125,0.5) 0%, rgba(14,14,14,0.5) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(125,126,125,0.5) 0%,rgba(14,14,14,0.5) 100%);
    background: linear-gradient(135deg, rgba(125,126,125,0.5) 0%,rgba(14,14,14,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807d7e7d', endColorstr='#800e0e0e',GradientType=1 );
}
