/* @import url(https://giovalife.bitbucket.io/lux/css/skin_opsm.css); */

body header .logo {
    background: url(../graphic/logo_opsm.png) no-repeat center center;
    background-size: 70% auto;
}
header .bottom nav li a {font-weight: normal;}

body #emotional {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7daed3+0,eb6c25+100 */
    background: rgb(125,174,211); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(125,174,211,1) 0%, rgba(235,108,37,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(125,174,211,1) 0%,rgba(235,108,37,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(125,174,211,1) 0%,rgba(235,108,37,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7daed3', endColorstr='#eb6c25',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}