/* @import url(https://giovalife.bitbucket.io/lux/css/skin_sears.css); */


@import url(../fonts/brando.css);

body {font-family: 'BrandonGrotesque-Regular' !important;}

body header .logo {
    background: url(../graphic/logo_sears.png) no-repeat center center;
    background-size: contain;
    height: 100px;
    width: 100px;
    top: 5px;
    left: 5px;
    position: absolute;
}
header .bottom nav li a {font-weight: bold;color: #044d98;}


body #emotional {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#88cff2+0,044d98+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(-45deg, rgba(136,207,242,0.5) 0%, rgba(4,77,152,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(136,207,242,0.5) 0%,rgba(4,77,152,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(136,207,242,0.5) 0%,rgba(4,77,152,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8088cff2', endColorstr='#80044d98',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer {background: #044d98;color: #fff;}
body footer a {color: #fff;}
body footer .disclaimer-text {color: #fff;}
body footer .footer-university-links li.logo-academy a,
body footer .footer-university-links li.logo-academy span {background: url(../graphic/logo_lux_footer_white.svg) no-repeat center center;background-size: contain;}