/* @import url(https://giovalife.bitbucket.io/lux/css/skin_university.css); */

body header {background: #005491;color:#fff;}
body header .logo {
    background: url(../graphic/logo_university_white.svg) no-repeat center center;
    background-size: 90% auto;
}
header .bottom nav li a {font-weight: bold;color: #fff;}

body #emotional {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b5bdc8+0,28343b+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(-45deg, rgba(181,189,200,0.5) 0%, rgba(40,52,59,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(181,189,200,0.5) 0%,rgba(40,52,59,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(181,189,200,0.5) 0%,rgba(40,52,59,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80b5bdc8', endColorstr='#8028343b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer {background: #005491;color: #fff;}
body footer a {color: #fff;}
body footer .disclaimer-text {color: #fff;}
body footer .footer-university-links li.logo-academy a,
body footer .footer-university-links li.logo-academy span {background: url(../graphic/logo_lux_footer_white.svg) no-repeat center center;background-size: contain;}