/* @import url(https://giovalife.bitbucket.io/lux/css/skin_salmoiraghi.css); */

body {font-family: 'Open_sans';}
body header {background: #000;color:#fff;}
body header .logo {
    background: url(../graphic/logo_salmoiraghi.png) no-repeat center center;
    background-size: 90% auto;
}
header .bottom nav li a {color: #fff;}

body #emotional {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#009fe3+0,000000+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,159,227,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,159,227,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,159,227,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80009fe3', endColorstr='#80000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    
}