/* @import url(https://giovalife.bitbucket.io/lux/css/skin_targetoptical.css); */

body {font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}

body header {background: #CC0000;color: #fff;}

body header .logo {
    background: url(../graphic/logo_optical.png) no-repeat 10px center;
    background-size: auto 90%;
}

body header .bottom nav a {color: #fff;}

body #emotional {
    background: -moz-linear-gradient(-45deg, rgba(125,126,125,0.5) 0%, rgba(14,14,14,0.5) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(125,126,125,0.5) 0%,rgba(14,14,14,0.5) 100%);
    background: linear-gradient(135deg, rgba(125,126,125,0.5) 0%,rgba(14,14,14,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#807d7e7d', endColorstr='#800e0e0e',GradientType=1 );
}

body .slider_cont .slide>a {padding: 5px;}
body .slider_cont .slide>a img {border-radius: 50%;}
body .globKnow img {border-radius: 50%;}

body footer {background: #CC0000;color: #fff;}
body footer a {color: #fff;}
body footer .disclaimer-text {color: #fff;}
body footer .footer-university-links li.logo-academy a,
body footer .footer-university-links li.logo-academy span {background: url(../graphic/logo_lux_footer_white.svg) no-repeat center center;background-size: contain;}