/* @import url(https://giovalife.bitbucket.io/lux/css/skin_oliverpeoples.css); */

@import url(../fonts/open_sans.css);

body {font-family: 'Open_sans';}

body header .logo {
    background: -webkit-linear-gradient(0deg, #33235b, #D62229, #E97639, #792042, #33235b, #D62229);
    background: linear-gradient(90deg, #33235b, #D62229, #E97639, #792042, #33235b, #D62229);
    background-size: 600% 600%;
    -webkit-animation: Gradient 7s infinite;
    animation: Gradient 7s infinite;
    width: 170px;
    height: 31px;
    margin: 21px 0 0 21px;
}
body header .logo:before {content: '';display: block;width: 100%;height: 100%;background: url(../graphic/logo_oliverpeople_mask.svg) no-repeat left top;background-size: contain;}

@-webkit-keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

header .bottom nav li a {font-weight: normal;color: #333;font-size: 12px;margin: 0 10px;}

#emotional h1 {text-transform: lowercase;}
#emotional h1,
#emotional h1 b,
body .title,
.column h3,
#myprofileheader,
#emotional .graph .chart span,
#emotional .stat,
#mylearning-all-count b,
#mylearning-planned-count b,
#mylearning-completed-count b
{font-family: 'Times New Roman', Times, serif !important;font-weight: 100;font-style: normal !important;}

#header_slider li:before {background: rgba(0, 0, 0, 0.2);}
body #emotional {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#33235b+0,792042+34,e97639+67,d62229+100&0.1+0,0.1+100 */
background: -moz-linear-gradient(-45deg, rgba(51,35,91,0.1) 0%, rgba(121,32,66,0.1) 34%, rgba(233,118,57,0.1) 67%, rgba(214,34,41,0.1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(51,35,91,0.1) 0%,rgba(121,32,66,0.1) 34%,rgba(233,118,57,0.1) 67%,rgba(214,34,41,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(51,35,91,0.1) 0%,rgba(121,32,66,0.1) 34%,rgba(233,118,57,0.1) 67%,rgba(214,34,41,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a33235b', endColorstr='#1ad62229',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

body #emotional,
body .title, .column h3,
.column.right .globKnow li .rightText,
header .bottom nav li a,
#mylearning-all-count,
#mylearning-all-count b,
#mylearning-planned-count b,
#mylearning-completed-count b
{}



