/* @import url(https://giovalife.bitbucket.io/lux/css/skin_pearlevision.css); */

body {font-family: 'BrandonGrotesque-Regular' !important;}

body header .logo {
    background: url(../graphic/pearle_vision_logo.png) no-repeat center center;
    background-size: 75% auto;
}

header .bottom nav li a {font-weight: bold;color: #5E9732;}

body #emotional {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,5e9732+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(-45deg, rgba(102,102,102,0.5) 0%, rgba(94,151,50,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(102,102,102,0.5) 0%,rgba(94,151,50,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(102,102,102,0.5) 0%,rgba(94,151,50,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80666666', endColorstr='#805e9732',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

footer {background: #fff;color: #60604d;}
body footer a {color: #60604d;}
body footer .disclaimer-text {color: #60604d;}
