@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?w8h5wa');
  src:  url('fonts/icomoon.eot?w8h5wa#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?w8h5wa') format('truetype'),
    url('fonts/icomoon.woff?w8h5wa') format('woff'),
    url('fonts/icomoon.svg?w8h5wa#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-down-left:before {
  content: "\e900";
}
.icon-down-right:before {
  content: "\e901";
}
