@font-face {
  font-family: 'reporticon';
  src:  url('fonts/reporticon.eot?d9nk02');
  src:  url('fonts/reporticon.eot?d9nk02#iefix') format('embedded-opentype'),
    url('fonts/reporticon.ttf?d9nk02') format('truetype'),
    url('fonts/reporticon.woff?d9nk02') format('woff'),
    url('fonts/reporticon.svg?d9nk02#reporticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="reporticon-"], [class*=" reporticon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'reporticon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reporticon-chart:before {
  content: "\e909";
}
.reporticon-chart-bar:before {
  content: "\e90a";
}
.reporticon-enterprise:before {
  content: "\e900";
}
.reporticon-employee:before {
  content: "\e901";
}
.reporticon-email:before {
  content: "\e902";
}
.reporticon-calendar:before {
  content: "\e903";
}
.reporticon-location:before {
  content: "\e904";
}
.reporticon-network:before {
  content: "\e905";
}
.reporticon-search:before {
  content: "\e906";
}
.reporticon-view-show:before {
  content: "\e907";
}
.reporticon-write:before {
  content: "\e908";
}
