/* @import url(https://giovalife.bitbucket.io/prodotto_profile/css/skin.css); */

@import url('https://fonts.googleapis.com/css?family=Nunito');

/* general */
body {font-family: 'Nunito', sans-serif;}
body * { word-wrap: break-word;}
.days-of-the-week, .content_details .actions .btn-success.borderless {display: block;max-width: 100%;border-radius: 50%;color: #fff;margin: 0 auto;min-width: 44px;}
.days-of-the-week, .content_details .actions .btn-success.borderless .fa {color: #fff;}
.text-left {text-align: left !important;}
.user .wrapwidg:not(.noPadding) {padding: 40px 60px 0;}
.upload .homeColumn1 {background: #fff;}
.upload .form-group {position: relative;}
.bootstrap-datetimepicker-widget {max-width:300px;}
.user-edit input[type="checkbox"]+label, .upload input[type="checkbox"]+label {margin: 0 20px 10px 0;}
.content_details .actions img {min-width: 42px;width:42px;}

.mentions-input-box .mentions > div {white-space: nowrap !important;margin: 1px 0 0 0;}
.mentions-input-box .mentions > div > strong > span {display: inline-block;background: #ddd;padding: 4px 4px 8px;border-radius: 4px;margin: -4px;}
.mentions-autocomplete-list img {border-radius: 50%;}

/* loader */
[data-tt-widget-widget="skillSearch"] .loader-tt {position: fixed !important;top:58px !important;left:0 !important;width:100% !important;z-index: 99;height: 16px !important;}
[data-tt-widget-widget="skillSearch"] .loading-bar,
[data-tt-widget-widget="skillSearch"] .loading-bar:before {height: 16px;}

.new_profile #main, .new_profile #wrapcontentupdate {padding: 0;}
.new_profile #home-wrapcontent, #wrapcontent, .toolbarPanel {background: none;}

.new_profile {background: #f5f8fa url(https://source.unsplash.com/user/chatelp/1920x1080) no-repeat fixed center top;background-size: cover;min-height: 100vh;}
.new_profile {background-color: #f5f8fa !important;}

.new_profile .container {margin: 0 auto;width: 70%;}

.new_profile h2.widget_title {padding: 16px;height: auto;font-weight: bold;text-align: center;border:none;position: relative;}
.new_profile h2.widget_title i.fa {width: auto;display: block;float:none;}
.new_profile h2.widget_title:after {content: '';display: block;position: absolute;bottom: -2px;height: 2px;width: 200px;background: #ddd;left: calc((100% - 200px) / 2);}

.new_profile .label {margin: 5px 0;font-size: 12px;padding: 6px; display: inline-block;}

.new_profile .column_padding {display: flex;flex-wrap: wrap;}
.new_profile .wrapwidg {border: none;padding: 0;margin: 0;flex-grow: 1;width: 100%;}
.new_profile .wrapwidg .widget_padding {padding:50px;width: auto;margin: 0 auto;}
.new_profile .wrapwidg.half .widget_padding {padding: 50px 0px;}
.new_profile .wrapwidg.clean {border: none;padding: 0;margin: 0;}
.new_profile .wrapwidg.clean .widget_padding {padding:0;}
.new_profile .wrapwidg.half {flex-grow: 2;width: calc(100% / 3);padding: 40px 30px 0;}

.back_page {font-size: 14px;text-transform: uppercase;font-weight: bold;position: absolute;top:20px;left: 20px;}
.back_page i {font-size: 12px;}
.edit_profile {position: absolute;top:20px;right: 20px;text-align: left;}

.user_box a, .user_box a:hover {color: #fff;}
.user_box {color: #fff;padding: 100px 0 40px 0;text-align: center;position: relative;}
.user_box{background: rgba(0,0,0,0.4);}
.user_box h1 {font-size: 32px;font-weight: bold;margin:0 0 20px 0;}
.user_thumb {margin: 0 0 20px 0;}
.user_thumb img {border-radius: 50%;box-shadow: 0 4px 16px rgba(0,0,0,0.3);max-width: 96px;width: 100%;}

.top_navigator {margin: 0;}

.new_profile .nav-tabs {background: rgba(0,0,0,0.5);border-top: 1px solid rgba(0,0,0,0.1);}
.new_profile .nav-tabs.nav-justified>li.active:hover, .new_profile .nav-tabs.nav-justified>li:hover, .new_profile .nav-tabs.nav-justified>li.active  {background: rgba(0,0,0,0.3);}
.new_profile .nav-tabs.nav-justified>.active>a, .new_profile .nav-tabs.nav-justified>.active>a:hover, .new_profile .nav-tabs.nav-justified>.active>a:focus {background:none;border:none;color:#fff;font-weight: bold;}
.new_profile .nav-tabs.nav-justified>li>a {border: none;border-radius: 0;padding: 24px;font-family: Raleway;font-size: 18px;text-transform: uppercase;}
.new_profile .nav-tabs>li>a {border: none;color: #fff;}
.new_profile .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {color: #fff;background: none;}
.new_profile .nav-tabs>li:hover>a, .nav-tabs>li:focus>a {color: #fff;background: none;}
.new_profile .nav-tabs.nav-justified>li {vertical-align: middle;}

.user-edit .nav-tabs {border-bottom: 1px solid rgba(0,0,0,0.1);border-top: 1px solid rgba(0,0,0,0.1);clear: both;margin: 0 0 40px;}
.user-edit .nav-tabs.nav-justified>.active>a, .new_profile .nav-tabs.nav-justified>.active>a:hover, .new_profile .nav-tabs.nav-justified>.active>a:focus {border:none;font-weight: bold;}
.user-edit .nav-tabs.nav-justified>li>a {border: none;border-radius: 0;padding: 24px;font-family: Raleway;font-size: 15px;text-transform: uppercase;}
.user-edit .nav-tabs>li>a {border: none;}
.user-edit .nav-tabs>li>a:hover, .nav-tabs>li>a:focus {}
.user-edit h2 {padding: 20px 15px 5px;font-size:18px;text-transform:uppercase;}
.user-edit h3 {display: none;}

.new_profile .tab-content>.active {display: flex !important;flex-wrap: wrap;}
.new_profile .tab-pane > div.wrapwidg {padding: 20px;flex-grow: 1;}
.user_box .flex-box {margin: 20px 0 0 0;}
.user_box .flex-item {border:none;}
.user_box .flex-item .number {font-size: 24px;}
.new_profile .user_info .label {display: inline-block;}

.flex-box {display: flex;flex-wrap: wrap}
.flex-box .flex-item {padding: 20px;flex-grow: 1;text-align: center;box-sizing: border-box;}
#personal-info-tab .flex-box .flex-item {width: 100%;}
.flex-item .fa {font-size: 48px;margin: 0 0 10px 0;display: block;}
.flex-item span {display: block;}
.flex-box.hobby .flex-item {border:none;}
.flex-box.hobby .flex-item img {width: 64px;border-radius: 50%;margin:0 0 10px 0;}
.flex-box.projects .flex-item {border:none;text-align: left;flex-basis: 50%;}
.flex-box.projects .flex-item img {width: 128px;float: left;margin: 0 20px 0 0;}
.corporate_contacts .flex-item {width: 20%;}
.project_description {overflow: hidden;}
.flex-item.text-left ul {list-style: none;margin: 0;padding: 0;}
.flex-item.text-left ul li {background: #f5f5f5;margin: 0 0 2px 0;padding: 6px;border-radius: 4px;}

.user_name {margin:0 0 20px 0;}
.label_title {margin:20px 0 5px 0;display: block;text-transform: uppercase;font-size: 12px;}

.label-primary {background: #9a3d37;}

/* skils */
.skill-bar-wrapper:before {height: 8px;top: 4px;background: #ddd;border-radius: 4px;}
.skill-bar {height: 16px;position: absolute;top: 0;}
.skills .float-right {float: right;}
.skills .user-last img {width: 48px;height: 48px;object-fit: cover;border-radius: 50%;float: left;margin: 0 15px;}
.skills .user-data {overflow: hidden;}
.skills .user-data .name {font-weight: bold;}
.skills .user-data p {font-size: 10px;text-transform: uppercase;margin: 0;}
.skills .animated .form-group > label {display: block;}
.skills .twitter-typeahead {width: 100%;}
#addSkill .animated {padding: 20px;background: #f1f1f1;border-radius: 4px;}
.skill-text {font-family: Raleway;}
.endorse {position: absolute;left:-64px;height: 48px;width: 48px;border-radius: 50%;background: #fff; box-shadow: 0px 2px 10px rgba(0,0,0,0.25) !important; border: 2px solid #fff;text-align: center;}
.skills .row:hover .endorse.endorse-trash {display: block;}
.skill-data .badge.outline, .badge.outline {border: none;}
.fill .medal-button.add-action i {-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.skills > .row {margin-top: 20px;}
.add-action:before {content: '';display: block;height: 20px;width: 2px;background: #fff;left: calc(50% - 1px);position: absolute;top: calc(50% - 10px);opacity: 0.8;}
.add-action:after {content: '';display: block;height: 2px;width: 20px;background: #fff;left: calc(50% - 10px);position: absolute;top: calc(50% - 1px);opacity: 0.8;}
.medal-button {position: relative;}
.medal-button i {display: none;}
.fill .medal-button.add-action {-ms-transform: rotate(45deg);-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.skills-wrapper .row {display: flex;flex-grow: 2;}
.flexslider .contents_wrapper, .people_wall, .clndr-grid, #people, #main .wrapwidg.plugin_userSkills {overflow: visible;}
.user .medal-button {position: absolute;margin: 0;bottom: 45px;right: -10px;transform: rotate(45deg);z-index: 10;}
.user .medal-button.collapsed {transform: rotate(0deg);}
.endorse.disabled, .endorse.endorse-trash {background: #fff;}
.tt-suggestion {padding:8px 12px;cursor:pointer;}
.tt-cursor {background:#ddd;}
.tag-item-hidden {opacity:0;display:none;position:absolute;}

/* parsonality */
.personality {min-height: 200px;width: 100%;padding:200px 0 0 0; }
.personality.architect {background: url(../graphic/intj.png) no-repeat center top;background-size: auto 180px;}

/* project */
.project_description a {font-size: 24px;font-family: Raleway;font-weight: normal;}

/* edu */
.row.education-item {position: relative;margin-bottom: 30px;}
h3.school, h3.title {margin: 0 0 15px 0;}
span.edit_this.animate {position: absolute;right: 20px;top: 20px;}
i.fa.dot {border-radius: 50%;height: 48px;line-height: 48px;font-size: 20px;color: #aaa;width: 48px;text-align: center;}
i.fa.dot {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100;White+Gloss+%232 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.new_profile .vwall a i {display: none;}
.new_profile .vwall a:before {content: '';display: block;height: 20px;width: 2px;background: #888;left: calc(50% - 1px);position: absolute;top: calc(50% - 10px);opacity: 0.8;}
.new_profile .vwall a:after {content: '';display: block;height: 2px;width: 20px;background: #888;left: calc(50% - 10px);position: absolute;top: calc(50% - 1px);opacity: 0.8;}
.new_profile .vwall a, .new_profile .vwall a:visited {border-radius: 50%;height: 48px;line-height: 48px;font-size: 20px;color: #aaa;width: 48px;text-align: center;background: #fff;position: absolute;top: 60px;right: -20px;box-shadow: 0 2px 10px rgba(0,0,0,0.25) !important;}

/* activities */
#useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ADD] .thumb-wrapper {background: steelblue;}
#useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ADD].element:nth-child(even) .thumb-wrapper:before, #useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ADD].element:nth-child(odd) .thumb-wrapper:before {content: "\f00c";}
#useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ADD] h4 *, #useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ADD] h4 * {color: steelblue;}
#useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ADD] h4:hover * {background: steelblue;color: #fff;}
[for=activity-SKILL_ADD] .activity-value {background: steelblue;}
[for=activity-SKILL_ADD]:before {background: steelblue;content: '\f00c';}

#useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ENDORSEMENT_ADD] .thumb-wrapper {background: slategrey;}
#useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ENDORSEMENT_ADD].element:nth-child(even) .thumb-wrapper:before, #useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ENDORSEMENT_ADD].element:nth-child(odd) .thumb-wrapper:before {content: "\f00c";}
#useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ENDORSEMENT_ADD] h4 *, #useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ENDORSEMENT_ADD] h4 * {color: slategrey;}
#useractivity-widget div[data-view=vertical] div[data-activity=SKILL_ENDORSEMENT_ADD] h4:hover * {background: slategrey;color: #fff;}
[for=activity-SKILL_ENDORSEMENT_ADD] .activity-value {background: slategrey;}
[for=activity-SKILL_ENDORSEMENT_ADD]:before {background: slategrey;content: '\f00c';}

#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ACTION_ADD_PROJECT] .thumb-wrapper {background: #da4766;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ACTION_ADD_PROJECT].element:nth-child(even) .thumb-wrapper:before, #useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ACTION_ADD_PROJECT].element:nth-child(odd) .thumb-wrapper:before {content: "\f004";}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ACTION_ADD_PROJECT] h4 *, #useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ACTION_ADD_PROJECT] h4 * {color: #da4766;}
#useractivity-widget div[data-view=vertical] div[data-activity=CONTENT_ACTION_ADD_PROJECT] h4:hover * {background: #da4766;color: #fff;}
[for=activity-CONTENT_ACTION_ADD_PROJECT] .activity-value {background: #da4766;}
[for=activity-CONTENT_ACTION_ADD_PROJECT]:before {background: #da4766;content: '\f004';}

.no-content, .no-activities {padding:40px;font-size: 24px;font-weight: 300;font-family: Raleway;color: #aaa;text-align: center;display: block;width:100%;}
.btn-primary, .btn-primary:visited {background: #9a3d37;border-color: #9a3d37;color: #fff;margin: 20px 0;}



/* SEARCH PAGE */
.skillSearch {background: #323232 url(../graphic/bg_search.jpg) fixed no-repeat center center;background-size: cover;}
.skillSearch #home-wrapcontent, .skillSearch #wrapcontent, .skillSearch .toolbarPanel {background:none;}
.skillSearch #main {min-height: calc(100vh - 60px);}
.skillSearch #main::before {content: '';display: block;background: rgba(0,0,0,0.5);height: 100%;width: 100%;position: fixed;top:0;left: 0;}
.skillSearch #main::before {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,777777+100&0.8+0,0.8+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.8) 0%, rgba(119,119,119,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.8) 0%,rgba(119,119,119,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,0,0,0.8) 0%,rgba(119,119,119,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc777777',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.skill-search-head fieldset {margin: 0 0 40px 0;}
.skill-search-head fieldset > .checkbox {display: inline-block;width: 23%;vertical-align: bottom;z-index: 2;}
.skill-search-head legend {color: #000;border: none;font-weight: bold;display: block;text-align: center;}
.skill-search-head {padding: 80px;color: #fff;}
.skill-search-head {letter-spacing: 4px;text-align: center;}
.skill-search-head button[type="submit"] {border: none;background: none;height: 48px;width: 48px;margin: 0 -48px 0 0;vertical-align: top;font-size: 24px;}
.skill-search-head ol {list-style: none;padding:10px 0;margin: 0;overflow: hidden;}
.skill-search-head ol li {display: inline-block;}
.skill-search-head .twitter-typeahead {width: 320px;}
.skill-search-head .twitter-typeahead .form-control {padding: 0 24px;font-size: 16px;height: 48px;}
.skill-search-head .twitter-typeahead input[type=text]::-ms-clear {display: none !important;}
.skill-suggestions > div {padding: 20px 0;}
.skill-suggestions .label-default {display: inline-block;padding: 8px 16px;margin:0 0 8px 0;border-radius: 30px;border: 1px solid #fff;background: rgba(255,255,255,0.2);}
.skill-suggestions .label-default:visited {color: #fff;}
.skill-search-body {overflow: hidden;width: 100vw;margin-left: calc((100vw / -12) * 2);padding: 0 calc((100vw / 12) * 2);background: #f1f1f1;color: #333;}
.result-cluster h2 {text-align: center;padding: 60px;letter-spacing: 4px;font-size: 24px;position: relative;margin:0;}
.result-cluster h2:after {content: '';display: block;width: 220px;height: 4px;background: #ccc;position: absolute;bottom: 30px;left: calc((100% - 220px) / 2);}

/* search items */
.result-cluster-container {display: flex;min-height: 240px;align-items: flex-start;flex-wrap: wrap;}
.result-cluster-container .item {position:relative;width: calc((100% / 3) - 41px);margin: 20px;background: #fff;border-radius: 4px;box-shadow: 0 4px 10px rgba(0,0,0,0.1);padding: 20px 20px 20px 56px;}
.result-cluster-container .item .item-head {position: absolute;left: -10px;top: 10px;height: 48px;width: 48px;border-radius: 4px;overflow: hidden;box-shadow: 0 2px 5px rgba(0,0,0,0.1);}
.result-cluster-container .item .item-head img {width:100%;height:100%;object-fit: cover;}
.result-cluster-container .item .screen-name {font-size: 16px;font-weight: bold;position: relative;}
.result-cluster-container .item .screen-name a:hover {text-decoration: underline;}
.project .result-cluster-container .item {padding:20px;}
.project .result-cluster-container .item .item-head {position: relative;left: auto;top:auto;border-radius: 4px 4px 0 0;width: calc(100% + 40px);height: 220px;    margin: -20px 0 20px -20px;}
.pager-container {text-align: center;margin: 0 0 40px 0;}
.pager-container button {border: none;background: none;}
.item-body .list-inline {margin: 0;padding: 15px 0;}
.item-body li {padding: 4px 4px 4px 24px;display: block;}
.item-body li i {margin: 0 0 0 -24px;float: left;}

/* selection */
.item-body .options input {background:none;height: 100%;width: 100%;position: absolute;top: 0;left: 0;opacity: 0;cursor: pointer;}
.item-body .options label {text-indent: -9999px;display: block;}
.result-cluster-contact-container > button {display: block;width: 100%;padding: 20px;border: none;}
.result-cluster.user .result-cluster-contact-container > button i {margin: 0 0 0 10px;font-size: 25px;vertical-align: middle;}
.result-cluster.user .result-cluster-container .item.selected {box-shadow: 0 0 10px rgb(107, 55, 55, 0.5);}
.result-cluster.user .result-cluster-container .item:before {content: '';display: block;position: absolute;right: 10px;top:10px;border: 1px solid #ddd;height: 16px;width:16px;border-radius: 50%;}
.result-cluster.user .result-cluster-container .item:hover::after, .result-cluster.user  .result-cluster-container .item.selected:after {content: '';display: block;position: absolute;right: 14px;top:14px;height: 8px;width:8px;border-radius: 50%;background: #9a3d37;}


/* filters */
.result-cluster-filter-container {text-align: right;}
.result-cluster-filter-container .dropdown > button {border: none;background: none;font-size: 16px;font-weight: bold;}
.result-cluster-filter-container .dropdown-menu {left: auto;right: 0;max-width: 75%;}
.result-cluster-filter-container .dropdown-menu button {float: right;padding: 0;color: #000;}
.result-cluster-filter-container .dropdown-menu li {padding: 8px 16px;clear: both;}
.result-cluster-filter-container .dropdown-menu li fieldset {margin: 0;t}
.result-cluster-filter-container .dropdown-menu li legend {margin: 0;border-color: #eee;ext-transform: uppercase;font-size: 12px;font-weight: bold;color: #aaa;}
.filter-label {margin-right: 10px;}

.skillSearch .checkbox {position: relative;}
.skillSearch .checkbox input {opacity: 0;height: 0;width: 0;border: none;padding: 0;margin: 0;}
.skillSearch .checkbox input + label {cursor: pointer;padding: 8px;}
.skillSearch .checkbox label {padding: 0;margin: 0;}
.skillSearch .checkbox input + label::before, .skillSearch .checkbox input:checked + label {-webkit-transition: all 0.3s ease-in-out;  -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;}
.skillSearch .checkbox input + label::before {content: '';height: 8px;width: 8px;background: #fff;display: block;position: absolute;left: calc(50% - 4px);top:-50px;bottom:auto;border-radius: 4px;opacity: 0;z-index: -1;}
.skillSearch .checkbox input + label:hover::before {top:-10px;opacity: 1;}
.skillSearch .checkbox input:checked + label::before {height: 8px;width: 100%;left: 0;top: 100%;bottom:auto;opacity: 1;}

.skillSearch .radio {position: relative;}
.skillSearch .radio input {opacity: 0;height: 0;width: 0;border: none;padding: 0;margin: 0;}
.skillSearch .radio label {padding: 8px 16px;margin: 0 0 4px 0;background: #9a3d37;border-radius: 3px;color: #fff;text-transform: uppercase;font-size: 11px;}
.skillSearch .radio label:hover {background: #b3534d;}

/* modal */
.modal-title {font-size: 16px;font-weight: bold;}
.modal-dialog .modal-content {border-radius: 6px;border: none;}
.modal-header {border: none;padding:20px 20px;background: #9a3d37;color: #fff;}
.modal-header button.close {margin-top: 0px;position: absolute;top: 15px;right: 15px;border: none;opacity: 1;background: none;color: #fff;text-shadow: none;line-height: 10px;}
.modal-header button.close span {display: none;}
.modal-header button.close:before {font: normal normal normal 14px/1 FontAwesome;content: "\f00d";font-size: 16px;}
.wrapwidg.plugin_contentUpload .modal-body {padding: 20px;}
.modal-body {padding: 20px;}
.modal-footer {padding: 0 20px 20px;border: none;}

.form-group.recipients label {display: block;}
.form-group.recipients .bootstrap-tagsinput {width: 100%;padding:8px;}
.form-group.recipients .bootstrap-tagsinput .tag {font-size: 14px;}

/* detail */
.doers-section .doers {display: flex;flex-wrap: wrap;}
.doers-section .doer {display: inline-block;margin: 0;width: calc(100% / 3);margin: 0 0 10px 0;padding: 0 5px 0 56px;line-height: 48px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.doers-section .doer img {width: 48px;margin: 0 10px 0 0;margin: 0 10px 0 -56px; float: left;}
.content-description h3 {color: #000;}
.content-action {position: absolute;top: 20px;right: 20px;font-size: 12px;}
.content-action i.fa {font-size: 12px;}
.content_details .actions .borderless {padding: 0;border-radius: 50%;height: 42px;width: 42px;line-height: 42px;text-align: center;}

/* activities */
#useractivity-widget div[data-view=vertical] .element:nth-child(odd) .thumb-container .thumb-wrapper,
#useractivity-widget div[data-view=vertical] .element:nth-child(even) .thumb-container .thumb-wrapper
{border:none;max-height: 60px;min-height: 60px;width: 60px;margin-top: 5px;}

/* RESPONSIVE */

@media (max-width: 1200px) {
    .new_profile .container {margin: 0 auto;width: 80%;}
}

@media (max-width: 992px) {
    .new_profile .container {margin: 0 auto;width: 90%;}
    .new_profile .wrapwidg .widget_padding {padding: 40px 0;}
    .flex-box.projects .flex-item img {width: 64px;}
    .endorse {position: absolute;left: -38px;margin-top: -8px;}
    .skill-search-body {margin-left: auto;padding: 0;}
}

@media (max-width: 768px) {
    .new_profile .wrapwidg.half {padding: 40px 20px 0;}
    h2.widget_title {font-size: 12px;}

    /* search */
    .skill-search-head {padding: 80px 20px;}
}

@media (max-width: 576px) {
    .user_box {padding: 70px 0 40px 0;}
    .new_profile .container {margin: 0 auto;width: 100%;}
    .user .wrapwidg:not(.noPadding) {padding: 40px 40px 0;}
    .tab-pane > div.half {width: 100%;flex-grow: 1;}
    .new_profile .wrapwidg.half {flex-grow: 1;width: 100%;}
    .new_profile .wrapwidg.clean {border: none;padding: 0 !important;margin: 0;}
    .corporate_contacts .flex-item {width: 50%;}
    .skills-wrapper .row {display: block;}
    .skill-bar-wrapper {margin-top: 40px;margin-bottom: 8px;}
    .skill-wrap .cta {float: left;margin: 20px 20px 20px 0;}
    .endorse {position: relative;left: auto;margin-top: auto;}
    #header .logo, #wraplog .logo {background-size: 90% !important;}
    .skill-search-head ol li {display: inline-block;margin: 0 0 10px 0;}
    .skill-search-head fieldset > .checkbox {display: inline-block;width: 40%;font-size: 12px;letter-spacing: 2;margin: 10px;}
    .result-cluster-container .item {width: 100%;}
    .skill-search-head .twitter-typeahead {width: auto;}
    .skill-search-head button[type="submit"] {margin: 0;}
    .doers-section .doer {width: 100%;]
}