.dashboard .scheda.scheda_commento .balloon {background: none;}
.dashboard .scheda.scheda_commento .balloon .scheda.body {background: #c5d5c7;}
.dashboard .scheda.scheda_commento.journlaist .balloon .scheda.body {background: #c4d4d4;}
.dashboard .scheda .user {border: none;padding: 6px 6px 10px 6px;background: url(../graphic/bg_balloon_tip_normal.png) no-repeat 40px bottom;}
.dashboard .scheda.journalist .user {border: none;padding: 6px 6px 10px 6px;background: url(../graphic/bg_balloon_tip_journalist.png) no-repeat 40px bottom;}
.dashboard .scheda .articolo-stats {border-top: none;border-bottom: 1px dotted #999;}
.dashboard .scheda .balloon {padding:0;}
.dashboard .ribbon {top:40px;}
.dashboard .dashboard-your-contribute {line-height: 30px;display: block;text-align: left;background: #fff;}

.dashboard .articolo_dashboard_pub_date {font-size: 12px;text-transform: uppercase;}
.dashboard .scheda .articolo-stats {height: 30px;}
.dashboard .dashboard-your-contribute {color: #666;padding: 0 6px;}