.close_wing {display: none;}

#folderList .social_share.ico {background: url(../graphic/ico_bookmark_share_round.png) 0 0 no-repeat;vertical-align: top;margin: 0;}
.lock-folder-bttn {background: url(../graphic/ico_bookmark_lock_round.png) 0 0 no-repeat;vertical-align: top;margin: 0;}
.unlock-folder-bttn {background: url(../graphic/ico_bookmark_public.png) 0 0 no-repeat;vertical-align: top;margin: 0;}
.share_quick .email.button a {background: url(../graphic/ico_share_mail.png) center center no-repeat;}

@media screen and (max-width: 979px) {
	.boxed.mybookmark_menu {width: 100%;padding: 0 20px 0 0;box-sizing: border-box;-moz-box-sizing: border-box;}
	.folders .column_generico {width: 100% !important;float: none;}
	.folders .folder-header .left-container {width: 100%;display: block;}
	.folders .folder-header h1 {font-size: 22px;}
}


@media screen and (max-width: 480px) {
	.close_wing {display: block;height: 32px;line-height: 32px;text-indent: -9999px;background: #fff url(../graphic/ico_bookmark_reject.png) no-repeat 4px center;}
	.create_folder_body {float: none;margin-bottom: 10px;}
	#bookmarks-view ul li {width: 100px;}
	#bookmarks-view ul li.shared {width: 160px;}
	.mybook_title {height: auto;line-height: 24px;margin-bottom: 20px;}
	.boxed.span2.mybookmark_articoli {width: auto;padding: 0 20px 0 0;}
	.mybookmark_articoli h2 a {margin: 0;}
	.boxed.span2.mybookmark_articoli {overflow: auto;padding: 0;position: fixed;top: 0;right: -95%;height: 100%;width: 95%;box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);background: #fff;}
	.boxed.span2.mybookmark_articoli {
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}
	.boxed.span2.mybookmark_articoli.open {right: 0;}
	.copy_bookmark_bttn {position:absolute;right:32px;top:4px;opacity: 0.6;text-indent: -9999px;width: 24px;height: 24px;display: inline-block;background: url(../graphic/ico_bookmark_move.png) no-repeat center center;}
	#selectFolder {display: block;width: 100%;height: 34px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #FFF;background-image: none;border: 1px solid #CCC;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;margin: 0 0 10px 0;}
	.bookmark_total {display: none;}
	
}


