body {background: #fff;padding: 0;margin: 0;font-family: 'BreraCondensedLight';}
#sonar-little-widget-container {border: none !important;margin: 0 !important;width:192px !important;height:234px;overflow: hidden;position: relative;}
#sonar-little-widget-container .sonar-body-footer {margin-top: 0 !important;}
#sonar-little-widget-container .sonar-body-footer {width: 100% !important;box-sizing: border-box;-moz-box-sizing: border-box;}
.spot-img-wrapper {height: 144px;overflow: hidden;}
.spot-img-wrapper a {display: block;}
.spot-img-wrapper img {vertical-align: top;height: 100%;}
#sonar-little-widget-container .sonar-details-middle {padding: 0 !important;}
#sonar-little-widget-container .sonar-details-title, #sonar-little-widget-container .sonarList-title, .sonarList-title a {padding: 0;}
.spot-titolo-sezione {display: block;height: 20px;line-height: 20px;position: absolute;top:124px;left: 4px;font-size: 14px;}
.spot-titolo-sezione a {color: #fff;text-decoration: none;}
.sonarList-stato {display: block;height: 20px;line-height: 20px;position: absolute;top:124px;right: 4px;font-size: 14px;}
.sonarList-stato p {margin: 0;color: #fff;font-size: 11px;}
#sonar-little-widget-container .sonar-details-title {min-height: 0 !important;padding: 7px !important;height: 44px !important;line-height: 22px !important;overflow: hidden !important;}
#sonar-little-widget-container .sonar-details-title a {font-family: 'BreraCondensedRegular' !important;text-decoration: none;padding: 0 !important;}
#sonar-little-widget-container .sonar-body-footer .vote-section-buttons {margin-left: 0 !important;border: none !important;}
#sonar-little-widget-container .sonar-body-footer label {margin-left: 0 !important;font-size: 12px !important;border: none !important;width: 100px !important;line-height: 20px !important;line-height: 20px !important;padding: 0 !important;font-size: 11px !important;}
#sonar-little-widget-container .sonar-body-footer {background: none !important;background: #dfdfdf !important;position: absolute;bottom:0;left: 0;}
#sonar-little-widget-container .sonar-body-footer input[type="button"] {height: 20px !important;line-height: 17px !important;margin: 0 0 0 4px !important;font-family: 'BreraRegular' !important;font-size: 10px !important;text-transform: uppercase;width: 30px !important;border-radius:3px !important;float: right;cursor: pointer;}

