.homepage .canvas.home_links .home-link-container {height: 0;vertical-align: top;display: inline-block;}

@media (max-width:768px) {
  div[id^="four_"] {width: 48%;max-width:none;}
}
@media (max-width:450px) {
  div[id^="four_"] {width: 100%;max-width:none;}
  .home-page-counter {position: absolute;top: 75px;}
}
@media (max-width:320px) {
  .homepage .canvas.home_links a.home_link_a {height: 90px;width: 90px;}
  #header_dropdown ul#globalNavBar li a.navbar_element:hover, #header_dropdown ul#globalNavBar li a.navbar_element {margin:0;}
}
