@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?icmwiy');
	src:url('../fonts/icomoon.eot?#iefixicmwiy') format('embedded-opentype'),
		url('../fonts/icomoon.woff?icmwiy') format('woff'),
		url('../fonts/icomoon.ttf?icmwiy') format('truetype'),
		url('../fonts/icomoon.svg?icmwiy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bullhorn:before {
	content: "\e91a";
}

.icon-mic:before {
	content: "\e91e";
}

.icon-wrench:before {
	content: "\e991";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-arrow-up2:before {
	content: "\ea3a";
}

.icon-arrow-down2:before {
	content: "\ea3e";
}

.icon-search:before {
	content: "\e602";
}

.icon-back:before {
	content: "\e600";
}

.icon-forward:before {
	content: "\e601";
}

