/* @import url(https://giovalife.bitbucket.io/cariparma_academy/css/skin.css); */

@import url(../fonts/lato.css);
@import url(../fonts/DKPisang.css);
@import url(../icomoon/style.css);
@import url(all.min.css);

body {font-family: 'Lato', sans-serif;}
#mainwrap {padding: 0;overflow: hidden;width: 100%;}
#home-wrapcontent {background-size: 100% auto;overflow: hidden;}
.contents_wrapper {overflow: hidden;min-height: 0;padding: 0;}
#main {overflow: hidden;}
h1, h2, h3, h4, h5 {font-family: 'Lato', sans-serif;}
#mainwrap.standarPage {max-width: none;width: calc((100% / 12) * 10);}
#wrapcontentupdate, #wrapcontent {background: #fff;padding: 30px;}

#mainwrap:before {content: '';display: block;position: absolute;left:0;top:0;background: rgba(0,0,0,0.5);width: 100%;padding-bottom: 77.5%;}
#wraplog #mainwrap:before {display: none;}

/* top menu */
#header:before {content: '';display: block;position: absolute;height: 54px;background: rgba(0,0,0,0.5);width: 100%;}
.icon-notification:before {font-family: 'Font Awesome 5 Pro';content: "\f0f3";}
.impersonation-list {padding: 0;}
.impersonation-list li {padding: 10px;}
.impersonation-list li:hover {background: #f5f5f5;}
.impersonation-list .media-body img {float: left;margin-right: 10px;border-radius: 50%;width: 42px;}
.impersonation-list .media-body h5 {}
.mobile_burger {display: none;}
#header .wrapwidg#search_widget {z-index: 100;}

/* fonts */
.feedbackLayout h2, .feedbackLayout h4 {font-family: Lato, sans-serif !important;}

/* widgets */
#main .wrapwidg {background: none;}
#main .wrapwidg.widget_ghost {background: none;}
#main .wrapwidg .widget_padding {padding:0;background: none;}
#main .wrapwidg.widget_ghost .widget_padding {padding:0;background: none;}
#main .wrapwidg .widget_padding .widget_padding {padding: 0;}
#main .wrapwidg.widget_ghost h2.widget_title {display: none;}
#main .wrapwidg.plugin_ttcomment_new {background: #fff;}
.content_details_editorial:not(.content-type-corso) {background: none;}
.actions {margin: 0 !important;padding:20px 0 !important;}

.news #main .wrapwidg {background: #fff;}
.news #main .wrapwidg.widget_ghost {background: none;}
.news #main .wrapwidg .widget_padding {padding:30px;background: none;}

.catalogocorsi #main .wrapwidg {background: #fff;}
.catalogocorsi #main .wrapwidg.widget_ghost {background: none;}
.catalogocorsi #main .wrapwidg .widget_padding {padding: 30px;background: none;}
.catalogocorsi #content_list_catalogo .widget_padding {padding: 0 30px 30px !important;}

.percorsoformativo #main .wrapwidg {background: #fff;}
.percorsoformativo #main .wrapwidg.widget_ghost {background: none;}
.percorsoformativo #main .wrapwidg .widget_padding {padding:30px;background: none;}

.customPage #main .wrapwidg {background: #fff;}
.customPage #main .wrapwidg.no_bg {background: none;}
.customPage #main .wrapwidg.widget_ghost {background: none;}
.customPage #main .wrapwidg .widget_padding {padding:30px;background: none;}

.customPage #main .wrapwidg.nestedPage {background: none;}
.customPage #main .wrapwidg.nestedPage > .widget_padding {padding: 0;}

.pillcontentcards #main .wrapwidg {background: none;}
.pillcontentcards #main .wrapwidg .widget_padding {padding:0;background: none;}
.pillcontentcards .common-title {margin: 0;}

.mllistacampagne #main .wrapwidg {background: none;}
.mllistacampagne #main .wrapwidg .widget_padding {padding:0;background: none;}

.plugin_groupDetailsWidget .widget_padding {padding: 0 !important;}
.dettaglioCampagna .breadcrumbs {margin: 0 0 0 20px;}

.customPage #main .wrapwidg.plugin_groupDetailsWidget {background: none;}
.customPage #main .wrapwidg.plugin_groupDetailsWidget .cover {overflow: visible;}
.esquire_row .esquire .esquire-message-container {margin-left:0;}
.esquire.dark h2 {color: #fff;}
.description {font-size: 16px;}
h3.media-heading {font-size: 14px;font-weight: normal;font-family: 'Lato', sans-serif;}
.template-compact h3.media-heading {font-size: 14px;font-weight: normal;font-family: 'Lato', sans-serif;}
.esquire_row .esquire {min-height: 300px;height: 200px;}
.esquire_row .esquire .esquire-message-container {min-height: 0;width: 100%;}

.margin-top {margin-top: 30px;}

.dettaglionews #main .wrapwidg {background: none;}
.dettaglionews #main .wrapwidg .widget_padding {padding: 0;}
.dettaglionews #main .wrapwidg.plugin_ttcomment_new {background: #fff;}

.dettagliocorso #main .wrapwidg {background: none;}
.dettagliocorso #main .wrapwidg .widget_padding {padding: 0;}
.dettagliocorso #main .wrapwidg.plugin_ttcomment_new {background: #fff;}

.contentsondaggio #main .wrapwidg {background: none;}
.contentsondaggio #main .wrapwidg .widget_padding {padding: 0;}
.contentsondaggio #main .wrapwidg.plugin_ttcomment_new {background: #fff;}

.feedbackcorso #main .wrapwidg {background: none;}
.feedbackcorso #main .wrapwidg .widget_padding {padding: 0;}
.feedbackcorso #main .wrapwidg.plugin_ttcomment_new {background: #fff;}

.search .customPage #main .wrapwidg.nestedPage {background: #fff;}
.search .customPage #main .wrapwidg.nestedPage > .widget_padding
.search .wrappager {padding: 20px 0;}

/* home */
#home-wrapcontent, #wrapcontent  {padding-top: 108px;}
.homePage .customPage #main .wrapwidg {background: none;overflow: visible;}
.homePage .customPage #main .wrapwidg.widget_ghost {background: none;}
.homePage .customPage #main .wrapwidg .widget_padding {padding:0;background: none;}

.homePage #header .nestedPage {-webkit-transition: all 0.3s ease-in-out;  -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;}
.homePage #header .nestedPage {opacity: 0;height: 0; overflow: hidden;}
.homePage #header.shadow .nestedPage {opacity: 1;margin-top:0;height: auto;}
#header.shadow {-webkit-box-shadow: none;box-shadow: none;}

@media (min-width:640px) {
    .homePage .nestedDepth1 {z-index: 100;margin-top: -120px;}
}
.homePage .nestedDepth2 .column_generico {padding: 0 10px;}
.homePage .nestedDepth1 .column_generico > .wrapwidg:not(.nestedDepth2) {background: #fff !important;margin-bottom: 20px;}
.homePage .nestedDepth1 .column_generico > .wrapwidg:not(.nestedDepth2) > .widget_padding {padding: 30px !important;}
.homePage .nestedDepth1 .column_generico > .wrapwidg.nestedDepth2 .widget_padding {padding: 0 !important;}
.heroNaturalFullExpiringCourseCalendar {margin-bottom: 0 !important;}

.homePage .nestedDepth2 .wrapwidg [data-tt-widget-widget="contentList"] {background: #fff !important;border-radius: 0;}
.plugin_contentFullCalendar {background: #fff !important;}
.widget-homepage-compact-title {padding: 10px 10px 10px 40px;color: #fff;position: relative;}
.widget-homepage-compact-title:before {content:'';display: block;position:absolute;height: 44px;width: 4px;left:18px;top:10px;background: #fff;}
.widget-homepage-compact-title h4 {margin: 0 0 10px 0;}
.media-body .col-md-12 > div > span {padding: 0;}

.widget-homepage-compact-title {
    background: rgb(249,0,130); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,0,130,1) 0%, rgba(165,32,79,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90082', endColorstr='#a5204f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.green_top .widget-homepage-compact-title {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#016b75+0,008996+100&0.9+0,0.9+100 */
    background: -moz-linear-gradient(-45deg, rgba(1,107,117,0.9) 0%, rgba(0,137,150,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(1,107,117,0.9) 0%,rgba(0,137,150,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(1,107,117,0.9) 0%,rgba(0,137,150,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6016b75', endColorstr='#e6008996',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn.btn-blu {
    width:180px;margin-left:calc((100% - 180px) / 2);margin-bottom:20px;margin-top:10px;
    color: #fff;border-radius: 6px;padding:10px;text-align: center;text-transform: uppercase;font-weight: bold;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#016b75+0,008996+100&0.9+0,0.9+100 */
    background: -moz-linear-gradient(-45deg, rgba(1,107,117,0.9) 0%, rgba(0,137,150,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(1,107,117,0.9) 0%,rgba(0,137,150,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(1,107,117,0.9) 0%,rgba(0,137,150,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6016b75', endColorstr='#e6008996',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-blu:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008996+0,016b75+100&0.9+0,0.9+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,137,150,0.9) 0%, rgba(1,107,117,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,137,150,0.9) 0%,rgba(1,107,117,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,137,150,0.9) 0%,rgba(1,107,117,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6008996', endColorstr='#e6016b75',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-blu span {margin: 0 0 0 5px;}

.btn.btn-fucsia {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f90082+0,a5204f+100 */
    width:180px;margin-left:calc((100% - 180px) / 2);margin-bottom:20px;margin-top:10px;
    color: #fff;border-radius: 6px;padding:10px;text-align: center;text-transform: uppercase;font-weight: bold;
    background: rgb(249,0,130); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,0,130,1) 0%, rgba(165,32,79,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90082', endColorstr='#a5204f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-fucsia:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5204f+0,f90082+100 */
    background: rgb(165,32,79); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(165,32,79,1) 0%, rgba(249,0,130,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(165,32,79,1) 0%,rgba(249,0,130,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(165,32,79,1) 0%,rgba(249,0,130,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5204f', endColorstr='#f90082',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn.btn-fucsia span {margin: 0 0 0 5px;}

/* banner */
@media (min-width:640px) {
.homepage-banner {position: absolute;z-index: 200;text-align: center;padding: 0;}
.homepage-banner {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#016b75+0,008996+100&0.9+0,0.9+100 */
    background: -moz-linear-gradient(-45deg, rgba(1,107,117,0.9) 0%, rgba(0,137,150,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(1,107,117,0.9) 0%,rgba(0,137,150,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(1,107,117,0.9) 0%,rgba(0,137,150,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6016b75', endColorstr='#e6008996',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.homepage-banner > div:hover {background: rgba(0,0,0,0.1);}
.homepage-banner a {padding:30px;color: #fff;font-weight: bold;text-transform: uppercase;font-size: 16px;display: block;vertical-align: top;}
.homepage-banner #homepage-banner-logo {background: #fff;}
.homepage-banner a:before {font-family: 'icomoon_digital';font-size: 96px;line-height: 96px;text-align: center;font-weight:normal;}
.homepage-banner a:hover, .homepage-banner a:focus {text-decoration: none;}
.homepage-banner #homepage-banner-logo a:before {content: "\e902";display: block;height: 96px;width:100%;position: relative;color: #016B75;}
.homepage-banner #homepage-banner-catalogo a:before {content:'\e901';display: block;height: 96px;width:100%;position: relative;}
.homepage-banner #homepage-banner-mioPercorso a:before {content:'\e903';display: block;height: 96px;width:100%;position: relative;font-size: 72px;}
.homepage-banner #homepage-banner-news a:before {content:'\e900';display: block;height: 96px;width:100%;position: relative;font-size: 72px;}
}

/* slider */
@media (min-width:640px) {
    .homePage .heroNaturalFull {width: 100vw;margin-left: calc((-100vw / 12) * 1);margin-top: -100px;}
    .heroNaturalFull .slider-hero { min-height: 720px !important;height: 820px !important;}
    .heroNaturalFull .flexslider .contents_wrapper img { height: 820px;object-fit: cover;}
    [class*="wrapwidg hero"] .flex-control-nav {bottom: 170px!important;}
    .heroNaturalFull .slider-hero .hero-message {position: absolute !important;height: auto !important;bottom: auto !important;top: 310px !important;}
}
.homePage .heroNaturalFull .flexslider {border-radius: 0;}
[class^=template-hero] a.btn.read-more {font-family:Lato, sans-serif !important;color: #fff !important;border-radius: 6px !important;padding:10px !important;text-align: center !important;text-transform: uppercase !important;font-weight: bold !important;border:none !important;}
[class^=template-hero] a.btn.read-more {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f90082+0,a5204f+100 */
    background: rgb(249,0,130); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,0,130,1) 0%, rgba(165,32,79,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90082', endColorstr='#a5204f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
[class^=template-hero] .gradient-2colors {background: #666 !important;}
.heroNaturalFull .slider-hero .hero-message h2 {font-family: 'DKPisang' !important;font-size:60px !important;}
.heroNaturalFull .slider-hero .hero-message h3 {font-family: 'DKPisang' !important;font-size:36px !important;}
.heroNaturalFull .slider-hero .hero-message h3 {margin:20px 0 0 0 !important;}
[class^=template-hero] .boxed-text h3 span {font-size: 22px;}
[class*="wrapwidg hero"] .flex-control-paging li a {border: none !important;}

/* user page */
#main .wrapwidg.wrapwidg-no-border {background: none;margin-top: 120px;padding: 0;}
#main .wrapwidg.wrapwidg-no-border .esquire.dark h2 {color: #fff;text-align: center;}
#main .wrapwidg.wrapwidg-no-border .esquire-message h2 + div {color: #fff;}
.cover_action a.btn, .cover_action a.btn:hover {color: #fff;}
.cover img.avatar {border-radius: 50%;}

/* tabs */
.common-navigation {position: absolute;bottom:0;}
.common-navigation .btn-default {background: #D7045E;color:#fff;text-transform: uppercase;font-size: 12px;font-weight: bold;}
.common-navigation .btn-default:hover {color: #fff;}
.common-navigation .btn-default.active {background: #fff;color: #008996;}
.percorsoformativo .common-navigation .btn-default.active {color: #A50046;}

/* filters */
.tt-multiselect-filter {padding: 5px 10px 10px;}
.title-search-filter {display: inline-block;width: 100%;width: 100%;padding: 5px;border: 1px solid #ddd;background:#fff;border-radius: 6px;margin:0 0 20px 0;}
.title-search-filter .form-control {width: 85%;float: left;border: none;box-shadow: none;height: 42px;}
.title-search-filter .input-group-btn {width: 12%;float: right;}
.title-search-filter .input-group-btn .btn {color: #fff;border-radius: 6px;padding:10px;text-align: center;float: right;width: 100%;text-transform: uppercase;font-weight: bold;}
.title-search-filter .input-group-btn .btn {
    background: #008996; /* Old browsers */
    background: -moz-linear-gradient(left, #008996 0%, #016b75 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #008996 0%,#016b75 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #008996 0%,#016b75 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008996', endColorstr='#016b75',GradientType=1 ); /* IE6-9 */
}
.title-search-filter .input-group-btn .btn:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008996+0,016b75+100&0.9+0,0.9+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,137,150,0.9) 0%, rgba(1,107,117,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,137,150,0.9) 0%,rgba(1,107,117,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,137,150,0.9) 0%,rgba(1,107,117,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6008996', endColorstr='#e6016b75',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#course-catalog-filters {display: flex;flex-wrap: wrap;justify-content: space-between;padding: 0;}
#course-catalog-filters > div {width:48%;margin:0 0 20px 0;}
.multiselect-native-select {display: block;}
#course-catalog-filters > div li {width: 100%;}
#course-catalog-filters > div .btn-group {width: 100%;}
#course-catalog-filters > div .btn {width: 100%;text-align: left;}
#course-catalog-filters > div > span {text-transform: uppercase;font-size: 12px;font-weight: bold;}
.tt-multiselect-filter .multiselect.dropdown-toggle.btn.btn-default {border: 1px solid #ddd;padding:16px;border-radius: 6px;}
.tt-multiselect-filter .list-inline {margin:0;}
[data-content-list="DropdownFiltersList"] {position: relative;top: auto;border: 1px solid #ddd;margin-bottom: 10px;border-radius: 6px;}
[data-content-list="DropdownFiltersList"] button {background: none;}

/* azioni corso */
.btn.vdf-grey {padding: 10px 20px;border-radius: 6px;color: #008996;border: 1px solid #008996;cursor: pointer;line-height: inherit;font-weight: bold;text-transform: uppercase;}
.btn.vdf-grey .fa {color: #016b75;}
.btn.vdf-red {padding: 10px 20px;border-radius: 6px;color: #fff;border: none;background: #008996; cursor: pointer;line-height: inherit;font-weight: bold;text-transform: uppercase;}
.btn.vdf-red {
    background: rgb(249,0,130); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,0,130,1) 0%, rgba(165,32,79,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90082', endColorstr='#a5204f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.btn.vdf-red:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5204f+0,f90082+100 */
    background: rgb(165,32,79); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(165,32,79,1) 0%, rgba(249,0,130,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(165,32,79,1) 0%,rgba(249,0,130,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(165,32,79,1) 0%,rgba(249,0,130,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5204f', endColorstr='#f90082',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.submit-comment .btn {padding: 10px 20px;border-radius: 6px;color: #fff;border: none;background: #008996; cursor: pointer;line-height: inherit;font-weight: bold;text-transform: uppercase;}
.submit-comment .btn {
    background: rgb(249,0,130); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,0,130,1) 0%, rgba(165,32,79,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90082', endColorstr='#a5204f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.submit-comment .btn:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a5204f+0,f90082+100 */
    background: rgb(165,32,79); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(165,32,79,1) 0%, rgba(249,0,130,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(165,32,79,1) 0%,rgba(249,0,130,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(165,32,79,1) 0%,rgba(249,0,130,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5204f', endColorstr='#f90082',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.dettagliocorso #main .wrapwidg {overflow: visible;}
.dettaglionews #main .wrapwidg {overflow: visible;}
.contentsondaggio #main .wrapwidg {overflow: visible;}
.editing .btn {border: none;}
.editing .btn .fa {font-size: 24px;vertical-align: middle;}
.btn-group-top {padding: 10px 0;}

/* details labels */
.course-duration-label {font-size: bold;font-weight: bold;margin: 0 0 5px 0;}
.course-mandatory-label {display:block;clear: both;font-weight: bold;margin: 0 0 5px 0;padding: 5px;background: red;color: #fff;}
.course-status-label.COMPLETED {display: block;font-weight: bold;padding: 5px;background: none;color: #96CA12;float: right !important;clear: both;margin: 80px 40px 20px -140px;}
.course-status-label.COMPLETED:before {font-size: 18px;font-family: 'Font Awesome 5 Pro';font-weight:100;content: '\f00c';display: inline-block;margin: 0 10px 0 0;height: 32px;line-height:32px;width: 32px;vertical-align: middle;border-radius: 50%;color: #fff;background: #96CA12;text-align: center;}

/* second filter */
.catalogocorsiSuggeriti .tt-multiselect-filter {padding: 0 0 20px 0;}
/*
.content-filter-lacking-competence-description {margin: 0 0 5px 0;display: block;}
.content-group-tags-list .tag_fixed > label, .content-checkbox-tags-container .tag_fixed > label {background: none;padding: 0;border-radius: 0;font-weight: normal;color:#333;border:none;margin:0 10px 0 0;}
.content-group-tags-list .tag_fixed > input:checked + label, .content-checkbox-tags-container .tag_fixed > input:checked + label {background: none;color: #333;}
.content-group-tags-list .tag_fixed > label, .content-checkbox-tags-container .tag_fixed > label:before {content:'';display:inline-block;height: 24px;width: 24px;border-radius: 50%;border: 1px solid #666;vertical-align: middle;margin: 0 8px 0 0;}
.content-group-tags-list .tag_fixed > input:checked + label:before, .content-checkbox-tags-container .tag_fixed > input:checked + label:before {background: #008996;border-color: #016b75;}
*/

/* header */
#header {background: none;}
#header .logo {background-color: #fff !important;background-position: center center !important;background-size: auto  85% !important;width: 100%;}
#header .top_menu {width:100%;text-align: right;}
#header .top_menu .pull-left {border-left: 1px solid rgba(255,255,255,0.5);float: none !important;display: inline-block;vertical-align: top;}
#header #user .top_menu {background: #008996;min-width: 0;text-align: left;}
#header #user .top_menu .pull-left {border:none;}
#header #user .top_menu .btn-default {background: none;color: #fff;text-transform: uppercase;font-size: 12px;font-weight: bold;}
#header #user .top_menu .btn-default:hover, #header #user .top_menu .active .btn-default {background: #016B75;}
.percorsoformativo #header #user .top_menu .active .btn-default {background: #A50046;}

/* contents list */
.template-custom .area_corso {color:#A50046;}
.template-custom .social-buttons > span {display: inline-block;margin: 0 8px 0 0;}
.foto_corso > a {height: 0;overflow: hidden;display: block;padding: 0 0 60% 0;width: 100%;position: relative;}
.foto_corso {height: auto;overflow: visible;display: block;padding: 0;}
.foto_news > a {height: 0;overflow: hidden;display: block;padding: 0 0 60% 0;width: 100%;position: relative;}
.foto_news {height: auto;overflow: visible;display: block;padding: 0;}
.dettagli_corso > div {padding: 0;}
.dettagli_corso > span {padding: 0;}
.titolo_corso {min-height: 0;}
.media-body .col-md-12 > div > span {padding: 0 10px 0 0;}

/* STATO corsi */

.ACCEPTED_course .foto_corso {position: relative;}
.ACCEPTED_course .foto_corso:after {font-family: 'Font Awesome 5 Pro';display: block;content: '\f08d';text-align:center;font-size: 16px;line-height: 32px;height: 32px;width: 32px;position: absolute;bottom:-10px;right:16px;border-radius: 50%;background: #A50046;color:#fff;}
.REQUESTED_course .foto_corso {position: relative;}
.REQUESTED_course .foto_corso:after {font-family: 'Font Awesome 5 Pro';display: block;content: '\f08d';text-align:center;font-size: 16px;line-height: 32px;height: 32px;width: 32px;position: absolute;bottom:-10px;right:16px;border-radius: 50%;background: #A50046;color:#fff;}
.COMPLETED_course .foto_corso {position: relative;}
.COMPLETED_course .foto_corso:after {font-family: 'Font Awesome 5 Pro';display: block;content: '\f00c';text-align:center;font-size: 16px;line-height: 32px;height: 32px;width: 32px;position: absolute;bottom:-10px;right:16px;border-radius: 50%;background: #96CA12;color:#fff;}
.mandatory_course::after {background: red;text-transform: uppercase;}

/* paginator */
ul.pager {padding:0;text-align: center;}
ul.pager li {padding: 0 4px;}
ul.pager li a:hover, ul.pager li a {border-radius: 50%;width: 20px;height: 20px;text-indent: -9999px;background: #eee;}
ul.pager li a:hover, ul.pager li a.on {border-radius: 50%;width: 20px;height: 20px;background: #A50046;}
.green ul.pager li a:hover, .green ul.pager li a.on {background: #016b75;}
ul.pager li.next a::before {width: 20px;height: 20px;line-height: 20px;font-size: 20px;}
ul.pager li.prev a::before {width: 20px;height: 20px;line-height: 20px;font-size: 20px;}
ul.pager li.next a:hover,
ul.pager li.next a:hover{ background: none !important;color: #A50046 !important;text-indent: 0 !important;}

/* widget title */
#title-search-filter-header {position:relative;margin: 0 0 30px 0;padding: 20px 0 20px 20px;text-transform: uppercase;border-left: 4px solid #008996;}
h2.widget_title {position: relative;padding: 20px 0 20px 20px;border-left: 4px solid #008996;font-family: 'Lato', sans-serif;line-height: 30px;font-size: 30px;height: auto;border-bottom: none;margin: 20px;clear: both;float: left;width: calc(100% - 40px);}
h2.widget_title i.fa {color: #a50046;float: right;font-size: 48px;} 

.fucsia #title-search-filter-header {border-left: 4px solid #A50046;}
.green #title-search-filter-header {border-left: 4px solid #016b75;}
.fucsia #title-search-filter-header:after {color: #A50046}
.green #title-search-filter-header:after {color: #016b75}

.catalogo #title-search-filter-header:after {text-align:right;font-family: 'icomoon_digital';content: "\e903";display: block;height: 72px;width: 96px;font-size: 72px;line-height: 72px;position: absolute;right: 0;top: 0;}
.percorso #title-search-filter-header:after {text-align:right;font-family: 'icomoon_digital';content: "\e901";display: block;height: 72px;width: 96px;font-size: 96px;line-height: 72px;position: absolute;right: 0;top: 0;}
.suggeriti  #title-search-filter-header:after {text-align:right;font-family: 'icomoon_digital';content: "\e904";display: block;height: 72px;width: 96px;font-size: 96px;line-height: 72px;position: absolute;right: 0;top: 0;}
.news  #title-search-filter-header:after {text-align:right;font-family: 'icomoon_digital';content: "\e900";display: block;height: 72px;width: 96px;font-size: 72px;line-height: 72px;position: absolute;right: 0;top: 0;}

/* list */
.social-buttons {padding: 0;padding-left: calc((100% / 12) * 2 );}

/* calendar */
.fullcalendar-widget .fc-unthemed .fc-today {background: none;border: none;position: relative;}
.fullcalendar-widget .fc-unthemed .fc-today > div::before {content:'';display:block;height: 30px;width: 30px;position: absolute;top: 0;left: calc((100% - 32px) / 2);border: 1px solid #016b75;border-radius: 50%;}
.fullcalendar-widget .fc-toolbar {background-color: #fff;color: #666;}
.fullcalendar-widget .fc-unthemed .fc-today span {color: #666;}
.fullcalendar-widget h2 {font-size: 16px;text-transform: uppercase;}
.fullcalendar-widget .fc-prev-button, .fullcalendar-widget .fc-next-button {background: none;color: #016b75;}
.fullcalendar-widget .eventDay .fc-day-value span.startDate {color: #D7045E;position: relative;}
.fullcalendar-widget td.active .fc-day-value {background: none;border: none;position: relative;}
.fullcalendar-widget td.active .fc-day-value:before {content:'';display:block;height: 32px;width: 32px;position: absolute;top: 0;left: calc((100% - 34px) / 2);border-radius: 50%;background: #A50046;}
.fullcalendar-widget td.eventDay.active .fc-day-value span.startDate {color: #fff;position: relative;}

[data-tt-contentlist-selected-status] .date_course_number {font-size: 32px;font-weight: bold;}
[data-tt-contentlist-selected-status] .date_course_month {font-size: 16px;display: block;font-weight: bold;letter-spacing: 1px;border-bottom: 1px solid #fff;margin: 0 0 10px 0;}
[data-tt-contentlist-selected-status] .hero-message {padding:0 20px;}
[data-tt-contentlist-selected-status] .hero-message span {padding:0;}
[data-tt-contentlist-selected-status] .hero-message a {padding: 0;color: #fff;font-size: 16px;font-weight: bold;}

/* detail */
.breadcrumbs {margin: 0;}
.content_details .content-title {margin: 0 0 30px 0;padding: 20px 0 20px 20px;text-transform: uppercase;border-left: 4px solid #008996;color: #666;}
.content_details .content-title h1 {margin:0;}
.breadcrumbs, .breadcrumbs a {color: #fff;font-weight: bold;}
.common-title-text h1 {color: #fff;font-family: Lato, sans-serif;font-weight: bold;font-size: 48px;}
.common-title {min-height: 220px;overflow: hidden;margin-top: 108px;}
.catalogocorsi .common-title,
.catalogocorsiSuggeriti .common-title,
.news .common-title,
.percorsoformativo .common-title,
.search .common-title {min-height: 0px;overflow: hidden;margin-top: 30px;}
.common-title-text {color: #fff;}
.content_meta {margin: 0 0 40px 0;}
h2.section_title {text-transform: uppercase;}

/* detail acrtions */
.btn-toolbar button {display: inline-block;min-width: 0;padding: 0;font-size: 18px;font-weight: bold;height: 32px;width: 32px;line-height: 32px;border-radius: 50%;border: 1px solid #016b75;color: #016b75;}
.btn-toolbar button:hover {color: #fff;border: 1px solid #016b75;background: #016b75;}

/* tags */
.content-tag a.label.label-default {background: #fff !important;color: #A50046;border:1px solid #ddd;text-transform: uppercase;}

/* content actions */
.actions-buttons {display:flex;flex-direction:column;text-align:center;}
.actions-buttons .btn-default {height:auto;width:auto;line-height:inherit;padding:10px 0;float:none;}
.actions-buttons > span, .actions-buttons > a {padding: 10px;border-radius:0;margin:0;border:none;}
.actions-buttons i {font-size:22px !important;margin:0 auto !important;padding: 0 !important;}
.actions-buttons .counter {display:block;clear:both;}

/* filter  */
.tt-multiselect-filter {text-transform:uppercase;font-size:14px;}
.filter-catalog-description {font-weight:bold;margin:0 0 5px 0;display:block;}
.tt-multiselect-filter .list-inline li {padding:0}
.tt-multiselect-filter input[type=radio] {width:0;padding:0;margin:0;height:0;opacity:0;position: absolute;}
.tt-multiselect-filter input + label {padding:10px 20px;border-radius:6px;color:#008996;border:1px solid #008996;cursor:pointer;}
.tt-multiselect-filter input:checked + label {background:#008996;color:#fff;}

.fucsia .tt-multiselect-filter input + label {padding:10px 20px;border-radius:6px;color:#A50046;border:1px solid #A50046;cursor:pointer;}
.fucsia .tt-multiselect-filter input:checked + label {background:#A50046;color:#fff;}

/* profilo */
.esquire.dark h2 {font-family: 'Lato', sans-serif;}
.user-infos {padding: 20px 10px;}

/* microlearning */
.pillcontent #header .nestedDepth0 .homeColumn0, .pillcontent #header .nestedDepth0 .homeColumn1 {
    min-height: 0;
}

.course-area-section {
    color: #A50046;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 10px 0;
}

.course-competence-section {
  color: #A50046;
  font-weight: bold;
  font-size: 16px;
}

.attribute-value {
  border: 1px solid #aaa;
  padding:5px;
  border-radius:5px;
  display:inline-block;
}

/* how to */
.common-title.common-title-text h2 {font-weight: bold;}
.howTo {}
.howTo button#user-wizard-open {position: absolute;right: 30px;top: 30px;border-color: #016B75;color: #016B75;font-weight: bold;}
.howTo .contGrid_body {margin: 0 0 20px 0;}
.howTo .foto_howTo {padding:0 20px 0 0;}
.howTo .social-buttons  {border-top: 1px solid #ccc;padding: 10px 0;margin: 20px 0 0 0;position: absolute;bottom: 0;}
.howTo .tab_howTo {overflow: hidden;position: relative;}
.howTo .common-title.common-title-text h2:before {content: "\e905";font-family: 'icomoon_digital';display: inline-block;font-size: 64px;margin: 0 10px 0 0;vertical-align: middle;}
.howTo .news_type {color: #2d6973;font-weight:bold;font-size: 12px;}
.howTo .dettagli_corso {position: static;}

/* how to modal */
.howTo .userWizardModal .modal-dialog {width: 460px !important;}
.howTo .userWizardModal .modal-dialog {background: #3b8794;color: #fff;}
.howTo .userWizardModal .modal-dialog .modal-content {background: none;}
.howTo .userWizardModal .wizard-nav {bottom:50%;}
.howTo .userWizardModal .wizard-nav button[data-tt-widget-trigger="prev"] {float:left;margin-left: -16px;height:32px;width:32px;text-align:center;line-height: 32px;border: none;color:#fff;padding: 0;}
.howTo .userWizardModal .wizard-nav button[data-tt-widget-trigger="pause"] {float: right;margin-right: -16px;height:32px;width:32px;text-align:center;line-height: 32px;border: none;color:#fff;padding: 0;}
.howTo .userWizardModal .wizard-nav button {
    background: rgb(249,0,130); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(249,0,130,1) 0%, rgba(165,32,79,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(249,0,130,1) 0%,rgba(165,32,79,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f90082', endColorstr='#a5204f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.howTo .userWizardModal ul.pager {margin:20px 0;}
.howTo .userWizardModal ul.pager li a {height: 12px;width:12px;background: #2d6973;}
.howTo .userWizardModal ul.pager li a:hover, .howTo .userWizardModal ul.pager li a.on {height: 12px;width:12px;background: #fff;}
.howTo .userWizardModal .wizard-title-container h3 {text-align:center;font-family: 'DKPisang' !important;font-size: 32px;}
.howTo .userWizardModal .wizard-img.wizard-img-welcome {text-align: center;}

/* footer */
.footer {padding: 30px;text-align: center;}

/* smart work */
.smartWorking .customPage #main .wrapwidg.widget_ghost .widget_padding {padding:40px 0;}
.smartWorking #title-search-filter-header {color: #fff;border:none;padding:0;margin: 0;}
.smartWorking #title-search-filter-header:before {margin:0 20px 0 0;font-family: 'icomoon_digital';content: "\e906";font-size:128px;display: inline-block;color:#fff;vertical-align: middle;}
.smartWorking a.btn.btn-default {border-color: #016B75;color: #016B75;font-weight: bold;}
.comment-container {max-width:none;}
.customPage #main .wrapwidg.plugin_contentDetailWidget:nth-child(3) {background: #016B75;}
.customPage #main .wrapwidg.plugin_contentDetailWidget:nth-child(3):before {content: '';display: block;width: 100vw;left: calc((100vw - 100%) / -2);background: #016B75;height: 100%;position: absolute;}
.customPage #main .wrapwidg.plugin_contentDetailWidget:nth-child(3) .content_details .col-md-1 {display: none;}
.customPage #main .wrapwidg.plugin_contentDetailWidget:nth-child(3) .content_details .col-md-11 {background: none;color:#fff;min-height:0;width: 100%;}
.customPage #main .wrapwidg.plugin_contentDetailWidget:nth-child(3) .content_details .col-md-11 > .row.btn-group-top {display: none;}
.customPage #main .wrapwidg.plugin_contentDetailWidget:nth-child(3) .content_details .col-md-11 > .content_meta {display: none;}
.customPage #main .wrapwidg.plugin_contentDetailWidget:nth-child(3) .content_details .col-md-11 .content-title {color: #fff;    border-left: 4px solid #fff;}
.customPage #main .wrapwidg.plugin_contentDetailWidget:nth-child(3) .content-type-sondaggio .content-description {min-height:0;}
.customPage #main .wrapwidg.plugin_ttcomment_new:nth-child(4) {background: #016B75;color:#fff;}
.customPage #main .wrapwidg.plugin_ttcomment_new:nth-child(4):before {content: '';display: block;width: 100vw;left: calc((100vw - 100%) / -2);background: #016B75;height: 100%;position: absolute;}
.customPage #main .wrapwidg.plugin_ttcomment_new:nth-child(4) #comments_sm_exp {background: none;border: none;}
.customPage #main .wrapwidg.plugin_ttcomment_new:nth-child(4) .survey_answer blockquote {color: #fff;}
.customPage #main .wrapwidg.plugin_ttcomment_new:nth-child(4) .comment_body .nick {color: #fff;}
.customPage #main .wrapwidg.plugin_ttcomment_new:nth-child(4) a {color: #fff;}
.customPage #main .wrapwidg.plugin_ttcomment_new:nth-child(4) .user_avatar {box-shadow: none;}

/* notify */
.table.notificationSimplified {table-layout: fixed;}
.tag_editor_input .row {margin: 0;}
.tag_editor {width: 100%;}

@media (max-width:992px) {
    .col-md-1.actions {overflow: hidden;}
    .col-md-1.actions > div {float: none;text-align: center;width: auto;display: inline-block;vertical-align: middle;}
    .col-md-1.actions > .actions-buttons > span {display: inline-block !important;vertical-align: middle;}
    .col-md-1.actions > .actions-buttons > a {display: inline-block !important;vertical-align: middle;}
    .content_details_editorial:not(.content-type-corso) .actions .btn {float: none !important;}
    .content_details_editorial:not(.content-type-corso) .actions .btn {height: auto !important;width: auto !important;line-height: initial !important;}
    .editing {display: block !important;margin: -100px 0 0 0;float: right;}
    .content_details .editing .dropdown-menu {left:auto !important;}
    .content_details .col-md-11 .row:first-child {min-height: 0;padding:0;}
    .content_details_editorial:not(.content-type-corso) .actions {text-align: left;}
    #mainwrap.standarPage {max-width: none;width: 100%;}
    #mainwrap.standarPage #wrapcontent {padding: 10px;}
}

@media (max-width:768px) {
    #title-search-filter-header {padding: 20px 80px 20px 20px;font-size: 20px;}
    .suggeriti #title-search-filter-header:after {width: 64px;font-size: 64px;}
    .catalogo #title-search-filter-header:after {width: 64px;font-size: 48px;}
    .media-body {padding: 0 20px;}
    .media-body h5 {padding: 0;display: inline;}
    .media-body .col-md-12 > div > span {display: block;}
    .media-body .col-md-12 > div > span.avatar {float: left;}
    .social-buttons {padding: 0;text-align: right;}
    .title-search-filter .input-group-btn {width: 25%;}
    .title-search-filter .form-control {width: 75%;}

    #home-wrapcontent, #wrapcontent {padding-top: 0;}
    #mainwrap:before {padding: 0;height: 100%;}

    /* header */
    .homePage #header .nestedPage {opacity: 1;margin-top:0;height: auto;}
    body #header .logo {position: fixed;top: 0;left: 0;width: 60px !important;}
    #header .top_menu {padding-right: 54px;}
    .mobile_burger {display: block;position: fixed;top:0;right:0;height:54px;width: 54px;    z-index: 20;cursor: pointer;color: #fff;}
    #header #user .top_menu .btn-default {color: #666;}
    #header #user .top_menu .active .btn-default, #header #user .top_menu .btn-default:hover {color:#fff;}
    #header .logo {background: url(../images/da_logo_mobile.svg) no-repeat center center !important;background-size: 80% !important;}
    #header .top_menu .pull-left {border: none;}
    #header .top_menu .pull-left .notification {width: 32px;}
    #header .dropdown-menu {width: 100%;position: fixed;top: 52px;left:0;}

    .homePage #home-wrapcontent {padding-top: 0;}

    .directMessages #home-wrapcontent {padding-top: 0;}
    #home-wrapcontent {background-size: cover !important;}
    #main .wrapwidg.wrapwidg-no-border {margin-top: 0;}

    .actions-buttons > span, .actions-buttons > a {vertical-align: middle;display: inline-block;}
    .content-view-count {padding:20px;}

    /* slider */
    .slider-hero .hero-message-container {left:0;}
    [class^="wrapwidg hero"],
    [class^="wrapwidg hero"] .flexslider,
    [class^="wrapwidg hero"] .contents_wrapper,
    [class^="wrapwidg hero"] .contents_wrapper > div,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message,
    [class^="wrapwidg hero"] .contents_wrapper > div .slider-hero .hero-message-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-image-container,
    [class^="wrapwidg hero"] .contents_wrapper > div .hero-video-container,
    .slides .slider-hero .hero-message-container {
        max-width: none;
    }
    [class*="wrapwidg hero"] .flex-direction-nav li a {background: none !important;}
    .flex-direction-nav a:before {text-shadow: none !important;color: #fff !important;}
    .heroNaturalFull .slider-hero .hero-message h2 {font-size: 40px !important;}
    .heroNaturalFull .slider-hero .hero-message h3 {font-size: 20px !important;}
    [class*="wrapwidg hero"] .flex-direction-nav li a {top: 50% !important;}

    /* banner */
    .homePage .customPage #main .wrapwidg.homepage-banner-widget {width: 100%;overflow: auto;overflow-y: hidden;}
    .homepage-banner {background: #016B75;width: 600px;display: flex;text-align: center;}
    .homepage-banner > div {display: inline;}
    .homepage-banner div a {color: #fff;padding:10px;text-transform: uppercase;font-weight: bold;display: inline-block;}

    /* calendar */
    .homeColumn0 .fullcalendar-widget .fc-basic-view .fc-body .fc-row {min-height: 4em;}
    .fullcalendar-widget .fc-unthemed .fc-today > div::before { top: calc((100% - 36px) / 2);}

    /* filters */
    #course-catalog-filters > div {width: 100%;margin: 0 0 10px 0;}

    /* smartwork */
    .howTo .social-buttons {position: relative;padding: 0;bottom: auto;}
    .howTo .dettagli_corso {padding: 20px 0;}
    .howTo .userWizardModal .modal-dialog {width: calc(100% - 30px) !important;}
    .modal:before {display: none;}
    .howTo button#user-wizard-open {position: relative;right: auto;top: auto;}
    .howTo .common-title.common-title-text h2:before {float: left;height:120px;font-size: 48px;}
    .howTo .foto_howTo {padding: 0;}

}