@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4kc1ds');
  src:  url('fonts/icomoon.eot?4kc1ds#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4kc1ds') format('truetype'),
    url('fonts/icomoon.woff?4kc1ds') format('woff'),
    url('fonts/icomoon.svg?4kc1ds#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doc_standard_part2:before {
  content: "\e928";
}
.icon-doc_standard_part1:before {
  content: "\e929";
}
.icon-elementari_part1:before {
  content: "\e90d";
}
.icon-elementari_part2:before {
  content: "\e90e";
}
.icon-elementari:before {
  content: "\e90f";
}
.icon-sb_part1:before {
  content: "\e910";
}
.icon-sb:before {
  content: "\e911";
}
.icon-vita_part1:before {
  content: "\e912";
}
.icon-vita_part2:before {
  content: "\e913";
}
.icon-sb_part2:before {
  content: "\e914";
}
.icon-vita:before {
  content: "\e915";
}
.icon-smartcare_part1:before {
  content: "\e916";
}
.icon-smartcare:before {
  content: "\e917";
}
.icon-smartcare_part2:before {
  content: "\e918";
}
.icon-previdenza:before {
  content: "\e919";
}
.icon-previdenza_part2:before {
  content: "\e91a";
}
.icon-previdenza_non:before {
  content: "\e91b";
}
.icon-previdenza_non_part1:before {
  content: "\e91c";
}
.icon-previdenza_part1:before {
  content: "\e921";
}
.icon-previdenza_non_part2:before {
  content: "\e91d";
}
.icon-motors_part1:before {
  content: "\e91e";
}
.icon-motors:before {
  content: "\e91f";
}
.icon-motors_part2:before {
  content: "\e920";
}
.icon-cpi_part1:before {
  content: "\e90a";
}
.icon-cpi_part2:before {
  content: "\e90b";
}
.icon-cpi:before {
  content: "\e90c";
}
.icon-pencil:before {
  content: "\e92a";
}
.icon-doc_standard:before {
  content: "\e927";
}
.icon-doc_property:before {
  content: "\e92b";
}
.icon-folder:before {
  content: "\e923";
}
.icon-chevron-left:before {
  content: "\e924";
}
.icon-circle:before {
  content: "\e925";
}
.icon-chevron-right:before {
  content: "\e926";
}
.icon-stats:before {
  content: "\e922";
}
.icon-applicativi:before {
  content: "\e902";
}
.icon-control_room:before {
  content: "\e903";
}
.icon-diario:before {
  content: "\e904";
}
.icon-formazione:before {
  content: "\e905";
}
.icon-forum:before {
  content: "\e906";
}
.icon-revisione:before {
  content: "\e907";
}
.icon-nuovo_contenuto:before {
  content: "\e908";
}
.icon-uat:before {
  content: "\e909";
}
.icon-chat:before {
  content: "\e901";
}
.icon-notification:before {
  content: "\e900";
}
