/* 
BitBucket URL
https://giovalife.bitbucket.io/cluster/home.html
https://giovalife.bitbucket.io/cluster/style.css
*/

/* useless generals */
body, html {margin: 0;padding: 0;font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";font-size: 14px;}
img {vertical-align: top;border: none;}
.content {overflow: hidden;}
body * {box-sizing: border-box;}

/* general fixes */
#s4-workspace {overflow-x: hidden;background: #215d95;}
#DeltaPlaceHolderMain {margin: 0;}
.homeLeft {float: left;width: calc(100% - 250px);margin: 0;overflow: hidden;}
.webPartRight.homeRight.sidebar-interne {background:none;}
.ms-webpart-zone {display: block;}
.ms-webpart-cell-vertical {display: block;}
.ms-webpart-chrome-vertical {display: block;}
#km-bodyContainer {background: none;}
#s4-bodyContainer {padding-bottom: 0;}
#km-bodyContainer {min-height: 0;}
.webPartRight.homeRight.sidebar-interne {padding: 0 20px 0 0;}
.columns.homeLeft {padding: 0 20px 0 0;}
#DeltaPlaceHolderMain > table {table-layout: fixed;width: 92% !important;}
#km-bodyContainer .generic-button {padding: 10px 20px;background: #eb690b !important;border: none;margin: 0 0 10px 0;}
#km-bodyContainer .generic-button:hover  {padding: 10px 20px;background: #ff8831 !important;border: none;}

/* general design */
.contenuto-principale table td {padding:20px;vertical-align: top;}
.contenuto-principale table.ms-rtetoolbarmenu td {padding:3px;vertical-align: middle;}
.contenuto-principale .km-formfieldvalue table td {padding:3px;vertical-align: middle;}
.contenuto-principale b, .contenuto-principale strong {font-weight: bold;}
.contenuto-principale h1, h2, h3, h4, h5 {color: #316c9f;}
.contenuto-principale table h3 {font-weight: bold;color: #eb690b;}

/* news */
#km-bodyContainer .customTitle {background:none;color: #316c9f;font-weight:bold;padding: 10px 0;border-bottom: 1px solid #ddd;line-height: 32px;margin: 0 0 10px 0;}
#this-carousel-id .carousel-inner .item div:hover {background: none} 
#this-carousel-id .carousel-control {top: auto;bottom: auto;left: auto;width: auto;margin: 0 20px;}
.carousel-control {position: relative;top: auto;bottom: auto;left: auto;width: auto;font-size: 20px;text-align: center;text-shadow:none;background:none;filter: alpha(opacity=50);opacity: .5;}
#this-carousel-id .nbData {color: #316c9f !important;font-weight: bold !important;}
#this-carousel-id .carousel-inner {position: relative;width: 100%!important;overflow: hidden;margin:0 !important;}
#this-carousel-id {margin:0 !important;}
#this-carousel-id .carousel-inner .item a {color: rgb(37, 94, 147) !important;font-size: 16px !important;line-height: 18px;}
#this-carousel-id .nbData {color: #316c9f !important;font-weight: bold !important;font-size: 12px !important;}
.carousel-control {text-shadow: none;}
#this-carousel-id .carousel-control {font-size: inherit;}
.carousel-control i.icon-chevron-left {font-size: 24px;height: 24px;width: 24px;background: #316c9f;border-radius: 50%;color: #fff;}
.carousel-control i.icon-chevron-right {font-size: 24px;height: 24px;width: 24px;background: #316c9f;border-radius: 50%;color: #fff;}
#km-bodyContainer .customTitle a {color: #316c9f;font-size: 11px;font-weight: normal;text-transform: uppercase;}
.carousel-inner .item {margin-top: 0;min-height: 280px;}

/* postit */
#km-postit {margin: 0;border:none;}
#km-postit-title {font-weight: bold;color: #215d95 !important;font-size: 18px;text-decoration: none;font-style: normal;padding:10px 0;margin:0 0 10px 0;border-bottom: 1px solid #ddd;}
#km-postit-title a {font-size: 11px;text-transform: uppercase;font-weight: normal;float: right;line-height: 32px;}
#km-postit .item {margin:0 0 10px 0;border-bottom:none;color: #999;}
#km-postit .item a {font-size: 13px;color: #999;text-transform: none;}
#km-postit .item:before {font-family: 'icomoon';content: "\e926";display: block;font-size:16px;float: left;color: #fff;height: 20px;line-height: 20px;width: 20px;border-radius: 50%;background: #eb690b;text-align: center;}
#km-postit .item > div {overflow: hidden;padding:0 0 0 10px;}
#km-postit-arrow {text-align: right;}
#km-postit-arrow a {margin: 0;font-size: 12px;}

/* header */
#km-bodyContainer .KMheader {height: 55px;background: #215d95;color: #fff;z-index: 10;position: relative;}
#km-bodyContainer .KMheader a {color: #fff;text-decoration: none;}
#km-bodyContainer .KMheader #DeltaSiteLogo img {float: left;height: 45px;margin: 5px 0 0 5px;}
#km-bodyContainer .KMheader .headerRight {float: right;}
#km-bodyContainer .KMheader .headerRight .nf_avatar {float: right;}
#km-bodyContainer .KMheader .headerRight .nf_avatar img {max-height: 55px;width: auto;}
#km-bodyContainer .KMheader .headerRight .nf_fullname {float: right;line-height: 55px;padding: 0 20px;}
#km-bodyContainer .KMheader .headerRight .nf_fullname > div {display: inline;}
#km-bodyContainer .KMheader .km_user {float: left;}
#km-bodyContainer .KMheader .nf_task {background: #eb690b;height: 55px;min-width: 55px;line-height: 55px;float: right;text-align: center;position: relative;font-size: 24px;}
#km-bodyContainer .KMheader .nf_task a {position: absolute;top:0;left:0;height: 55px;width: 55px;font-size: 10px;}

/* menu  */
#mainRow {z-index:10;position: relative;background:none;background: #fff;}
#km-bodyContainer .site-footer {z-index: 10;position: relative;}
#km-contentRow {background:none;display: flex;}
#km-leftMenu {width:auto;}
#km-leftMenu > div {height: 100%;}
#km-leftMenu > div > div {height: 100%;background: #316c9f;}
#km-contentBox {overflow: hidden;padding: 20px;min-height: 700px;width: calc(100% - 250px);margin:0 auto;}
#km-bodyContainer .cd-accordion-menu a { color: #ffffff;}
.sidebar-interne {width: 250px;float: left;background: #316c9f;color:#fff;z-index: 10;position: relative;}
.sidebar-interne a {color: #fff;text-decoration: none;}
.cd-accordion-menu {list-style: none;margin: 0;padding: 0;}
.cd-accordion-menu li {padding: 0;}
.cd-accordion-menu li a {text-transform: uppercase;font-size: 12px;}
.cd-accordion-menu li i {font-size: 24px;margin: 0 10px 0 0;display: inline-block;vertical-align: middle;color: #fff;}
.cd-accordion-menu .separator {padding: 0;margin: 20px 0;height: 2px;background: #fff;opacity: 0.2;}
.cd-accordion-menu .separator a {display: none;}
.cd-accordion-menu input {font-size: 13px;}
.cd-accordion-menu {margin: 0px ;  color: #ffffff;font-size: 20px;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.cd-accordion-menu ul {display: none;list-style: none;margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
.cd-accordion-menu input[type=checkbox] {position: absolute;opacity: 0;}
.cd-accordion-menu label {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
.cd-accordion-menu label {cursor: pointer;margin:0px 5px 5px 5px;border-radius: 5px;}
.cd-accordion-menu input[type=checkbox]:checked + label,#km-bodyContainer .cd-accordion-menu a.currentNode{background: #104682;}
.cd-accordion-menu input[type=checkbox]:checked + label + ul,
.cd-accordion-menu input[type=checkbox]:checked + label:nth-of-type(n) + ul {display: block;}
.cd-accordion-menu label, .cd-accordion-menu a {padding:20px;margin: 0;border-radius:0;text-transform: uppercase;font-size: 12px;display: block;}
.cd-accordion-menu ul label, .cd-accordion-menu ul a {background: #104682;padding:10px 10px;padding-left: 30px;}
.cd-accordion-menu ul ul label, .cd-accordion-menu ul ul a{background: rgb(17, 58, 97);padding-left: 40px;font-size: 10px;}
.cd-accordion-menu ul ul ul label, .cd-accordion-menu ul ul ul a{background: rgb(14, 52, 88);padding-left: 50px;}
.no-touch .cd-accordion-menu ul label:hover, .no-touch .cd-accordion-menu ul a:hover {background: rgb(43, 108, 168);}

/* macroaree */
.km-macroareas * {box-sizing: border-box;}
.km-macroareas ul {list-style: none;display: flex;flex-wrap: wrap;margin: 0;padding: 10px 0 0 10px;color: #215d95;}
.km-macroareas ul li {width: 25%;padding:0 10px 10px 0;text-align: center;}
.km-macroareas ul li a {padding: 30px 10px 20px;background: #f5f5f5;display: block;text-decoration: none;color: #215d95;border: 1px solid #c1d1e0;}
.km-macroareas ul li a span {display: block;padding: 10px 0;margin: 10px 0 0 0;font-weight: bold;}
.km-macroareas ul li a i {font-size: 64px;color: #eb690b;}
.km-macroareas ul li a i.grey {color: #999;font-size: 48px;}

/* footer */
#km-bodyContainer .site-footer {display: block;height: 55px;line-height: 55px;background: #215d95;clear: both;color: #fff;padding: 0 20px;text-align: right;font-size: 13px;}
#km-bodyContainer .site-footer p {display: inline;margin: 0;padding:0;opacity: 0.6;}
#km-bodyContainer .site-footer .km_footercontent {padding: 0;}

/* control_room */
.control_room {display: flex;flex-wrap: nowrap;padding: 10px;color: #999;}
.control_room .stats_box {text-align: center;width: calc(100% / 3);padding: 20px;border: 1px solid #c1d1e0;border-left:none;padding: 10px;}
.control_room .stats_box:first-child {border-left: 1px solid #c1d1e0;}
.control_room .stats_box i {font-size: 64px;}
.control_room .stats_box .title {padding: 10px 0;color: #215d95;font-weight: bold;font-size: 22px;position: relative;z-index: 1;}
.control_room .stats_box .title:before {content:'';display:block;height: 2px;background: #ddd;width: 100%;position: absolute;top:50%;margin: -1px auto 0;z-index: 0;}
.control_room .stats_box .title span {display: inline-block;padding: 0 10px;background: #fff;position: relative;}
.control_room .flex_4 {display: flex;flex-wrap: wrap;}
.control_room .flex_4 .flex_column {width: 25%;flex-basis: 25%;}
.control_room .flex_3 {display: flex;flex-wrap: wrap;border-top: 2px solid #ddd;}
.control_room .flex_3 .flex_column {width: calc(99.5% / 3);position: relative;}
.control_room .flex_column:after {content:'';display:block;position: absolute;right: -1px;top:0;height: 100%;width: 2px;background: #ddd;}
.control_room .flex_column:last-child:after {display: none;}
.control_room .flex_column span {display: block;}
.control_room .small_title {font-size: 10px;text-transform: uppercase;padding: 10px 5px 0;word-wrap: break-word;}
.control_room .data {color: #215d95;padding: 10px 0;}

#km-editContent, #km-viewProperties {float: right;font-size: 24px;margin: 0 0 0 10px;}
#km-bodyContainer .customTitle #km-editContent a, #km-bodyContainer .customTitle #km-viewProperties a {font-size: 24px;}
.km-adminview {background-color: #fff;margin-top: 10px;padding: 20px 0;text-transform: uppercase;font-size: 11px;}
.km-adminview h2 {padding: 10px 0;border-bottom: 1px solid #ddd;margin: 0 0 10px 0;}
.km-bold {font-weight: bold;color: #215d95;margin: 0 0 5px 0;}
.km-navigazione, .km-prodotto {margin: 0 0 10px 0;}
.km-metadati {margin: 0 0 10px 0;display: flex;}
.km-metadati > div {flex-grow:1;}

hr {border:none !important;height: 2px;background:#f5f5f5;margin:10px 0;}
.km-contentSezione {}
#km-bodyContainer .km-titoloSezione, .km-formfieldlabel {background:none;color:#666;padding:0;text-transform:uppercase;font-weight:normal;}
.km-formfieldvalue input{border:none;background:#eee;padding:10px;width: calc(100% - 250px);}
.km-formfieldvalue textarea{border:none;background:#eee;padding:10px;width: calc(100% - 250px);}
.km-formfieldvalue input[type="file"] {width: calc(100% - 500px);border: none;}
.km-formfieldvalue input[type="checkbox"] {width: auto;background: none;}
.km-formfieldvalue input[type="radio"] {width: auto;background: none;}
.km-formfieldvalue.km-toolbox {width: calc(100% - 250px);}
.km-formfieldvalue.km-toolbox textarea{border:none;background:#eee;padding:10px;width: 100%;}
.ms-dtinput input {width: auto;}