@font-face {
  font-family: 'icomoon_digital';
  src:  url('fonts/icomoon_digital.eot?3csi0l');
  src:  url('fonts/icomoon_digital.eot?3csi0l#iefix') format('embedded-opentype'),
    url('fonts/icomoon_digital.ttf?3csi0l') format('truetype'),
    url('fonts/icomoon_digital.woff?3csi0l') format('woff'),
    url('fonts/icomoon_digital.svg?3csi0l#icomoon_digital') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icomoon_digital-"], [class*=" icomoon_digital-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon_digital' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon_digital-smartwork:before {
  content: "\e906";
}
.icomoon_digital-support:before {
  content: "\e905";
}
.icomoon_digital-suggeriti:before {
  content: "\e904";
}
.icomoon_digital-news:before {
  content: "\e900";
}
.icomoon_digital-percorso:before {
  content: "\e901";
}
.icomoon_digital-logo:before {
  content: "\e902";
}
.icomoon_digital-catalogo:before {
  content: "\e903";
}
