@font-face {
  font-family: 'OpenSans-Italic-webfont';
  src: url('OpenSans-Italic-webfont.eot');
  src: url('OpenSans-Italic-webfont.woff2') format('woff2'),
       url('OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Italic';
  src: url('OpenSans-Italic.woff') format('woff'),
       url('OpenSans-Italic.ttf') format('truetype'),
       url('OpenSans-Italic.svg#OpenSans-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Regular-webfont';
  src: url('OpenSans-Regular-webfont.eot');
  src: url('OpenSans-Regular-webfont.woff2') format('woff2'),
       url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('OpenSans.woff') format('woff'),
       url('OpenSans.ttf') format('truetype'),
       url('OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium-Bold-webfont';
  src: url('Titillium-Bold-webfont.eot');
  src: url('Titillium-Bold-webfont.woff2') format('woff2'),
       url('Titillium-Bold-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium-Bold';
  src: url('Titillium-Bold.woff') format('woff'),
       url('Titillium-Bold.ttf') format('truetype'),
       url('Titillium-Bold.svg#Titillium-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium-RegularItalic-webfont';
  src: url('Titillium-RegularItalic-webfont.eot');
  src: url('Titillium-RegularItalic-webfont.woff2') format('woff2'),
       url('Titillium-RegularItalic-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium-RegularItalic';
  src: url('Titillium-RegularItalic.woff') format('woff'),
       url('Titillium-RegularItalic.ttf') format('truetype'),
       url('Titillium-RegularItalic.svg#Titillium-RegularItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold-webfont';
  src: url('OpenSans-Bold-webfont.eot');
  src: url('OpenSans-Bold-webfont.woff2') format('woff2'),
       url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url('OpenSans-Bold.woff') format('woff'),
       url('OpenSans-Bold.ttf') format('truetype'),
       url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium-Regular-webfont';
  src: url('Titillium-Regular-webfont.eot');
  src: url('Titillium-Regular-webfont.woff2') format('woff2'),
       url('Titillium-Regular-webfont.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium-Regular';
  src: url('Titillium-Regular.woff') format('woff'),
       url('Titillium-Regular.ttf') format('truetype'),
       url('Titillium-Regular.svg#Titillium-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

