body {background: url(https://source.unsplash.com/user/giovalife) no-repeat center top fixed;background-size: cover;}
.container {padding: 100px 0;}
.fondaco_content.card {box-shadow: 0 5px 10px rgba(0,0,0,0.2);border:none;padding: 40px;margin:0 0 20px 0;}
.fondaco_content.card .card-body {display: flex;padding:0;font-size: 12px;}
.fondaco_content.card .part_text {width: 70%;padding:0 0 0 48px;position: relative;}
.fondaco_content.card .part_files {width: 30%;}
.fondaco_content.card .part_text h2 {position: absolute;left: 0;top: 0;font-size: 48px;color: #00aeef;line-height: 36px;}
.fondaco_content.card .part_text h4, .fondaco_content.card .part_files h4 {color: #ccc;font-size: 12px;font-weight: normal;}
.fondaco_content.card .part_text .title {color: #00aeef;font-weight: bold;font-size: 16px;}
.fondaco_content.card .part_text .title i {float:right;font-size: 32px;margin:6px 0 0 0;}
.fondaco_content.card .part_text .content, .fondaco_content.card .part_files .content {padding:20px 0 0 0;}
.fondaco_content.card .part_text .content ol {list-style: none;}
.fondaco_content.card .part_text .content ol li {counter-increment: li;margin:0 0 20px 0;position: relative;}
.fondaco_content.card .part_text .content ol li::before {content: counter(li); color: #00aeef;display: inline-block; width: 20px;margin-left: -20px;font-weight: bold;font-size:14px;position: absolute;left:-10px;top:0;}
.fondaco_content.card .part_files {text-align: center;}
.fondaco_content.card .part_files a {color: #666;display: block;padding:10px;}
.fondaco_content.card .part_files a i {font-size: 48px;display: block;margin: 0 0 10px 0;}
i.red {color:#ef6464;}
i.green {color: green;}
i.yellow {color: yellow;}
.collapser {  -webkit-transition: all 0.3s ease-in-out;  -moz-transition: all 0.3s ease-in-out;  -o-transition: all 0.3s ease-in-out;  transition: all 0.3s ease-in-out;}
.collapser {height: 48px;line-height: 48px;font-size: 48px;cursor: pointer;opacity: 0.4;}
.collapser:hover {opacity: 1;}
.collapser.clicked {transform: rotate(180deg);}