/* @import url(https://giovalife.bitbucket.io/fondaco/css/skin.css); */


/* Body */
body[class*="cda"] {background: #404952;}

/* Generic Widget */
body[class*="cda"] .wrapwidg { border:none;  padding: 0px; margin:0px; background:none; }
.dropdown-menu-right a {text-align: left;}

/* colors */
.red {color: #ef6464 !important;}
.green {color: #4fc54f !important;}
.blue {color: #3988b1 !important;}

/* CDA Header */
body[class*="cda"] .esquire_row .esquire {height: 360px;}
body[class*="cda"] .cover_action {top: 0;bottom: auto;}
body[class*="cda"] .wrapwidg.plugin_groupDetailsWidget .widget_padding {padding-top:0px;}
body[class*="cda"] .esquire_row .esquire .esquire-message-container {width: 100vw;padding:0 calc(((100vw / 12) * 1) + 15px);text-align: left;margin:0;}
body[class*="cda"] .esquire_row .esquire-message h2 {font-size:32px;text-transform:uppercase;font-family: Roboto, arial, sans-serif;}
body[class*="cda"] .esquire.dark {background: #404952;}
.esquire-image-container {left: 0;}
.esquire.dark .esquire-image-container img {filter: alpha(opacity=1);opacity: 1;}

/* Content list*/
body[class*="cda"] .wrapwidg.nestedPage {margin-top: -120px; z-index:20 ; position: relative;}
body[class*="cda"] .contents_wrapper {display: flex;flex-wrap: wrap;}
body[class*="cda"] .contents_wrapper > div {width:50%;display:inline-block;padding:0 40px 40px 0;}
body[class*="cda"] .vwall a {display: none;}
.cda-title {font-size:22px;text-transform:uppercase;color:#fff;}
.cda-event {background:#fff; border-radius: 7px; padding: 16% 10% 16% 10%;}
.cda-event-date {text-align:center;display: flex;justify-content: center;color: #04adef;}
.cda-event-day {font-size: 40px; font-weight: 600;}
.cda-event-ym {display: flex;flex-direction: column;font-weight: 450; font-size: 15px;justify-content: center;padding:0 0 0 10px;}
body[class*="cda"] .media-heading {color: #147cbf; font-weight: 600; padding-top: 50px;}
body[class*="cda"] .media-heading a {color: #147cbf;}
body[class*="cda"] .summary {font-size:18px;}
body[class*="cda"] .media-footer i { font-size: 30px; color: #b3b3b3;}
body[class*="cda"] .media-footer {display: flex; justify-content: center;padding-top:50px;}
body[class*="cda"] .media-footer > div > span { float: left; padding-right: 12px; padding-left: 12px;}


/* sidebar */
.cda-upload {font-size:22px;text-transform:uppercase;color:#fff;position: relative;padding:0 32px 0 0;}
.cda-upload a i {font-size: 20px; position: absolute; top: -11px; right: 0; width: 50px; height: 50px; text-align: center; background: #ffc000; border-radius: 32px;}
body[class*="cda"] .fa-plus:before {content: "\f067"; color: #FFF; line-height: 50px; border-radius: 50px;}
.cda-upload .title {margin-right: 13px;}
#cda-accordion {padding:0;}
.panel-default>.panel-heading {cursor: pointer; background:#04adef; border:none; border-radius: 7px; position: relative; } 
.panel-default>.panel-heading[aria-expanded="false"] {background:#04adef;}
.panel-default>.panel-heading[aria-expanded="true"] {background:#04adef;}
.panel-default>.panel-heading[aria-expanded="true"] .cda-arrow:before {transform: rotate(180deg);}
.panel {border: none; background: none; box-shadow: none;}
.list-group li {background: none;}
.panel-title { color: #fff; padding: 7px 5px; text-align: left; }
.panel-link {cursor: pointer; background:#147cbf; border:none; border-radius: 7px; position: relative; padding: 10px 15px; margin-top: 15px; margin-bottom: 15px;} 
.panel-link .cda-arrow:before {transform: rotate(270deg);}
.list-group-item {border: none; padding-top: 15px; padding-bottom: 0px;}
.list-group-item a {color: #666; font-weight: 400; font-size: 16px;}
#cda-accordion .list-group-item a {color: #fff;}
.list-group-item:before {display: inline-block; width: 10px; height: 10px; background: #04adef; content:''; border-radius: 20px;margin-right: 10px;}
.cda-arrow:before {content: '\f078'; font: normal normal normal 14px/1 FontAwesome; display: inline-block; float: right; color: #fff; width: 50px;height: 50px; text-align: center; line-height: 50px; position: absolute; top: 0%; right: 0%;}
body[class*="cda"] .media-heading {text-align: left !important;}
.cda-event .description p { font-size: 16px; height: 110px; text-align: left; overflow: hidden; position: relative;}
.cda-event .description p:after {background: linear-gradient(transparent, #fff); content:''; width: 100%; height: 30px; display: block; position: absolute; bottom: 0;}

/* event page */
body.cdaEventDetail:before {background: rgba(51, 51, 51, 0.6) !important; width: 100%; height:100%; content: ''; display: block; position: fixed; top: 0%; left: 0%;}
body.cdaEventDetail { background: url(../graphic/bg_02.jpg) no-repeat center top fixed !important; background-size: cover !important;}
.cda-content {clear: both;}
.cda-content .col-md-3 {margin:180px 0 0 0;}

/*Event page Header*/
.cdaEventDetail .wrapwidg.plugin_contentDetailWidget  {background: none; border: none} 
.cdaEventDetail .cda-back-to-list {color: #fff; width: 90px; display: block; float: left; font-size: 14px; margin-left:10px;margin-left:calc((100vw / 12) + 15px);padding-left:20px;padding-top: 20px;}
.cdaEventDetail .cda-back-to-list a {color: #fff;}
.cdaEventDetail .cda-back-to-list a:before {content: '\f060'; font: normal normal normal 14px/1 FontAwesome; display: block; float: left; margin-right: 10px;float: left;margin-left:-20px;}
.cdaEventDetail .cda-content-actions {float: right; display: inline-block;}
.cdaEventDetail .cda-content-actions a {font-size: 25px; margin-left: 10px; margin-right: 10px; color:#fff;}
.cdaEventDetail .plugin_contentDetailWidget {margin-top: 20px; margin-bottom: 40px;}
.cdaEventDetail .col-md-offset-1 {margin-top: 50px;}

/*Content List*/

.panel-body, .card, .card-body, .collapser i { 
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.cdaEventDetail .card {height: auto;}
.cdaEventDetail .cda-event-date {color: #fff;flex-direction: column;}
.cdaEventDetail .cda-event-day {font-size: 50px; letter-spacing: 2px;}
.cdaEventDetail .content-title {padding: 40px 0 0 0;font-family: Roboto, arial, sans-serif;}
.cdaEventDetail .content-title a {color: #fff;}
.cdaEventDetail .content-description {color: #fff; font-weight: 300; margin-bottom: 25px; font-size: 14px;}
.cdaEventDetail .panel-body {border-radius: 10px;}
.cdaEventDetail .title i {padding-right: 15px;}
.cdaEventDetail .part_text {border-right: 1px solid #b3b3b3; }
.cdaEventDetail .content li {font-weight: 400; padding-right: 15px; font-size: 14px;}
.cdaEventDetail .part_files h4, .cdaEventDetail .part_files a {text-align: center;}
.cdaEventDetail .panel-body.card.card-collapsed {width: 100%; }
.cdaEventDetail .panel-body.card.card-collapsed .card-body {height:90px; overflow: hidden;}
.cdaEventDetail .card-collapsed {padding:25px 40px !important;}
.cdaEventDetail .card .card-collapsed .content {opacity: 0;}
.cdaEventDetail .card .card-collapsed .part_text {border-right: none;}
.cdaEventDetail .panel-body {width:100%;}
.fondaco_content.card .part_files a { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; min-width: 116px;}
.cdaEventDetail .part_files .content {overflow-y: scroll; height: 250px; overflow-x: hidden;}
.cdaEventDetail .card .card-collapsed .collapser i {transform: rotate(180deg);}
.cdaEventDetail .template-cda-01 .fondaco_content.card .part_text .title i {margin: 15px 15px 0 0;}
.cdaEventDetail .template-cda-01 .collapser {margin:15px 0 0 0;}


/*EDIT EVENT PAGE*/
.upload .wrapwidg.plugin_contentUpload .modal-body {padding: 25px;}
.part_files h4 a {text-align: center;}
.part_text {border-right: 1px solid #b3b3b3; }
.content > li {font-weight: 400; padding-right: 15px; font-size: 14px;}
.title i {padding-right: 15px;}
.fa-file-o:before {content: "\f093" !important;}
.card-img-add .buttons-wrapper {background: #00aeef; position: relative; top: -20px; right: -8px; border-radius: 0px; padding-bottom: 5px;}
.cards-editing [contenteditable] { overflow: hidden;}
.card-body {max-height: 100%; overflow: auto;}
.fondaco_content.card .content h4 {text-align: center;}
.upload .template-cda-01 .fondaco_content.card {padding-top: 65px;}
.form-group.tt-upload-title {background: #fff;}
.template-cda-01 .fondaco_content.card .part_files .file_box > i {display: block;width: 100%;text-align: center;font-size: 24px;cursor: pointer;}


/* fix cards */
.template-cda-01 .fondaco_content.card {float: none;}


/*Fondo page*/
.container.col-md-12 {padding: 0;margin:0 auto 20px;width:100%;}
[class*="Fund"] .wrapwidg {background: transparent; border: none;padding: 0;margin: 0;}
[class*="Fund"] .esquire-message h2 {color: #147cbf;opacity: 1;font-size: 32px;text-transform: uppercase;font-family: Roboto, arial, sans-serif;}
[class*="Fund"] .esquire.dark {background: transparent;}
[class*="Fund"] .esquire-message {height: 120px;}
[class*="Fund"] .esquire {height: 150px;min-height: 0;}
[class*="Fund"] .esquire.dark {background:transparent;height: 150px;}
[class*="Fund"] .esquire-message-container {display: table;height: 100%;min-height: 0;z-index: 10;}
[class*="Fund"] .form-control {width: auto;display: inline-block;vertical-align: middle;}
[class*="Fund"] select {}
[class*="Fund"] .form-group.pull-right {margin: 0; padding: 0;}
[class*="Fund"] .content-list-item {border-radius:4px;padding: 16px;margin:0 0 20px 0;background: #fff;box-shadow: 0 2px 8px rgba(0,0,0,0.15);}
[class*="Fund"] .esquire_row .esquire .esquire-message-container {min-height:0;}
[class*="Fund"] .tab_fund_content .form-control {width: 100%;padding:25px;margin: 0;}
[class*="Fund"] .tab_fund_content .twitter-typeahead .form-control {width: 100%;padding:20px;margin:0 0 0 0;}
[class*="Fund"] .tab_fund_content select {height:50px;margin:0 0 10px 0;}
[class*="Fund"] .wrapwidg.plugin_contentUpload .modal-body {padding:0 0 40px 0;}
.esquire-image-container:after {content: '';display: block;height: 100%;width: 100%;position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.6);}

.tab_fund_content { position: relative;padding: 0;}
.tab_fund {overflow: hidden; border: none; background: #04adef;width:100%; position: relative;}
.tab_fund button  {font-size: 16px;color: #fff;}
.tab_fund button:hover {color: #666;}
.filters_container {padding: 10px 0;overflow: hidden;margin: 0 0 20px 0;background: #f1f1f1;border-radius: 4px;}
.sort-control input {width: 0;padding: 0;opacity: 0;border: none;overflow: hidden;}
.sort-control input[type="checkbox"] + label {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out; 
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
.sort-control input[type="checkbox"] + label {text-align: left;text-indent: -9999px;background: url(../graphic/ico_arrow.svg) no-repeat center center;background-size:32px;width: 32px;height:32px;vertical-align: middle;cursor:pointer;}
.sort-control input[type="checkbox"]:checked + label {transform: rotate(180deg);}

/* articles */
[class*="articles"] .wrapwidg {background: transparent; border: none;padding: 0;margin: 0;}
[class*="articles"] .esquire-message h2 {color: #147cbf;opacity: 1;font-size: 32px;text-transform: uppercase;font-family: Roboto, arial, sans-serif;}
[class*="articles"] .esquire.dark {background: transparent;}
[class*="articles"] .esquire-message {height: 120px;}
[class*="articles"] .esquire {height: 150px;min-height: 0;}
[class*="articles"] .esquire.dark {background:transparent;height: 150px;}
[class*="articles"] .esquire-message-container {display: table;height: 100%;min-height: 0;z-index: 10;}
[class*="articles"] .form-control {width: auto;display: inline-block;vertical-align: middle;}
[class*="articles"] select {}
[class*="articles"] .form-group.pull-right {margin: 0; padding: 0;}
[class*="articles"] .content-list-item {border-radius:4px;padding: 16px;margin:0 0 20px 0;background: #fff;box-shadow: 0 2px 8px rgba(0,0,0,0.15);}
[class*="articles"] .esquire_row .esquire .esquire-message-container {min-height:0;}
[class*="articles"] .tab_fund_content .form-control {width: 100%;padding:25px;margin:0 0 10px 0;}
[class*="articles"] .tab_fund_content select {height:50px;margin:0 0 10px 0;}
[class*="articles"] .wrapwidg.plugin_contentUpload .modal-body {padding:0 0 40px 0;}
.archive-upload {padding:0 0 10px 0;}
.archive-upload a {font-size:22px;text-transform:uppercase;color:#fff;position: relative;padding:0 32px 0 0;width: 50px; height: 50px;line-height:50px;display: inline-block;}
.archive-upload a i {font-size: 20px; position: absolute; top: 0; right: 0; width: 50px; height: 50px; text-align: center; background: #ffc000; border-radius: 32px;line-height: 50px;}
.archive-upload a:hover i {color: #fff;}
.archive-upload .title {font-size: 18px;text-transform: uppercase;vertical-align: middle;display: inline-block;}

.content-list-item .content-edit a,
.content-list-item .content-download a {
    color: #ccc;font-size: 20px;margin:0 10px;
}
.content-list-item .content-actions {float: right;}

/* files */
body .wrapwidg.plugin_contentUpload {margin: 0;}
.tab_fund_content {overflow: hidden;}
.tab_fund_content .form-group.upload_box {padding:40px;margin:0;}
.help-block {margin: 0;}
[id*="file_container_meta"] {overflow: hidden;padding: 20px;background: #fefefe;}
#detail .content_tab, [data-tt-file-container] [data-tt-files-list] .content_file_inner {padding-bottom:10px;}
.template-cda-01 .fondaco_content.card .part_files a i {text-align: center;}

/* detail */
.wrapwidg.plugin_contentDetailWidget {padding:0;margin:0;border:none;}
.esquire_row .esquire {height: auto;display: flex;}
.esquire-color-container {opacity: 1;}
.esquire-color-container:before {content: '';display: block;height: 100%;width: 100%;position: absolute;left: 0;top: 0;background: rgba(0,0,0,0.5);}

/*HomeFunds page*/
.HomeFunds .wrapwidg {background: transparent; border: none;} 
.HomeFunds .esquire .dark {display: none;}
.tab_fund_content {margin-top: 20px;}
.file-box {background: none;}

/* reports */
.compactModeration {padding: 24px;margin: 0;border: none;}

/* group */
.buttons_wrapper.groupActions {border: none;text-align: right;padding:0;}
.btn.action-group-edit {color: #ddd;padding: 0;height: 24px;width: 24px;position: absolute;top: 20px;right: 16px;}

/* report */
#report-form .btn.btn-default {background: #00aeef;border-color: #00aeef;color: #fff;}
.wrapwidg.plugin_tt_tableau_views.compactModeration.closed .menu-toggler {width:48px;height: 48px;line-height: 48px;padding:0;text-align: center;cursor: pointer;}
.wrapwidg.plugin_tt_tableau_views.compactModeration.closed .menu-toggler .fa {width:48px;height: 48px;line-height: 48px;padding:0;}

/* homefund */
.wrapwidg.plugin_contentDetailWidget .row.esquire_row {margin-left: 0;margin-right: 0;}
body[class*="und"] .esquire-image-container {min-height: 0;overflow: hidden;text-align: center;width: 35%;position: relative;height: 100%;}
body[class*="und"] .esquire .esquire-image-container img {max-width: 100%;height: 100%;object-fit: cover;}
body[class*="und"] .esquire_row .esquire .esquire-message-container {}
body[class*="und"] .esquire-image-container:after {display: none;}
body[class*="und"] .esquire-message {text-align: left;}
body[class*="und"] .row.content-details-editorial-data .text-center {text-align: left;}
[data-tt-file-container] [data-tt-files-list] .file_sort_handle {left:0;right: auto;font-size: 24px;cursor: move;}
.content_file_inner .content-actions {text-align: right;position: absolute;right: 30px;top: 10px;}
.content_file_inner .content-actions > div {display: inline-block;margin: 0 5px;}
.content_file_inner .content-actions > div i {font-size: 24px;}

.alert-success .glyphicon, [data-tt-widget-widget="contentModeration"] [data-tt-widget-trigger="approveContent"],
[data-tt-widget-widget="contentModeration"] [data-tt-widget-trigger="approveContent"] .fa,
[data-tt-widget-widget="commentList"] [data-tt-widget-trigger="acceptComment"],
[data-tt-widget-widget="commentList"] [data-tt-widget-trigger="acceptComment"] .fa {
    color: #4fc54f;
}

.col-md-1.editing {position: absolute;right: 0;margin: 0;padding: 0;text-align: right;z-index:10;}

/* legend */
.legend {padding: 10px;margin: 0 0 10px;color: #fff;text-transform: uppercase;font-weight: normal;font-size: 10px;text-align: right;}
.legend i {font-size: 20px;margin: 0 10px 0 0;vertical-align: middle;}
.legend span {display: inline-block;margin: 0 20px 0 0;}

/* Responsive */
@media (max-width:960px) {
    [class*="Fund"] .wrapwidg.plugin_contentUpload .modal-body {padding: 20px;}
}

/* Responsive */
@media (max-width: 960px) {
    .cdaEventDetail .cda-back-to-list {margin: 0 0 0 20px;}
    .cdaEventDetail .cda-content {flex-direction: column-reverse;display: flex;}
    .cdaEventDetail .cda-content .col-md-3 {width: 100vw;margin: 0;padding:0;}
    .cdaEventDetail #cda-accordion {display: flex;}
    .cdaEventDetail #cda-accordion .panel {width: calc(100% / 3);border-radius: 0;}
    .cdaEventDetail #cda-accordion .panel-default>.panel-heading {border-radius: 0; max-height: 47.5px; background:#04adef;}
    .cdaEventDetail .panel-title {font-size: 13px;}
    .cdaEventDetail .cda-event-date { display: block; width: 100%;}
    .cdaEventDetail .cda-event-day:first-child {display: block; width: 100%; }
    .cdaEventDetail .content-title {display: block; width: 100%; text-align: center; margin-top: -20px; }
    .content_details > .col-md-7 > .row {position: absolute; top: -79px; width: 100%;}
    .cdaEventDetail  #cda-accordion {position: absolute; left: 0%; right: 0%; top: 143px;}
    .cdaEventDetail .content-description {margin-top:164px;}
    .cdaEventDetail #cda-accordion .panel-link  {width: calc((100vw / 3) *1); margin: 0; max-height: 47.5px; border-radius: 0;}
}

@media (min-width: 960px) {
    .cards-viewing {display: block;}
    .cards-viewing > #cards-page {display: block;}
}
/*Responsive*/
@media (max-width: 960px) {
    body[class*="cda"] .nestedPage > .widget_padding { display: flex; flex-direction: column-reverse !important;}
    .cda-upload {font-size: 18px; text-align: right; width: 300px; margin-top: -40px; margin-left: 431px;}
    .cda-upload a i {font-size: 20px; position: absolute; top: -11px; right: 0; width: 50px; height: 50px; text-align: center; background: #ffc000; border-radius: 32px;}
    body[class*="cda"] .fa-plus:before {content: "\f067"; color: #FFF; line-height: 50px; border-radius: 50px;}
    .cda-upload .title {margin-right: 13px;}
    body[class*="cda"] .esquire_row .esquire-message h2 {margin-left: -30px; margin-top: -50px;}
    body[class*="cda"] .cover img {min-height: 361px;}
    body[class*="cda"] #cda-accordion {display: flex; width: 100%; margin-top: 0;}
    body[class*="cda"] #cda-accordion > div   {flex-basis: calc((100vw / 3) *1); margin: 0; border-radius: 0;}
    body[class*="cda"] #cda-accordion .panel-default > .panel-heading[aria-expanded="false"] {flex-basis: calc((100vw / 3) *1); border-radius:0;  background:#04adef;}
    #cda-accordion .panel-default>.panel-heading {border-radius:0; background:#04adef;}
    #cda-accordion .list-group li {background: #666;}
    #cda-accordion .list-group li:last-child {padding-bottom: 15px;}
    body[class*="cda"] .column_generico { width: 100%; }
    body[class*="cda"] .contents_wrapper {column-count: 2; margin-left: 40px;}
    .cda-title { margin-left: 40px;}
    .cda-event {padding: 30px;}
    body[class*="cda"] .col-sm-10 {width: 100%;}
    body[class*="cda"] .media-footer {padding-top: 25px;}
    body[class*="cda"] .esquire_row .esquire {min-height: 300px;}
    body[class*="cda"] .wrapwidg .widget_padding {padding: 25px 0 0; width: 100%; text-align:center;}
    #lastContents116 {margin-top:26px;}
    .wrapwidg .widget_padding {padding: 60px 0 0;}
    }

@media (max-width:540px) {

}