body {background: #f5f5f5;font-family: 'Segoe UI',SegoeUI,Arial,Helvetica,Verdana,Sans-serif !important;}
.ruler {display: inline-block;width: 320px;padding: 10px;vertical-align: top;}
.port_box {border: 1px solid #ddd;color: #777;font-size: 13px;background: #fff;}
.port_box.part_1 {border-bottom: none;}
.port_box.part_2 {border-bottom: none;border-top: none;}
.port_box.part_3 {border-top: none;}
.port_box.new {border: 1px solid #e67123;}
.port_box .title {padding: 10px;border-bottom: 1px solid #ddd;position: relative;}
.port_box.new .title {padding-left: 40px;background: url(../graphic/ribbon_new.png) no-repeat left top;}
.port_box .title h2 {margin: 0;padding: 0;font-size: 15px;text-transform: uppercase;font-weight: normal;}
.port_box .title p {margin: 5px 0 0 0;}
.port_box .content {padding: 0px 10px 10px;}
.port_box .content .voce {font-weight: bold;overflow: hidden;line-height: 24px;padding: 10px 32px 10px 0;border-bottom: 1px solid #eee;position: relative;}
.port_box .content .voce:last-child {padding-bottom: 0;border: none;padding-bottom: 0;}
.port_box.part_1 .content .voce:last-child {padding-bottom: 0;border-bottom: 1px solid #eee;padding-bottom: 10px;}
.port_box.part_2 .content .voce:last-child {padding-bottom: 0;border-bottom: 1px solid #eee;padding-bottom: 10px;}
.port_box .number {border-radius: 12px;height: 24px;width: 24px;background: #e67123;color: #fff;text-align: center;line-height: 24px;display: inline-block;font-size: 12px;position: absolute;top:10px;right: 0;}
.port_box .number.null {background: none;border-radius: 0;color: #aaa;}
.port_box .number.birthday {right: 170px;}
.port_box .data_list .item {line-height: 18px;font-weight: bold;position: relative;}
.port_box .data_list .item span {font-weight: normal;float: right;}
.port_box .data_list .top {padding: 10px 0;}
.port_box .data_list {padding: 0 0 10px 0;border-bottom:1px solid #eee;}
.port_box .voce .gap {height: 17px;width: 17px;display: inline-block;margin: 0 4px 0 0;background: url(../graphic/ico_gap.gif) no-repeat center center;}
.port_box .voce.birthday {font-weight: normal;line-height: 20px;}
.port_box .voce.birthday b {color: #1e96d7;}
.port_box .voce.birthday.fb {background: url(../graphic/icon_fb.png) no-repeat right center;background-size: auto 50px;}
.port_box .pager {border-top: 1px solid #ddd;padding: 10px;}
.port_box .pager.link {text-align: right;}
.port_box .pager.link a {color: #1e96d7;}
.port_box .pager.dots {text-align: center;}
.port_box .pager.dots a {height: 12px;width: 12px;display: inline-block;text-indent: -9999px;background: #666;border-radius: 50%;vertical-align: top;}
.port_box .pager.dots a.active {background: #c8057d;}
.port_box .tabs {background: #1e96d7;border-bottom: 1px solid #1e96d7;overflow: hidden;}
.port_box .tabs a {box-sizing: border-box;border-right: 1px solid #fff;color:#666;text-decoration: none;width: 33.3%;line-height: 32px;background: #f5f5f5;text-align: center;display: inline-block;float: left;}
.port_box .tabs a.active, .port_box .tabs a:hover {background: #1e96d7;color: #fff;}
.port_box .block {margin: 0;padding: 10px 0;border-bottom: 1px dotted #333;}
.port_box .block:last-child {border: none;}
