body button.btn-customer-category, body button.btn-category {background: #8f9699;color: #fff;}
body button.btn-category.selected, body button.btn-category:hover {background: #d80d86;}
#cancelButton, #searchButton {background: #fff;border:1px solid #ddd;border-radius: 20px;color: #777;}
body div.bm_table .cell.fill input {width: 100%;height: 34px;background: #dfe1e2;border: none;}
body .bm_search_fields .icon_search {vertical-align: top;margin: 5px 5px 0 -32px;}
body .bm_search_fields .icon_search {vertical-align: top;margin: 5px 5px 0 -32px;}
body .bm_search_cat_filters {background: #dfe1e2;color: #666;}
body .icon_filter_switch {color: #666;}
body .categs .cat_cont a, body .categs .cat_cont label.categ {color: #666;background: none;}
body .categs .cat_cont a:hover, body .categs .cat_cont label.categ:hover {color: #d80d86;background: none;}
body div.resultset_rightbox {border: none;}
body h2.bm_box_title.scuro {background: none;font-size: 24px;}
body #ricerca_avanzata_switch {background: none;color: #666;text-decoration: underline;}
body .categorie a, body .categorie .more {color: #666;border: none;background: none;}
body .categorie a:hover, body .categorie .more:hover {color: #d80d86;border: none;background: none;}
