/*
.portlet-body #customers_contact_list_bg {top: 70px;}
.portlet-body #customers_contact_list {right: -170px;top: 70px;width:540px;height: 520px;color: #666;margin:0;padding: 20px 0;border: 1px solid #333;box-shadow: 0 2px 4px rgba(0,0,0,0.4)}
.portlet-body #customers_contact_list #alphanav-slider {height:450px !important;top:95px !important;color: #aaa;}
.portlet-body #customers_contact_list::before {border-left: 1px solid #333;border-top: 1px solid #333;content: '';display: block;height: 20px;width: 20px;position: absolute;top: -11px;left: 50%;margin: 0 0 0 -15px;background: #fff;transform: rotate(45deg);}
.portlet-body .type_filter {padding: 20px;border-bottom: 1px solid #444;}
.portlet-body .checkbox_container {display: inline-block;margin: 0 6px 0 0;}
.portlet-body .type_list div.checker {vertical-align:top;}
.portlet-body #customers_contact_list .list {padding: 20px;height: 350px;overflow-y:hidden;}
.portlet-body #tag_filter_toggler {position: absolute;padding: 5px 20px 5px 10px;right: 0px;top: 60px;height: 20px;line-height: 20px;background: url(../graphic/icon_toggler.png) no-repeat center right;}
.portlet-body #customers_contact_list ul#contact_list_content li.letter.selected {color: #4a97cd;font-weight:bold;font-size:inherit;}
.portlet-body #alphanav-slider li {height:15px !important;}
.portlet-body .customer_birthdate {color:#aaa;}
.portlet-body #customers_contact_list ul#contact_list_content {padding: 0px;width: 440px;}
.portlet-body .contact_list {height: 100%;}
.portlet-body #customers_contact_list ul#contact_list_content {height: 100%;height: 100%;width: 100%;overflow-x: hidden;}
.portlet-body #alphanav-slider li {height: 11px !important;}
.portlet-body #customers_contact_list .tag_filter .tag_list {height: 170px;overflow-y: auto;padding: 5px 20px 5px 20px;background: none;}
.portlet-body #customers_contact_list .selected_tag_list {background: #f5f5f5;padding: 10px 20px;line-height: 20px;min-height: 30px;}
.portlet-body .type_filter {padding: 0 20px 20px;height: 50px;}
.portlet-body #customers_contact_list .list {height: 465px;padding: 0 40px 0px 10px;}
.portlet-body .type_list input[type="checkbox"] {vertical-align: middle;}
.portlet-body .tag_filter input[type="checkbox"] {opacity: 0;margin: 0;width: 0;border: none;overflow: hidden;}
.portlet-body .tag_filter label {margin:0 !important;}
.portlet-body #customers_contact_list ul#contact_list_content li.customer_item {height: auto;cursor: pointer;padding: 10px 0;overflow: hidden;border-bottom: 1px dotted lightgray;}
.portlet-body #customers_contact_list .tag_filter,
.portlet-body #customers_contact_list .list {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
.portlet-body #customers_contact_list #alphanav-slider {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
.portlet-body #customers_contact_list .tag_filter {display: block !important;height: 0;overflow: hidden;}
.portlet-body #customers_contact_list .tag_filter.open {display: block;height: 230px;border-bottom: 1px solid #000;}
.portlet-body #customers_contact_list ul#contact_list_content li.customer_item {height: auto !important;overflow: hidden;padding:10px 0 !important;}
.portlet-body #customers_contact_list .list.open {height: 234px !important;}
.portlet-body #customers_contact_list .list.open .portlet-body #customers_contact_list #alphanav-slider {top:242 !important;}
.portlet-body #customers_contact_list .list.open #alphanav-slider {min-height:0; height: 224px !important;top: 326px !important;}
.portlet-body .type_filter input[type="checkbox"] {width: auto;}
.portlet-body .tag_list span {display: inline-block;margin: 0 5px 5px 0;}
.portlet-body .tag_list span input {display: none;}
#contact_list_content li.customer_item .customer_message span.icon_message {height: 20px;width: 20px;background: url(../graphic/icon_message.png) no-repeat center center;background-size: 20px auto;display: inline-block;margin: 0 5px 0 0;}
#contact_list_content li.customer_item .customer_message span.icon_message::before {display: none;}
.selected_tag_list .customer_tag {height: 15px;background: #ccc;border-radius: 10px;padding: 0px 10px;}
.selected_tag_list .customer_tag input {display: none;}
.selected_tag_list .customer_tag::after {content: 'x';color: #fff;}


body .bm_header .ricerca form {margin: 0;background: #fff;height: 37px;border: 1px solid #5f696e;}
body .bm_header .ricerca button {height: 37px;width: 37px;}
body .bm_header .ricerca input {height: 37px;}
body .bm_header .ricerca button .icon_search {height: 37px;width: 37px;background: #5f696e url(../graphic/icon_search.png) no-repeat center center;background-size: auto 20px;margin: -1px 0 0 0;}
body .bm_header .ricerca button .icon_search:before {display: none;}
body .bm_header .ricerca button .icon_contact_list {background: #fff url(../graphic/icon_rubrica.png) no-repeat center center;background-size: auto 20px;display: block;height: 37px;width: 37px;margin: -1px 0 0 0;}
body .bm_header .ricerca button .icon_contact_list:before {display: none;}


#file {padding: 20px 30px;background: #f0f0f0;}
.allegato {padding: 10px 0;}
.allegato span {width: 40%;display: inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;vertical-align: top;}
.allegato label {width: 40%;font-size: 12px;vertical-align: top;color: #999;padding: 0;}
.allegato label input {width: 100%;line-height: 32px;min-height: 32px;vertical-align: top;}
.allegato .delete {height: 32px;width: 32px;padding: 0;vertical-align: top;text-indent: -9999px;background: #4a97cd url(https://dl.dropboxusercontent.com/u/151184/icon_delete.png) no-repeat center center !important;}


ul.ui-autocomplete {background: #eee;padding-bottom: 42px;}
ul.ui-autocomplete li {padding: 5px 8px;margin: 0 0 0 200px;background: #fff;}
ul.ui-autocomplete li:hover {background:#f5f5f5;}
ul.ui-autocomplete li span.user_id {display: block;color: #aaa;}
ul.ui-autocomplete li.ui-autocomplete-category {background: #eee;padding: 10px 10px 10px;position: absolute;margin: 0;width: 200px;box-sizing: border-box;font-weight: bold;border-top:1px solid #ddd;}
ul.ui-autocomplete li.category-first-item {padding-top: 10px;border-top: 1px solid #ddd;}
ul.ui-autocomplete li.ui-autocomplete-linkall {position: absolute;bottom: 0;right: 0;height: 42px;background: #999;display: block;width: 100%;text-align: center;line-height: 42px;box-sizing: border-box;padding: 0;margin: 0;}
ul.ui-autocomplete li.ui-autocomplete-linkall span {cursor: pointer;display: inline-block;padding: 0 10px;background: #eee;border-radius: 16px;line-height: 22px;height: 22px;width: auto;}

.bm_layout_body input[type=checkbox].prefs_checkbox {opacity: 1;}
.portlet_configuration_list .portlet_configuration_element label {top:auto;}
.portlet_configuration_element input, .portlet_configuration_element label {vertical-align: middle;}
#_rdvfelrhomepageconfiguration_WAR_rdvfelrhomepageconfigurationportlet__portlet_configuration_menu {position: relative;}
.portlet_configuration_list.open {display: block;position: absolute;}
*/

/* header */
.bm_layout_global .bm_layout_header {background: #fff;}
.bm_layout_global .bm_header {}
.bm_layout_global .bm_layout_header .col16, .bm_layout_global .bm_layout_head_menu .col16 {padding: 0;}
.bm_layout_global .bm_layout_head_menu {background: #192d6e;}
.bm_layout_global .bm_menu_oriz > ul > li, .bm_layout_global .bm_menu_oriz.ritrd > ul > li:hover {color: #fff;}
.bm_layout_global .bm_menu_oriz > ul > li.current {background: #c8057d;}
.bm_layout_global .bm_menu_oriz > ul > li:hover, .bm_layout_global .bm_menu_oriz > ul > li.hover {background: #c8057d;}
.bm_layout_global .bm_menu_oriz > ul > li.current > a {color: #fff;}
.bm_layout_global .bm_menu_oriz > ul > li > a,
.bm_layout_global .bm_menu_oriz.ritrd > ul > li > a:hover,
.bm_layout_global .bm_menu_oriz.ritrd > ul > li:hover > a {font-size: 1.4rem;color: #fff;}
.bm_layout_global .bm_header .link_header, .bm_layout_global .bm_header .utente {border: none;box-shadow: none;}
.bm_layout_global .bm_header .link_header {color: #bbb;}
.bm_layout_global .bm_header .logo img {display: none;}
.bm_layout_global .bm_header .logo {padding: 0;width:225px;height: 70px;background: url(../graphic/logo.png) no-repeat left center;}
.bm_layout_global .bm_header .logo a {}


/* menu */
body .bm_menu_oriz ul ul {background: #fff;}
body .bm_menu_oriz ul ul a {color: #192d6e;}
body .bm_menu_oriz ul.dropdown_menu_large {border: 3px solid #c8057d;min-width: 250px !important;}

/* menu responsive*/
.menu_hambuger {position: relative;background: #192d6e;display: none;height: 70px;float: left;width: 60px;color: #fff;text-align: center;text-transform: uppercase;font-size: 10px;}
.menu_hambuger::before {content: '';display: block;height: 24px;width: 24px;background: url(../graphic/icon_burger.svg) no-repeat center center;background-size: 24px;margin: 14px auto 4px;}
@media (max-width:1024px) {
  body .bm_menu_oriz {width: 250px;position: absolute;left: 0;z-index: 9999;background: #192d6e;}
  body .bm_menu_oriz > ul {display: inline-block;position: relative;}
  body .bm_menu_oriz > ul > li, body .bm_menu_oriz.ritrd > ul > li:hover {display: list-item;}
  body .bm_menu_oriz > ul > li > a, body .bm_menu_oriz.ritrd > ul > li > a:hover, body .bm_menu_oriz.ritrd > ul > li:hover > a {text-align: left;}
  body .bm_menu_oriz > ul > li > ul, body .bm_menu_oriz > ul > li > ul.dropdown_menu_large {left: 250px !important;margin-top: -35px !important;}
  body .bm_menu_oriz > ul > li > ul.dropdown_menu_large > li {display: list-item;}
  body .bm_menu_oriz ul.dropdown_menu_large > ul {display: none;position: absolute;left: 250px;margin-top: -35px !important;border: 3px solid #c8057d;border-left:none;}
  body .bm_menu_oriz ul.dropdown_menu_large > li:hover ul {display: block;}
  body .bm_menu_oriz > ul > li.current > a:before {display: none;}
  .menu_hambuger {display: block;}
}

/* user menu */
.bm_layout_global .bm_header .utente .bm_box_status {top:75px;margin-left:38px;}
.bm_layout_global .bm_header .utente .bm_box_status:before {content: '';display: block;position: absolute;top: -8px;height: 16px;width: 16px;background: #fff;border: 1px solid #5f696e;border-bottom: none;border-right: none;left: 50%;margin-left: -10px;transform: rotate(45deg);}

/* toolbar */
.toolbar_stato_chat_menu {position: absolute;padding: 10px;background: #fff;bottom: 50px;left: 70px;border: 1px solid #5f696e;}
.toolbar_stato_chat_menu ul li {padding: 4px 15px;display: block;font-size: 1.2rem;color: #666666;}
.toolbar_stato_chat_menu ul li:first-child {border-bottom: 1px dotted #ccc;}
.toolbar_stato_chat_menu ul li .stato {height: 16px;width: 16px;display: inline-block;border-radius: 50%;background: #aaa;vertical-align: middle;margin: -2px 5px 0 0;}
.toolbar_stato_chat_menu ul li .stato.stato-on {background: red;}
.toolbar_stato_chat_menu ul li .stato.stato-off {background: green;}
.toolbar_stato_chat_menu:after {content: '';display: block;position: absolute;bottom: -9px;height: 16px;width: 16px;background: #fff;border: 1px solid #5f696e;border-top: none;border-left: none;left: 50%;margin-left: -10px;transform: rotate(45deg);}
.bm_layout_toolbar .col_16 {position: relative;}
.bm_layout_toolbar .buttons_wrapper span.icon_chat {position: relative;background: url(icon_chat.png) no-repeat center center;background-size: contain;}
.bm_layout_toolbar .buttons_wrapper span.icon_chat .stato {position: absolute;margin:0;top: 5px;right: 5px;height: 8px;width: 8px;border-radius: 50%;background: grey;}
.bm_layout_toolbar .buttons_wrapper span.icon_chat .stato.stato-on {background: green;}
.bm_layout_toolbar .buttons_wrapper span.icon_chat .stato.stato-off {background: red;}
