#academy_accordion .header {background: #4eb5bc url(academy_graphic/bg_top_academy.gif) no-repeat top;height: 60px;}
#academy_accordion .accordion-title {margin-top: 10px;font-family: "BreraLight", Helvetica, Arial, sans-serif;}
#academy_accordion .accordion-title a {background: #1c2b32;height: 3em;line-height: 3em;font-size: 1.4em;padding: 0 1.0em;color: #fff;display: block;text-decoration: none;border-radius: 2px;-moz-border-radius: 2px;}
#academy_accordion .accordion_content {display:none;min-height: 140px;position: relative;background: #4eb5bc;margin: 0 5px 5px;border-radius: 0 0 3px 3px;-moz-border-radius: 0 0 3px 3px;padding: 10px;box-sizing: border-box;-moz-box-sizing: border-box;}
#academy_accordion .course_item {color: #333;border:none;border-bottom: 1px solid #48a6ae;border-top: 1px solid #61bcc1;clear: both;overflow: hidden;padding: 5px 0;}
#academy_accordion .course_item h2 {font-size: 16px;text-transform: uppercase;}
#academy_accordion .course_item a {color: #333;text-decoration: none;}
#academy_accordion .course_item .image {float:left;margin:0 10px 10px 0;}
#academy_accordion .course_item .image img {width:95px;border: 1px solid #fff;height: auto !important;}
#academy_accordion .course_item .course_content span {display: block;}
#academy_accordion .course_item .course_content .course_price {font-size: 24px;}
#academy_accordion .course_item .course_content .course_level {line-height: 22px;}
#academy_accordion ul.pager {text-align: right;}
ul.pager li a {background: none;text-decoration: none;box-shadow:none;}
ul.pager li a.on {background: #1c2b32;}

.notice .ACADEMY .balloon {background: #4eb5bc;}
.notice .scheda_articolo.ACADEMY .balloon {background: #fff;padding: 0px;border: 6px solid #4eb5bc;}
.notice .scheda.ACADEMY .user {border: none;}

