#multibar .bar .contentBar .passaparola-notifiche-giornalisti {border:none !important;overflow: visible !important;}
.passaparola-notifiche-giornalisti * {box-sizing: border-box !important;-moz-box-sizing:border-box !important;}
.passaparola-notifiche-giornalisti a {color: #000 !important;font-weight:bold !important;text-decoration:none !important;}
.passaparola-notifiche-giornalisti {height: 37px !important;position: relative !important;font-family: Arial, sans-serif !important;color: #333 !important;font-size: 12px !important;margin-top:-10px !important;}
.passaparola-notifiche-giornalisti .hidden {display: none !important;}
.passaparola-notifiche-giornalisti .counter .journalist-notification-container a {height:37px !important;width:30px !important;line-height: 30px !important;text-align: center !important;background: url(graphic/bar_ico_notification.png) no-repeat top left !important;color: #fff !important;font-weight: bold !important;display: block !important;text-decoration: none !important;font-size: 12px !important;text-shadow: 0 2px 0 rgba(0,0,0,0.3) !important;}
.passaparola-notifiche-giornalisti .counter.active .journalist-notification-container a {background-position: top right !important;}
.passaparola-notifiche-giornalisti .counter {z-index: 99 !important;position: relative !important;}
.passaparola-notifiche-giornalisti .panel {position: absolute !important;bottom:28px !important;left: -175px !important;}
.passaparola-notifiche-giornalisti .panel_box {width:380px !important;padding: 0 20px 10px !important;box-shadow: 1px 1px 2px rgba(0,0,0,0.5) !important;border-radius:0 0 3px 3px !important;background: #fff !important;}
.passaparola-notifiche-giornalisti .panel_box .item {font-size: 11px !important;padding: 10px 0 !important;border-bottom: 1px solid #eee !important;overflow: hidden !important;}
.passaparola-notifiche-giornalisti .panel_box .item img {border-radius: 50% !important;height: 32px !important;width:32px !important;vertical-align: middle !important;margin: 0 10px 0 0 !important;box-shadow: 0px 2px 0px #ddd !important;}
.passaparola-notifiche-giornalisti .panel .title {padding: 0 10px !important;line-height: 32px !important;color:#fff !important;background: #4f8456 url(graphic/ico_pencil.png) no-repeat 350px center !important;width: 380px !important;border-radius: 3px 3px 0 0 !important;font-size: 12px;background-size: 20px !important;box-shadow: 1px 1px 2px rgba(0,0,0,0.5) !important;}
.passaparola-notifiche-giornalisti .panel_box .thumb {float: left !important;}
.passaparola-notifiche-giornalisti .panel_box .content {overflow: hidden !important;padding: 10px 0 0 0 !important;}
.passaparola-notifiche-giornalisti .panel_box .pager {text-align: right !important;line-height: 20px !important;}
.passaparola-notifiche-giornalisti .panel_box .pager a {color: #666 !important;display: inline-block !important;width: 20px !important;height: 20px !important;padding: 0 !important;line-height: 20px !important;text-align:center !important;}

@media (max-width: 650px) {
    
    #multibar .bar .contentBar {overflow: visible;}
    #multibar.logged .bar .contentBar .user {height:40px;}
    #multibar.logged .bar .contentBar .emotional {height: 40px;}
    .passaparola-notifiche-giornalisti {width: 0 !important;padding: 0 !important;margin-top: 0 !important;}
    .passaparola-notifiche-giornalisti .counter {position: absolute !important;left: 75px !important;}
    .passaparola-notifiche-giornalisti .panel_box {width:350px !important;}
    .passaparola-notifiche-giornalisti .panel .title {width:350px !important;}
    .passaparola-notifiche-giornalisti .panel {bottom:40px !important;}
    
}