.plugin_myNewsPaperWidget .widget_padding {padding: 0;}
.plugin_myNewsPaperWidget .widget_title {padding: 0 20px;margin: 10px 0;}
.smile-present {height: 240px;width: 330px;background: #adc4af;}
.smile-present{
background: rgb(255,255,255); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%, rgba(173,196,175,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(173,196,175,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(173,196,175,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(173,196,175,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(255,255,255,1) 0%,rgba(173,196,175,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(255,255,255,1) 0%,rgba(173,196,175,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#adc4af',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.smile-present .article-image a {display: block;height: 175px;text-align: center;overflow: hidden;padding: 65px 0 0 0;}
.smile-present .ring {width: 60px;height: 60px;display: inline-block;padding: 10px;background: url(http://d3e4r6ceupz1gi.cloudfront.net/community/skins/rcs_corriere/graphic/emotion.png) no-repeat 0px -385px;vertical-align: middle;}
.smile-present .smile {width: 60px;height: 60px;display: block;background: url(http://d3e4r6ceupz1gi.cloudfront.net/community/skins/rcs_corriere/graphic/emotion.png) no-repeat -14px -285px;}
.smile-present .percentage {width: auto;height: 60px;line-height:30px;display: inline-block;text-align: left;font-size: 18px;color: #666;vertical-align: middle;text-transform: uppercase;margin-top: 5px;font-family: BreraRegular;}
.smile-present .percentage span {font-size: 24px;display: block;}
.smile-present .article-image a {text-decoration: none;}
.ring.perc0{background-position:-8px -383px;}
.ring.perc5{background-position:-93px -384px;}
.ring.perc10{background-position:-171px -384px;}
.ring.perc15{background-position:-253px -383px;}
.ring.perc20{background-position:-253px -383px;}
.ring.perc25{background-position:-417px -383px;}
.ring.perc30{background-position:-502px -383px;}
.ring.perc35{background-position: -8px -464px;}
.ring.perc40{background-position: -92px -464px;}
.ring.perc45{background-position: -173px -464px;}
.ring.perc50{background-position: -254px -464px;}
.ring.perc55{background-position: -336px -464px;}
.ring.perc60{background-position: -418px -464px;}
.ring.perc65{background-position: -502px -464px;}
.ring.perc70{background-position:-8px -547px;}
.ring.perc75{background-position:-92px -549px;}
.ring.perc80{background-position:-173px -547px;}
.ring.perc85 { background-position: -254px -548px;}
.ring.perc90 {background-position: -336px -548px;}
.ring.perc95 {background-position: -417px -547px;}
.ring.perc100 {background-position: -502px -546px;}
.smile-present.Indignato .smile {background-position: -14px -285px;}
.smile-present.Triste .smile {background-position: -86px -285px;}
.smile-present.Preoccupato .smile {background-position: -154px -285px;}
.smile-present.Divertito .smile {background-position: -224px -285px;}
.smile-present.Soddisfatto .smile {background-position: -294px -285px;}



/* widget home bottom */
.ugc.ugc_body a {font-family: "Times New Roman", "Times", serif;color: #333;text-decoration: none;}
.ugc.ugc_body span a {font-family: BreraRegular, sans-serif; color: #518456;font-size: 14px;}
.ugc .widget_title {text-decoration: none;}
#dai_cittadini_ai_cittadini .boxed.ugc .preview_area.text {font-family: BreraLight, sans_serif;font-size: 16px;}
#dai_cittadini_ai_cittadini .addUGC span a {height: 55px;}
#dai_cittadini_ai_cittadini .addUGC .group_counter {font-family: BreraLight, sans_serif;font-size: 15px;}



/* form viaggi (Betty+Piccio) */
.diarioViaggio {font-size: 13px;}
.diarioViaggio input[type="text"], .diarioViaggio textarea {font-size: 14px;}
.diarioViaggio input[type="button"] {cursor: pointer;}
.diarioViaggio .introDiario {overflow: hidden;font-size: 15px;font-weight: bold;font-family: "Trebuchet MS", Arial;}
.diarioViaggio .introDiario .title {display: block;font-size: 35px;font-family: "Trebuchet MS", Arial;color: #538552;font-weight: bold;}
.diarioViaggio .fieldTitle h2 {font-size: 18px;margin: 20px 0px;font-family: "Trebuchet MS", Arial;}
.diarioViaggio .block .field {padding-top: 30px;font-family: "Trebuchet MS";}
.diarioViaggio .block #localita .field {padding-top: 12px;width: 100%;background:#fff url(graphic/ico_viaggi_arrow.gif) 305px center no-repeat;padding-right: 30px;}
.diarioViaggio .block #fotoTitle {padding-top: 12px;}
.diarioViaggio .hint {font-size: 12px;display: block; padding-left: 10px;}
.diarioViaggio .block.block3 .field {margin-left: 16.6667%;padding-top: 14px;width: 66.6667%;}
.diarioViaggio .block.block3 .field input.field, .diarioViaggio .block.block3 .field textarea.field {width: 100%;box-sizing: border-box;-moz-box-sizing: border-box;margin-left: 0;}
.diarioViaggio .thumbs_container {overflow: hidden;}
.diarioViaggio .thumbs_container .thumb {width: 124px;height: 110px;display: inline-block;background: url(graphic/placeholder_viaggi_thumb.gif) no-repeat center top;position: relative;}
.removeThumb {position: absolute;bottom: 0;width: 124px;text-indent: -9999px;left: 0;background: url(graphic/ico_viaggi_x.gif) top center no-repeat;border: none;height: 20px;cursor: pointer;}
.removeThumb_ph {position: absolute;bottom: 0;width: 124px;text-indent: -9999px;left: 0;background: url(graphic/ico_viaggi_x.gif) bottom center no-repeat;border: none;height: 20px;}
.diarioViaggio .uploadFile {background: #538552 url(graphic/ico_viaggi_upload.gif) no-repeat right top;padding-right: 30px;font-size: 15px;}
.diarioViaggio .addAnotherFile {background: #538552 url(graphic/ico_viaggi_upload.gif) no-repeat right bottom;padding-right: 30px;font-size: 15px;}
.diarioViaggio #uploadFormSubmit {font-family: "Trebuchet MS", Arial;background: #538552 url(graphic/ico_viaggi_confirm.gif) no-repeat right center;padding-right: 45px;font-size: 18px;height: 50px;line-height: 50px;cursor: pointer;}
.diarioViaggio .confirm .final_agreement {font-size: 13px;font-family: "Trebuchet MS", Arial;}
.diarioViaggio .confirm a {font-size: 12px;font-family: "Trebuchet MS", Arial;}


