
.modal .reg_fourth_step h2 {margin-top: 0;}
#fourth_step_general_lightbox .modal-body {overflow: hidden;}
.reg_fourth_step .footer {margin-bottom: 0;}

@media screen and (max-width: 979px) {
	.reg_fourth_step .body.cittadini .title {display: none !important;}
}

@media screen and (max-width: 750px) {
	
}

@media screen and (max-width: 480px) {
	/* registartion 4 */
	.user.head .fav {margin:0 auto;}
	.modal .reg_fourth_step h2 {margin-top: 20px;}
	.registration_body .body.firme .user {margin: 0 0 20px 0;height:80px;position:relative;border:none;background: #fff;float:none;width:auto;}
	.registration_body .body.firme .user .rate {border:none;margin:0 10px 0 90px;padding:0 0 0 10px;border-top:1px solid #f5f5f5;}
	.registration_body .body.cittadini .user {margin: 0 0 20px 0;height:80px;position:relative;border:none;background: #fff;float:none;width:auto;}
	.registration_body .body.cittadini .user .rate {border:none;margin:0 10px 0 90px;padding:0 0 0 10px;border-top:1px solid #f5f5f5;}
	.registration_body .body.citta .user {margin: 0 0 20px 0;height:80px;position:relative;border:none;background: #fff;float:none;width:auto;}
	.registration_body .body.citta .user .rate {border:none;margin:0 10px 0 90px;padding:0 0 0 10px;border-top:1px solid #f5f5f5;}
	.reg_fourth_step .body.firme .user .picture, .reg_fourth_step .body.cittadini .user .picture, .reg_fourth_step .body.citta .user .picture {width: 80px;height: 80px;position: absolute;}
	.reg_fourth_step .body.firme .user img, .reg_fourth_step .body.cittadini .user img, .reg_fourth_step .body.citta .user img {width: 80px;height: 80px;}
	.reg_fourth_step .body.firme .user .nickname, .reg_fourth_step .body.cittadini .user .nickname, .reg_fourth_step .body.citta .user .nickname {float:none;width:auto;}
	.reg_fourth_step .body.cittadini .title {display: none !important;}
	
	/* bookmark modal */
	#bookmarkExport {width: 280px;}
	.navbar_bag {width: 100%;}
	.boxed.bookmark_menu {width: auto;margin: 0;padding: 0;float: none;display: block;}
	.boxed.span2.bookmark_articoli {width: auto;float: none;overflow: hidden;display: block;}
	
	/* la mia pagina */
	#feed_header .last_related_comments li.first_comment {float:none;}
	#feed_header .last_related_comments .user-comment {width: 170px;}
}


.ugc.ugc_body a {
font-size: 19px;
text-rendering: optimizeLegibility;
line-height: 20px;
max-height: 40px;
display: block;
overflow: hidden;
}

@media screen and (max-width: 480px) {
#feed_header .last_related_comments {margin-right: 120px;}
#feed_header .last_related_comments .user-comment {width: 140px;}
}


